<div class="row">
  <div class="col-md-5 offset-md-1">
    <label><b>เลขประจำตัว</b></label>
    <br>
    <label>{{modelNcbSubjectResult[0]?.memo1}}</label>
  </div>
  <div class="col-md-6">
    <label><b>วันเดือนปีเกิด : </b></label>
    <label>{{modelPersonalInfo[0]?.date_of_birth}}</label>
    <br>
    <label><b>สัญชาติ : </b></label>
    <label>{{modelPersonalInfo[0]?.nationality}}</label>
    <br>
    <label><b>เพศ : </b></label>
    <label>{{modelPersonalInfo[0]?.gender}}</label>
    <br>
    <label><b>สถานะสมรส : </b></label>
    <label>{{modelPersonalInfo[0]?.marital_status}}</label>
    <br>
    <label><b>จำนวนบุตร : </b></label>
    <label>{{modelPersonalInfo[0]?.number_of_children}}</label>
    <br>
    <label><b>อาชีพ : </b></label>
    <label>{{modelPersonalInfo[0]?.occupation}}</label>
    <br>
    <label><b>Subject Return : </b></label>
    <label>...</label>
    <br>
  </div>
  <br>
  <div class="col-md-12">
  ใช้สิทธิตรวจสอบแก้ไข/มีข้อโต้แย้ง
  </div>
</div>
