<br>
<form>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">ผู้ชำระเงิน</label>
    <div class="col-md-6">
      <input type="text" class="form-control" value="">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">ความสัมพันธ์กับผู้เช่าซื้อ</label>
    <div class="col-md-6">
      <input type="text" class="form-control" value="">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">ที่อยู่</label>
    <div class="col-md-6">
      <textarea class="form-control" rows="2"></textarea>
    </div>
    <app-custom-button [option]="'process'" [title]="'Duplicate Address From Current'"></app-custom-button>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">โทรศัพท์</label>
    <div class="col-md-6">
      <input type="text" class="form-control" value="">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">โทรศัพท์มือถือ</label>
    <div class="col-md-6">
      <input type="text" class="form-control" value="">
    </div>
  </div>

</form>
