<p-panel header="ตารางค่างวด">
  <div class="p-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <div class="row">
        <div class="col-md-12">
          <p-table [value]="list_Repayment" [paginator]="true" [rows]="10" scrollable="true" [style]="{width:'90vw'}"
                   scrollHeight="50vh" [resizableColumns]="true" columnResizeMode="expand"
                   selectionMode="single">
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col style="width:80px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn class="text-center">Installmemt</th>
                <th pResizableColumn class="text-center">Due date</th>
                <th pResizableColumn class="text-center">Due Amuont</th>
                <th pResizableColumn class="text-center">VAT</th>
                <th pResizableColumn class="text-center">Begin Principle</th>
                <th pResizableColumn class="text-center">Principle</th>
                <th pResizableColumn class="text-center">Interest</th>
                <th pResizableColumn class="text-center">End Principal</th>
                <th pResizableColumn class="text-center">O/S Interest</th>
                <th pResizableColumn class="text-center">O/S AR</th>
                <th pResizableColumn class="text-center">O/S VAT</th>
                <!--<th class="text-center">Day</th>-->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData">
                <td class="text-center">{{rowData.no}}</td>
                <td class="text-center">{{rowData.due_date}}</td>
                <td class="text-right">{{rowData.due_amt | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.vat | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.begin_pri | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.principal | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.interest | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.os_principal | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.os_interest | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.os_ar | number:'.2-2'}}</td>
                <td class="text-right">{{rowData.os_vat | number:'.2-2'}}</td>
                <!--<td class="text-center">{{rowData.day}}</td>-->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</p-panel>
