<fieldset [disabled]="isReadonly">
  <div class="d-flex">
    <div class="col-md-3">
      <div class="form-group">
        <p-dataTable selectionMode="single" [value]="listAmendKeyIn"
                     [(selection)]="selectValue"
                     (onRowSelect)="onSelectValue(selectValue)"
                     [immutable]="false"
                     [responsive]="true">
          <p-header>
            <app-custom-botton-icon [option]="'new'" (onBtnClick)="onAddValue()"></app-custom-botton-icon>
            <app-custom-botton-icon [option]="'delete'"
                                    (onBtnClick)="onDeleteValue(selectValue)"></app-custom-botton-icon>
          </p-header>
          <p-column field="old_data" header="Before Amend"
                    [style]="{'overflow':'hidden','text-overflow':'ellipsis','white-space':'nowrap'}"></p-column>
          <p-column field="new_data" header="After Amend"
                    [style]="{'overflow':'hidden', 'white-space':'nowrap','text-overflow':'ellipsis'}"></p-column>
        </p-dataTable>
      </div>
    </div>

    <div class="col-md-9 border-isa">
      <div class="row">
        <div class="col-md-6 form-group">
          <label>Before Amend</label>
          <textarea class="form-control"
                    pInputTextarea
                    [rows]="10"
                    [(ngModel)]="selectValue.old_data">
        </textarea>
        </div>
        <div class="col-md-6 form-group">
          <label>After Amend</label>
          <textarea class="form-control"
                    pInputTextarea
                    [rows]="10"
                    [(ngModel)]="selectValue.new_data">
        </textarea>
        </div>
      </div>
    </div>
  </div>
</fieldset>
