<div class="border-isa">
  <div class="flex-row p-3">
    <div class="form-group row">
      <div class="col-md-2">
        <label class="mt-4 pt-2">Status Charge</label>
      </div>
      <div class="col-md-2">
        <label>Total</label>
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_status">
      </div>
      <div class="col-md-2">
        <label>Paid Amount</label>
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_paid_status">
      </div>
      <div class="col-md-2">
        <label>Waive Amount</label>
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_waive_status">
      </div>
      <div class="col-md-2">
        <label>Net Total</label>
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_net_status">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <label>Legal Charge</label>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_legal">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_paid_legal">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_waive_legal">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_net_legal">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <label>Reposses Up Country Charge</label>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_repos">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_paid_repos">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_waive_repos">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text" readonly appMyCurrency [fraction]="2"
               [value]="custService.srviceCustModel.ds_stslegalreposchrge.lblcharge_net_repos">
      </div>
    </div>
  </div>
  <div>
    <p-dataTable [value]="custService.srviceCustModel.list_cdsstatus_charge" [rows]="20">
      <p-headerColumnGroup>
        <p-row>
          <p-column header="Status Date"></p-column>
          <p-column header="Old Status"></p-column>
          <p-column header="New Status"></p-column>
          <p-column header="Status"></p-column>
          <p-column header="Legal"></p-column>
          <p-column header="Repossesion"></p-column>
          <p-column header="Over due Terms"></p-column>
          <p-column header="Change Owner"></p-column>
          <p-column header="Old Owner"></p-column>
          <p-column header="New Owner"></p-column>
          <p-column header="Appr. Owner"></p-column>
          <p-column header="Request Date"></p-column>
        </p-row>
      </p-headerColumnGroup>
      <p-column field="change_status_dt"></p-column>
      <p-column field="status_old"></p-column>
      <p-column field="status_new"></p-column>
      <p-column field="status_chrge_amt" [style]="{'text-align':'right'}"></p-column>
      <p-column field="legal_chrge_amt" [style]="{'text-align':'right'}"></p-column>
      <p-column field="repos_chrge_amt" [style]="{'text-align':'right'}"></p-column>
      <p-column field="over_due_inst_trm" [style]="{'text-align':'right'}"></p-column>
      <p-column field="chnge_ownr_dt"></p-column>
      <p-column field="cal_old_owner"></p-column>
      <p-column field="cal_new_owner"></p-column>
      <p-column field="ap_old_name"></p-column>
      <p-column field="reqst_dt"></p-column>
    </p-dataTable>
  </div>
</div>
