<p-panel header="ค่าต่อภาษี">
  <div class="p-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">

      <dl class="row row--sm-gap">
        <div class="col-md-3 col-md-3--sm-gap my-auto text-right">
          <dt>ทรัพย์สิน</dt>
        </div>
        <div class="col-md-2 col-md-2--sm-gap p-0">
          <select class="form-control" [value]="vSelected.a_order" (change)="vSelected = list_CalcExtendVat[$event.target.value - 1]">
            <option *ngFor="let obj of list_CalcExtendVat">{{obj.a_order}}</option>
          </select>
        </div>
      </dl>

      <dl class="row">
        <div class="col-md-3 text-right">
          <dt>ค่าต่อภาษี ไม่รวมค่าบริการ :</dt>
        </div>
        <div class="col-md-3 text-right">
          <dd class="highlighter-blue">{{vSelected.pnlReg_Amt_E_Service || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>

        <div class="col-md-3 text-right">
          <dt>ค่าปรับ ค่าต่อภาษี :</dt>
        </div>
        <div class="col-md-3 text-right">
          <dd class="highlighter-blue">{{vSelected.pnlCal_Reg_Penalty || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>

        <div class="col-md-3 text-right">
          <dt>รวมค่าต่อภาษี :</dt>
        </div>
        <div class="col-md-3 text-right">
          <dd class="highlighter-blue">{{vSelected.pnlReg_Sub_Total1 || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>
      </dl>

      <dl class="row">
        <div class="col-md-3 text-right">
          <dt>ค่าบริการไม่รวม VAT :</dt>
        </div>
        <div class="col-md-3 text-right">
          <dd class="highlighter-blue">{{vSelected.pnlService_Amt || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>

        <div class="col-md-3 text-right">
          <dt>VAT ค่าบริการ :</dt>
        </div>
        <div class="col-md-3 text-right">
          <dd class="highlighter-blue">{{vSelected.pnlService_VAT || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>

        <div class="col-md-3 text-right">
          <dt>หัก ณ ที่จ่าย :</dt>
        </div>
        <div class="col-md-3">
          <div class="row row--sm-gap">
            <div class="col-lg-3 col-lg-3--sm-gap col-10 col-10--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected.pnlTax_Rate || '0' | number:'.2-2'}}</dd>
            </div>
            <div class="col-lg-1 col-lg-1--sm-gap col-2 col-2--sm-gap">%</div>
            <div class="col-lg-8 col-lg-8--sm-gap  col-12 col-12--sm-gap text-right">
              <dd class="highlighter-blue">{{vSelected.pnlTax_Amt || '0' | number:'.2-2'}}</dd>
            </div>
          </div>
        </div>
        <div class="offset-lg-6"></div>

        <div class="col-md-3 text-right">
          <dt>รวมค่าบริการ + VAT หลังหัก ณ ที่จ่าย :</dt>
        </div>
        <div class="col-md-3  text-right">
          <dd class="highlighter-blue">{{vSelected.pnlReg_Sub_Total2 || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>

        <div class="col-md-3 text-right">
          <dt>ช่องบริการ (DS) :</dt>
        </div>
        <div class="col-md-3  text-right">
          <dd class="highlighter-blue">{{vSelected.pnlReg_Other_Exp || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>
      </dl>

      <dl class="row">
        <div class="col-md-3 text-right">
          <dt>ค่าต่อภาษีรวมค่าบริการ :</dt>
        </div>
        <div class="col-md-3  text-right">
          <dd class="highlighter-blue">{{vSelected.pnlReg_Amt_E_Service || '0' | number:'.2-2'}}</dd>
        </div>
        <div class="offset-lg-6"></div>
      </dl>
    </div>
  </div>
</p-panel>