<p-tabView>
  <p-tabPanel header="Condition">
    <div class="main-container">
      <div class="d-flex">
          <!------------------Condition-------------------------->
        <div class="flex-md-column col-md-6">
          <div class="form-group form-inline border-isa">
            <label> Condition </label>
            <p-dataTable selectionMode="single" [value]="listCOND_MKT"
                         [scrollable]="true" scrollHeight="200px"
                         [(selection)]="selectCond"
                         (onRowDblclick)="onDbClickCondition(selectCond)"
                         [responsive]="true">
              <p-column field="remark" header=" Condition Detail "></p-column>
              <p-footer>
                <div class="ui-helper-clearfix" style="width:100%">
                </div>
              </p-footer>
            </p-dataTable>
          </div>
          <div class="border-isa">
            <textarea class="form-control" rows="5" style="resize: none" [(ngModel)]="myCaHead.ca_condition"></textarea>
          </div>
        </div>
        <!------------------Remark-------------------------->
        <div class="flex-md-column col-md-6">
          <div class="form-group border-isa">
            <label> Remark </label>
            <textarea class="form-control pb-0" rows="10" style="resize: none"  [(ngModel)]="myCaHead.ca_remark"></textarea>

            <label> Previous Condition </label>
            <textarea class="form-control pb-0" rows="10" style="resize: none" [(ngModel)]="myCaHead.ca_prv_cond"></textarea>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Opinion" value="3" *ngIf="false">
    <p-panel header="Opinion">
      <div class="main-container">
        <div class="d-flex">
          <div class="flex-md-column col-md-6 ">
            <div class="form-group">
              <label class="my-1">Additon infomation</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> &nbsp; </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label class="my-3"> Suggest to approve with condition </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </p-tabPanel>
  <p-tabPanel header="Follow up point" *ngIf="false">
    <p-panel header="Follow up point">
      <div class="main-container">
        <div class="d-flex">
          <div class="flex-md-column col-md-6 ">
            <div class="form-group">
              <div class="form-inline">
                <label>Expected Date : </label>
                <p-calendar dateFormat="dd/mm/yy" class="my-1"  showButtonBar="true" ></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <p-panel header="Follow up point">
          <div class="d-flex">
            <div class="flex-md-column col-md-6 ">
              <div class="form-group">
                <textarea class="form-control"></textarea>
              </div>
            </div>
          </div>
        </p-panel>
        <p-panel header="Response Follow up point">
          <div class="d-flex">
            <div class="flex-md-column col-md-6">
              <div class="form-group">
                <textarea class="form-control"></textarea>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </p-panel>
  </p-tabPanel>
  <p-tabPanel header="Remark (Attached Sheet)" *ngIf="myCaHead.sbu_typ == 'FDO'">
    <div class="main-container">
      <div class="row">
        <div class="col-md-6 form-group border-isa">
          <p-dataTable selectionMode="single"
                       [value]="listRMK_ATT"
                       [scrollable]="true" scrollHeight="200px"
                       [(selection)]="selectRemark"
                       (onRowDblclick)="onRowSelect(selectRemark)"
                       [responsive]="true" >
            <p-column field="remark" header=" Remark "></p-column>
            <p-footer>
              <div class="ui-helper-clearfix" style="width:100%">
              </div>
            </p-footer>
          </p-dataTable>
        </div>
        <div class="col-md-6 form-group border-isa" >
          <textarea class="form-control pb-0"  rows="21" style="resize: none"  [(ngModel)]="myCaPricing.remark_attached_sheet"></textarea>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
