<p-panel header="Customer Paid (Group By Paid Date)">
  <div class="p-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <div class="row">
        <p-table [value]="custService.srviceCustModel.list_cdscust_paid">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:80px">
              <col style="width:80px">
              <col style="width:90px">
              <col style="width:70px">
              <col style="width:50px">
              <col style="width:80px">
              <col style="width:90px">
              <col style="width:85px">
              <col style="width:85px">
              <col style="width:85px">
              <col style="width:120px">
              <col style="width:80px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th colspan="5"></th>
              <th colspan="6" class="text-center" style="background-color: #64789c">Type</th>
              <th colspan="1"></th>
            </tr>
            <tr>
              <th class="text-center">Batch Date</th>
              <th class="text-center">Date Paid</th>
              <th class="text-center">Paid Amount</th>
              <th class="text-center">Paid Type</th>
              <th class="text-center">Status</th>
              <th class="text-center">Installment</th>
              <th class="text-center">Registration</th>
              <th class="text-center">Insurance</th>
              <th class="text-center">Legal</th>
              <th class="text-center">Other</th>
              <th class="text-center">Discount/WH Tax</th>
              <th class="text-center">Remark</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td class="text-center">{{rowData.batch_d}}</td>
              <td class="text-center">{{rowData.date_pay}}</td>
              <td class="text-center">{{rowData.amount | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.type_of_payment}}</td>
              <td class="text-center">{{rowData.status_code}}</td>
              <td class="text-center">{{rowData.inst_amt | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.reg_amt | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.ins_amt | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.legal_amt | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.other_amt | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.discount_amt | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.remark}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <th colspan="12">
                No Record Found
              </th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-panel>