<div class="root d-flex w-100 p-0">
  <div class="ml-auto p-1">
    <app-custom-button [option]="'print'" (onBtnClick)="callAttach()" [hidden] = "taskShorten == 'RV'">
    </app-custom-button>
  </div>
</div>
<div class="d-flex">
  <div class="col-md-3 pl-0">
    <fieldset [disabled]="isReadonly">
      <div class="form-group">
        <p-dataTable [value]="listBuyer"
                     selectionMode="single"
                     [(selection)]="selectBuyer"
                     (onRowSelect)="onRowSelect(selectBuyer)"
                     [scrollable]="true"
                     scrollHeight="300px"
                     [responsive]="true">
          <p-header>
            <app-custom-botton-icon [option]="'new'" (onBtnClick)="openEntity()"></app-custom-botton-icon>
            <app-custom-botton-icon [option]="'delete'" (onBtnClick)="deleteWarning()"></app-custom-botton-icon>
            <app-custom-botton-icon [option]="'edit'" (onBtnClick)="editEntity()"></app-custom-botton-icon>
          </p-header>
          <p-column field="seq_no" header="No." [style]="{'width':'75px'}"></p-column>
          <p-column field="buyer_name" header="Buyer Name"></p-column>
          <p-footer>
          </p-footer>

        </p-dataTable>
      </div>
    </fieldset>
  </div>
  <div class="col-md-9 border-isa">
    <div class="row">
      <div class="col-md-2">
        <label style="padding:5px;"><b>Buyer Code :</b></label>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control input-small" [value]="selectBuyer.buyer_code" readonly>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control input-small" [value]="selectBuyer.buyer_name" readonly>
      </div>
    </div>
    <br>
    <p-tabView>
      <p-tabPanel header="Buyer Detail">
          <app-ca-buyer-detail [isReadOnly] = "isReadonly"
                               [tabReadOnly] = "tabReadonly"></app-ca-buyer-detail>
      </p-tabPanel>
      <p-tabPanel header="Factored Documents">
        <app-ca-buyer-doc [isReadonly]="tabReadonly"></app-ca-buyer-doc>
      </p-tabPanel>
    </p-tabView>

  </div>
</div>

<app-entity-dialog #entity_dialog title="Buyer" [btnnew]="true"
                   (onEntitySelect)="getEntity($event)"></app-entity-dialog>

<app-alert-dialog #deleteDialog (onOK)="deleteBuyer()">

</app-alert-dialog>
