<p-panel header="Realized Commission">
  <div class="py-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <dl class="row row--sm-gap">
        <div class="col-12 col-12--sm-gap col-lg-8 col-lg-8--sm-gap">
          <p-table [value]="">
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:100px">
                <col style="width:110px">
                <col style="width:100px">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">TERM</th>
                <th class="text-center">Due Date</th>
                <th class="text-center">Commission</th>
                <th class="text-center">O/S Commission</th>
                <th class="text-center">O/S Principal</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <td class="text-center">{{rowData.term}}</td>
              <td class="text-center">{{rowData.due_date}}</td>
              <td class="text-right">{{rowData.comm || 0 | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.os_comm || 0 | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.os_prin || 0 | number:'.2-2'}}</td>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <th colspan="5">
                  No Record Found
                </th>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </dl>

      <dl class="row row--sm-gap">
        <div class="col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap text-right">
          <dt>Accru Income</dt>
        </div>
        <div class="text-center col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap">
          <dd class="highlighter-blue">...</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap text-right">
          <dt>Accru VAT</dt>
        </div>
        <div class="text-center col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap">
          <dd class="highlighter-blue">...</dd>
        </div>
      </dl>
      <dl class="row row--sm-gap">
        <div class="col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap text-right">
          <dt>Deferred Income</dt>
        </div>
        <div class="text-center col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap">
          <dd class="highlighter-blue">...</dd>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap text-right">
          <dt>Deferred Commission</dt>
        </div>
        <div class="text-center col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap">
          <dd class="highlighter-blue">...</dd>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap text-right">
          <dt>Deferred Subsidize</dt>
        </div>
        <div class="text-center col-lg-2 col-lg-2--sm-gap col-3 col-3--sm-gap">
          <dd class="highlighter-blue">...</dd>
        </div>
      </dl>

      <dl class="row row--sm-gap">
        <p-table [value]="">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:80px">
              <col style="width:80px">
              <col style="width:100px">
              <col style="width:80px">
              <col style="width:110px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">SEQ</th>
              <th class="text-center">TERM</th>
              <th class="text-center">DUE_DATE</th>
              <th class="text-center">AMOUNT</th>
              <th class="text-center">OS_SUBSIDIZE</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <td class="text-center">{{rowData.seq || 0 | number:'.2-2'}}</td>
            <td class="text-center">{{rowData.term || 0 | number:'.2-2'}}</td>
            <td class="text-center">{{rowData.due_date || 0 | number:'.2-2'}}</td>
            <td class="text-right">{{rowData.amt || 0 | number:'.2-2'}}</td>
            <td class="text-right">{{rowData.os_sub || 0 | number:'.2-2'}}</td>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <th colspan="5">
                No Record Found
              </th>
            </tr>
          </ng-template>
        </p-table>
      </dl>
    </div>
  </div>
</p-panel>