<p-panel header="ค่าโอนทะเบียนรถยนต์">
  <dl class="row">
    <dt class="col-md-2">ค่าโอน กรณี ขอใช้ทะเบียนจังหวัดเดิม</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl1 | number:'.2-2'}}</dd>

    <dt class="col-md-2">รับฝากค่าโอน</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl2 | number:'.2-2'}}</dd>

    <dt class="col-md-2">รายได้ค่าโอนทะเบียน</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl3 | number:'.2-2'}}</dd>

    <dt class="col-md-2">ภาษีขาย</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl4 | number:'.2-2'}}</dd>
  </dl>

  <dl class="row">
    <dt class="col-md-2">ค่าโอน กรณี ขอใช้ทะเบียนจังหวัดอื่น</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl5}}</dd>

    <dt class="col-md-2">รับฝากค่าโอน</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl6 | number:'.2-2'}}</dd>

    <dt class="col-md-2">รายได้ค่าโอนทะเบียน</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl7 | number:'.2-2'}}</dd>

    <dt class="col-md-2">ภาษีขาย</dt>
    <dd class="col-md-1 txt-right">{{vSelected_list_Asset.lbl8 | number:'.2-2'}}</dd>
  </dl>
</p-panel>
