body .ui-datatable .ui-datatable-thead > tr > th {
  background: green;
  padding: .75em;
  border-color: #c7c7c7;
  color: #ffffff;
}


/*body .ui-datatable .ui-datatable-data tr.inbox-Read{*/
/*background-color: red;*/
/*}*/

/*body .ui-datatable .ui-datatable-data tr.inbox-UnRead{*/
/*background-color: yellow;*/
/*}*/

body .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
  background-color: #0275d8;
  color: #ffffff;
  border: 1px solid #e9ecef;
}

body .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
  background-color: #0275d8;
  color: #ffffff;
  border: 1px solid #e9ecef;
}
