<div class="border-isa">
  <p-dataTable [responsive]="true" [value]="data" [rows]="20">
    <p-headerColumnGroup>
      <p-row>
        <p-column header="No."></p-column>
        <p-column header="Old Tel"></p-column>
        <p-column header="New Tel"></p-column>
        <p-column header="Request By"></p-column>
        <p-column header="Change By"></p-column>
        <p-column header="Change Date"></p-column>
      </p-row>
    </p-headerColumnGroup>
    <p-column field="1"></p-column>
    <p-column field="2"></p-column>
    <p-column field="3"></p-column>
    <p-column field="4"></p-column>
    <p-column field="5"></p-column>
    <p-column field="6"></p-column>
  </p-dataTable>
</div>
