<div [hidden]="!checkLoading" class="text-center">
  <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>Loading...
</div>
<div [hidden]="checkLoading">
  <app-action-button-form [title]="TITLE" [showBack]="false" [showSearch]="false" [showNew]="false" [showEdit]="false"
                          [showCalculator]="false"
                          [showCancel]="false">
  </app-action-button-form>
  <div class="modal-body m-1 border-isa">
    <p-panel [toggleable]="true">
      <p-header>
        <div style="display: inline-block">
          {{loanService.srviceLoanModel.agr_code}} | {{loanService.srviceLoanModel.ref_code}} |
          {{loanService.srviceLoanModel.lblC_Status}} |
          {{loanService.srviceLoanModel.Collector}} | {{loanService.srviceLoanModel.lblCust_Name}}
          <!--{{custService.srviceCustModel.agr_code}} | {{custService.srviceCustModel.ref_code}} | {{custService.srviceCustModel.lblc_status}}-->
          <!--| {{custService.srviceCustModel.collector}} | {{custService.srviceCustModel.lblcust_name}}-->
        </div>
      </p-header>

      <div class="container-fluid" style="word-break: break-all">
        <div class="row row--sm-gap">
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>ชื่อลูกค้า</dt>
          </div>
          <div class="col-lg-3 col-lg-3--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="star highlighter-blue">{{loanService.srviceLoanModel.lblCust_Name || '...'}}</dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>พนักงานดูแลลูกค้า</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-md-10 col-md-10--sm-gap">
                <dd class="highlighter-blue">{{loanService.srviceLoanModel.lbl_collector_tel || '...'}}</dd>
              </div>
            </div>
          </div>

          <div class="col-lg-1"></div>
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>ค่างวด</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.lblInstallment_E_VAT || '0' | number:'.2-2'}}</dd>
          </div>

          <!-- Row2 -->
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>เลขที่สัญญา</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.agr_code}}</dd>
          </div>
          <div class="col-lg-1"></div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-2 col-md-2--sm-gap ">
            <dt>เงินต้นคงเหลือ</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.lblOS_PRI || '0' | number:'.2-2'}}</dd>
          </div>

          <div class="col-lg-1"></div>
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>งวดผ่อนชำระ</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.lblTerms || '...'}}</dd>
          </div>

          <!-- Row3 -->
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>เลขที่อ้างอิง</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.ref_code || '...'}}</dd>
          </div>
          <div class="col-lg-1"></div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-2 col-md-2--sm-gap ">
            <dt>ค้างค่าใช้วงเงิน</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">0.00</dd>
          </div>

          <div class="col-lg-1"></div>
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>Payment Grade</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.lblPayment_Grading || '...'}}</dd>
          </div>

          <!-- Row4 -->
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>สถานะลูกค้า</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.lblC_Status || '...'}}</dd>
          </div>
          <div class="col-lg-1"></div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-2 col-md-2--sm-gap ">
            <dt>สัญญาเช่าซื้อ</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{loanService.srviceLoanModel.lblHP_Contract || '...'}}</dd>
          </div>

          <div class="col-lg-1"></div>
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap">
            <dt>ค้างดอกเบี้ย</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">-</dd>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="m-1 border-isa" style="word-break: break-all">
    <app-side-tab [defaultMenuName]="'ตารางค่างวด'">
      <app-side-tab-panel>
        <app-side-tab-level [nameMenu]="'ตารางค่างวด'">
        </app-side-tab-level>
        <app-side-tab-level [nameMenu]="'รับชำระค่างวด'">
        </app-side-tab-level>
      </app-side-tab-panel>

      <app-side-tab-main>
        <app-side-tab-content [nameContent]="'ตารางค่างวด'">
          <app-arpl-repayment></app-arpl-repayment>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'รับชำระค่างวด'">
          <app-arpl-paid-inst></app-arpl-paid-inst>
        </app-side-tab-content>
      </app-side-tab-main>
    </app-side-tab>
  </div>
</div>
