<div class="border-isa">
  <div class="flex-row p-3">
    <div class="form-group row">
      <div class="col-md-6 form-inline">
        <label>Term of past due</label>
        <input class="form-control ml-1" type="text">
      </div>
      <div class="col-md-6 form-inline">
        <label>Overdue Installment</label>
        <input class="form-control ml-1" type="text">
      </div>
    </div>
  </div>
  <div>
    <p-dataTable [value]="data" [rows]="20">
      <p-headerColumnGroup>
        <p-row>
          <p-column header="Term"></p-column>
          <p-column header="Installment"></p-column>
          <p-column header="Due"></p-column>
          <p-column header="As of Date"></p-column>
          <p-column header="Days Late"></p-column>
          <p-column header="Follow Up Debt"></p-column>
        </p-row>
      </p-headerColumnGroup>
      <p-column field="1"></p-column>
      <p-column field="2"></p-column>
      <p-column field="3"></p-column>
      <p-column field="4"></p-column>
      <p-column field="5" [style]="{'text-align':'right'}"></p-column>
      <p-column field="6" [style]="{'text-align':'right'}"></p-column>
    </p-dataTable>
  </div>
</div>
