
<p-dataTable [value]="dataTable" scrollable="true" scrollHeight="340px">
  <p-column field="runNo" header="ลำดับ"></p-column>
  <p-column field="changeType" header="ประเภทการแก้ไข"></p-column>
  <p-column field="fieldDesc" header="รายการแก้ไข"></p-column>
  <p-column field="oldData" header="ข้อมุูลเก่า"></p-column>
  <p-column field="newData" header="ข้อมูลใหม่"></p-column>
  <p-column field="changeBy" header="แก้ไขโดย"></p-column>
  <p-column field="editDt" header="วันที่แก้ไข"></p-column>
  <p-column field="sentDt" header="วันที่ส่ง"></p-column>
</p-dataTable>


