<p-panel header="Dealer">
  <dl class="row">
    <dt class="col-md-2">Name</dt>
    <dd class="col-md-4">{{ds_Dealer.name || '...'}}</dd>

    <dt class="col-md-2">Card No</dt>
    <dd class="col-md-4">{{ds_Dealer.card_no || '...'}}</dd>

    <dt class="col-md-2">Branch No</dt>
    <dd class="col-md-4">{{ds_Dealer.branch_no || '...'}}</dd>

    <dt class="col-md-2">EMail</dt>
    <dd class="col-md-4">{{ds_Dealer.email || '...'}}</dd>
  </dl>

  <dl class="row">
    <dt class="col-md-2">Pay Type</dt>
    <dd class="col-md-4">{{ds_Dealer.pay_type || '...'}}</dd>

    <dt class="col-md-2">Bank</dt>
    <dd class="col-md-4">{{ds_Dealer.bank || '...'}}</dd>

    <dt class="col-md-2">Branch</dt>
    <dd class="col-md-4">{{ds_Dealer.branch || '...'}}</dd>

    <dt class="col-md-2">Account No</dt>
    <dd class="col-md-4">{{ds_Dealer.account_no || '...'}}</dd>
  </dl>

  <dl class="row">
    <dt class="col-md-2">Address</dt>
    <dd class="col-md-10">{{ds_Dealer.address || '...'}}</dd>
  </dl>
</p-panel>
