<p-panel header="Dealer">
  <div class="py-3 border-isa">
    <div class="row row--sm-gap">
      <div class="col-lg-6">
        <div class="card border-light">
          <div class="card-header bg-transparent border-light card-header--blue">
            <b>ชื่อ - สกุล</b>
          </div>
          <div class=" card-body card-body--sm-gap ">
            <div class="card-text ">
              <div class="row row--sm-gap">
                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Name</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.name || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Card No</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.card_no || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Branch No</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.branch_no || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>E-Mail</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.email || '...'}}</dd>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="card border-light">
          <div class="card-header bg-transparent border-light card-header--blue">
            <b>ข้อมูลอื่นๆ</b>
          </div>
          <div class=" card-body card-body--sm-gap ">
            <div class="card-text ">
              <div class="row row--sm-gap">
                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Pay Type</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.pay_type || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Bank</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.bank || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Branch</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.branch || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Account No</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.account_no || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Address</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{ds_Dealer.address || '...'}}</dd>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>