<p-panel header="Master">
  <div class="py-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <dl class="row row--sm-gap">
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap my-auto">
          <dt>ทรัพย์สิน</dt>
        </div>
        <div class="col-lg-1 col-md-1 p-0">
          <select class="form-control" [value]="vSelected_list_Asset.lblA_Order" (change)="vSelected_list_Asset = list_Asset[$event.target.value - 1]">
            <option *ngFor="let obj of list_Asset">{{obj.lblA_Order}}</option>
          </select>
        </div>
      </dl>

      <dl class="row row--sm-gap">
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ประเภททรัพย์สิน</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblBody || '...'}}</dd>
            </div>
            <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblBody_Desc || '...'}}</dd>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ยี่ห้อ</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblBrand || '...'}}</dd>
            </div>
            <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblBrand_Desc || '...'}}</dd>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>รุ่นรถ</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class=" highlighter-blue">{{vSelected_list_Asset.lblModel || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ลักษณะรถ</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class=" highlighter-blue">{{vSelected_list_Asset.lblAsset_Description || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>อุปกรณ์</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblAccessory || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>สี</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblColor || '...'}}</dd>
            </div>
            <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblColor_Desc || '...'}}</dd>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ปี</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblYear || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>CC</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblCC || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>น้ำหนัก</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblWeight || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ระยะทางที่ใช้รถ(ก.ม)</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblMiles || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>เลขเครื่อง</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblEng_Num || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>เลขถัง</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblChassis || '...'}}</dd>
        </div>


        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>จำนวนที่นั่ง</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblSeat || '...'}}</dd>
            </div>
            <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblSeat_Desc || '...'}}</dd>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>เครื่องยนต์</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblEngine_Type || '...'}}</dd>
            </div>
            <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblEngine_Desc || '...'}}</dd>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ประเภทการใช้</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-xl-2 col-xl-2--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblVehicle_Used || '...'}}</dd>
            </div>
            <div class="col-xl-10 col-xl-10--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblVehical_Desc || '...'}}</dd>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>รหัสประกัน</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblInsure_Code || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>รหัส พรบ</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblCode + '-' + vSelected_list_Asset.lblSub_Code}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>Q.Matrix</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-xl-2 col-xl-2--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblQuantity_Matrix || '...'}}</dd>
            </div>
            <div class="col-xl-10 col-xl-10--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
              <dd class="highlighter-blue">{{vSelected_list_Asset.lblQ_Matrix_Desc || '...'}}</dd>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>เลขที่ทะเบียน</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblReg_Num || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>วันที่ต่อภาษี</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblReg_Date || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ภาษีหมดอายุ</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblReg_Exp || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ภาษีไม่รวมค่าบริการ</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <dd class="highlighter-blue text-right">{{vSelected_list_Asset.lblReg_Amt_E_Service || '0' | number:'.2-2'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ภาษีสุทธิรวมค่าบริการ</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
          <dd class="highlighter-blue text-right">{{vSelected_list_Asset.lblReg_Amt_I_Service || '0' | number:'.2-2'}}</dd>
        </div>

        <div class="offset-lg-4 offset-md-6"></div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ชื่อผู้ประกอบการขนส่ง</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblModel || '...'}}</dd>
        </div>

        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
          <dt>ผู้ดำเนินการทะเบียน</dt>
        </div>
        <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-center">
          <dd class="highlighter-blue">{{vSelected_list_Asset.lblModel || '...'}}</dd>
        </div>
      </dl>
    </div>
  </div>
</p-panel>
