<p-panel header="Penalty">
  <div class="p-3 border-isa" style="word-break: break-all">
    <div class="container-fluid">
      <div class="row">
        <p-table [value]="list_array" [responsive]="true">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:100px">
              <col style="width:30px">
              <col style="width:30px">
              <col style="width:30px">
              <col style="width:30px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Category</th>
              <th class="text-center">Total</th>
              <th class="text-center">Paid Amount</th>
              <th class="text-center">Waive Amount</th>
              <th class="text-center">Net Amount</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-idx="rowIndex">
            <tr>
              <td [ngClass]="idx%2==1? 'highlighter-blue' : null">
                <span class="ui-column-title">Category</span>
                <ng-container *ngIf="idx ==1 || idx ==3; else pointerbule">
                  <u style="cursor: pointer;color: red">{{rowData.category}}</u>
                </ng-container>
              </td>
              <ng-template #pointerbule>
                <u style="cursor: pointer;color: blue">{{rowData.category}}</u>
              </ng-template>
              <td class="text-right" [ngClass]="idx%2==1? 'highlighter-blue' : null">
                <span class="ui-column-title">Total</span>
                {{(rowData.total || '0' | number:'.2-2') }}
              </td>

              <ng-container *ngIf="idx ==0 || idx ==2; else newtd1">
                <td rowspan="2" class="text-right" [ngClass]="idx%2==1? 'highlighter-blue' : null">
                  <span class="ui-column-title">Paid Amount</span>
                  {{(rowData.paid_amt || '0' | number:'.2-2') }}
                </td>
              </ng-container>
              <ng-template #newtd1>
                <ng-container *ngIf="idx !=1 && idx !=3; else newtd2">
                  <td class="text-right" [ngClass]="idx%2==1? 'highlighter-blue' : null">
                    <span class="ui-column-title">Paid Amount</span>
                    {{(rowData.paid_amt || '0' | number:'.2-2') }}
                  </td>
                </ng-container>
              </ng-template>
              <ng-template #newtd2></ng-template>

              <ng-container *ngIf="idx ==0 || idx ==2; else newtd3">
                <td rowspan="2" class="text-right" [ngClass]="idx%2==1? 'highlighter-blue' : null">
                  <span class="ui-column-title">Waive Amount</span>
                  {{(rowData.waive_amt || '0' | number:'.2-2') }}
                </td>
              </ng-container>
              <ng-template #newtd3>
                <ng-container *ngIf="idx !=1 && idx !=3; else newtd4">
                  <td class="text-right" [ngClass]="idx%2==1? 'highlighter-blue' : null">
                    <span class="ui-column-title">Waive Amount</span>
                    {{(rowData.waive_amt || '0' | number:'.2-2') }}
                  </td>
                </ng-container>
              </ng-template>
              <ng-template #newtd4></ng-template>

              <ng-container *ngIf="idx ==0 || idx ==2; else newtd5">
                <td rowspan="2" class="text-right" [ngClass]="idx%2==1? 'highlighter-blue' : null">
                  <span class="ui-column-title">Net Amount</span>
                  {{(rowData.net_amt || '0' | number:'.2-2') }}
                </td>
              </ng-container>
              <ng-template #newtd5>
                <ng-container *ngIf="idx !=1 && idx !=3; else newtd6">
                  <td class="text-right" [ngClass]="idx%2==1? 'highlighter-blue' : null">
                    <span class="ui-column-title">Net Amount</span>
                    {{(rowData.net_amt || '0' | number:'.2-2') }}
                  </td>
                </ng-container>
              </ng-template>
              <ng-template #newtd6></ng-template>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row row--sm-gap mt-3">
        <div class="col-md-3 col-md-3--sm-gap text-right">
          <dt>Net Penalty</dt>
        </div>
        <div class="col-md-3 col-md-3--sm-gap">
          <dd class="highlighter-blue text-center">{{ds_penalty.lblpnet_penalty || 0 | number:'.2-2'}}</dd>
        </div>
        <div class="col-md-3 col-md-3--sm-gap text-right">
          <dt>Net Charge</dt>
        </div>
        <div class="col-md-3 col-md-3--sm-gap">
          <dd class="highlighter-blue text-center">{{ds_penalty.lblpnet_charge || 0 | number:'.2-2'}}</dd>
        </div>
      </div>
    </div>
  </div>
</p-panel>
