<p-panel header="Paid Legal">
  <div class="thead-responsive border-isa" style="overflow-x: auto;min-height: .01%; padding: 10px">
    <p-table [value]="list_cdspaid_legal" [paginator]="true" [rows]="10" scrollable="true" [style]="{width:'72vw'}"
             scrollHeight="50vh" [resizableColumns]="true" columnResizeMode="expand"
             selectionMode="single">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn>Batch Date</th>
          <th pResizableColumn>Receipt Number</th>
          <th pResizableColumn>Receipt Date</th>
          <th pResizableColumn>Paid Amount</th>
          <th pResizableColumn>Paid Type</th>
          <th pResizableColumn>Type</th>
          <th pResizableColumn>Amount</th>
          <th pResizableColumn>หมายเหตุ</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td>{{rowData.date_pay}}</td>
          <td>{{rowData.document_no}}</td>
          <td>{{rowData.document_date}}</td>
          <td>{{rowData.amount | number:'.2-2'}}</td>
          <td>{{rowData.paid_desc}}</td>
          <td>{{rowData.receive_name}}</td>
          <td>{{rowData.amount | number:'.2-2'}}</td>
          <td>{{rowData.remark}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <th colspan="8">
            No Record Found
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>
