<div class="d-flex">
  <div class="panel panel-default" style="width: 100%">
    <p-panel header="Other Card">
      <div class="main-container">
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Card Number</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Card Type</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Issued at .</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Dated Issued </label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Expiry date </label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-12">
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-12">
            <div class="form-group">
              <label></label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="panel panel-default" style="width: 100%">
    <p-panel header="Bank">
      <div class="main-container">
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Account name </label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Account Number </label>
              <input type="text" class="form-control">
              <br>
              <input type="checkbox" [checked]="data?.debit === 'Y'"
                     (change)="$event.target.checked ? (data.debit = 'Y') : (data.debit = 'N')"> Debit
            </div>
          </div>
        </div>

        <div class="flex-md-column col-md-6">
          <div class="form-group">
            <input type="radio" name="bt" value="N"> Saving
            <input type="radio" name="bt" value="Y"> Current
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Bank </label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="flex-md-column col-md-6">
            <div class="form-group">
              <label> Branch </label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-12">
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-md-column col-md-12">
            <div class="form-group">
              <label></label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<div class="d-flex">
  <div class="panel panel-default" style="border: solid;border-width:thin;width: 100%">
    <div class="form-group">
      <p-dataTable selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" rows="15"
                   [responsive]="true">
        <p-header>
          <app-custom-botton-icon [option]="'new'"></app-custom-botton-icon>
        </p-header>
        <p-column field="f1" header="Card Number"></p-column>
        <p-column field="f2" header="Card Type"></p-column>
        <p-column field="f3" header="Dated Issued"></p-column>
        <p-column field="f4" header="Expiry date"></p-column>
        <p-column field="f5" header="Issued at "></p-column>
        <p-footer></p-footer>
      </p-dataTable>
    </div>
  </div>
  <div class="panel panel-default" style="border: solid;border-width:thin;width: 100%">
    <div class="form-group">
      <p-dataTable selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" rows="15"
                   [responsive]="true">
        <p-header>
          <app-custom-botton-icon [option]="'new'"></app-custom-botton-icon>
        </p-header>
        <p-column field="f1" header="Account name"></p-column>
        <p-column field="f2" header="Account Type"></p-column>
        <p-column field="f3" header="Bank"></p-column>
        <p-column field="f4" header="Branch"></p-column>
        <p-column field="f5" header=" Debit"></p-column>
        <p-footer></p-footer>
      </p-dataTable>
    </div>
  </div>
</div>

