<div class="row">
  <div class="col-md-6">
    <p-panel [toggleable]="true" [collapsed]="false">
      <p-header>
        บัตรอื่น ๆ เพิ่มเติม
      </p-header>
      <form>
        <!--เลขบัตร-->
        <div class="form-group row">
          <label class="col-md-2 col-form-label">เลขบัตร</label>
          <div class="col">
            <input type="text" class="form-control" value="">
          </div>
        </div>

        <!--ประเภทบัตร-->
        <div class="form-group row">
          <label class="col-md-2 col-form-label">ประเภทบัตร</label>
          <div class="col">
            <select class="custom-select">
              <option selected value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <!--วันที่ออกบัตร-->
        <div class="form-group row">
          <label class="col-md-2 col-form-label">วันที่ออกบัตร</label>
          <div class="col-md-4">
            <p-calendar [(ngModel)]="issueDate" [ngModelOptions]="{standalone: true}"
                        dateFormat="dd/mm/yy"></p-calendar>
          </div>

          <label class="col-md-2 col-form-label">วันหมดอายุ</label>
          <div class="col-md-4">
            <p-calendar [(ngModel)]="expireDate" [ngModelOptions]="{standalone: true}"
                        dateFormat="dd/mm/yy"></p-calendar>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">ที่อยู่</label>
          <div class="col">
            <textarea class="form-control" rows="2"></textarea>
          </div>
        </div>
      </form>

      <div class="ml-auto p-1">
        <app-custom-button [option]="'new'"></app-custom-button>
        <app-custom-button [option]="'edit'"></app-custom-button>
        <app-custom-button [option]="'delete'"></app-custom-button>
      </div>
      <br>

      <p-dataTable [loading]="loading" loadingIcon="fa-spinner" rows="15"
                   [paginator]="true" [responsive]="true">
        <p-column field="f1" header="ประเภทบัตร"></p-column>
        <p-column field="f2" header="เลขบัตร"></p-column>
        <p-column field="f3" header="วันที่ออกบัตร"></p-column>
        <p-column field="f4" header="วันหมดอายุ"></p-column>
        <p-column field="f5" header="ที่อยู่"></p-column>
      </p-dataTable>

    </p-panel>
  </div>


  <div class="col-md-6">
    <p-panel [toggleable]="true" [collapsed]="false">
      <p-header>
        ธนาคาร
      </p-header>
      <form>
        <!--ชื่อบัญชี-->
        <div class="form-group row">
          <label class="col-md-2 col-form-label">ชื่อบัญชี</label>
          <div class="col-md-7">
            <input type="text" class="form-control" value="">
          </div>
        </div>

        <!--เลขที่บัญชี-->
        <div class="form-group row">
          <label class="col-md-2 col-form-label">เลขที่บัญชี</label>
          <div class="col-md-2">
            <input type="text" class="form-control" value="">
          </div>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            หักบัญชี
          </label>
        </div>

        <div class="form-group row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="optradio">Saving</label> &emsp;
            <label class="radio-inline"><input type="radio" name="optradio">Current</label>
          </div>
        </div>

        <!--ธนาคาร-->
        <div class="form-group row">
          <label class="col-md-2 col-form-label">ธนาคาร</label>
          <div class="col">
            <select class="custom-select">
              <option selected value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <!--สาขา-->
        <div class="form-group row">
          <label class="col-md-2 col-form-label">สาขา</label>
          <div class="col">
            <select class="custom-select">
              <option selected value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

      </form>

      <div class="ml-auto p-1">
        <app-custom-button [option]="'new'"></app-custom-button>
        <app-custom-button [option]="'edit'"></app-custom-button>
        <app-custom-button [option]="'delete'"></app-custom-button>
      </div>
      <br>

      <p-dataTable [loading]="loading" loadingIcon="fa-spinner" rows="15"
                   [paginator]="true" [responsive]="true">
        <p-column field="f1" header="ประเภทบัตร"></p-column>
        <p-column field="f2" header="เลขบัตร"></p-column>
        <p-column field="f3" header="วันที่ออกบัตร"></p-column>
        <p-column field="f4" header="วันหมดอายุ"></p-column>
        <p-column field="f5" header="ที่อยู่"></p-column>
      </p-dataTable>

    </p-panel>
  </div>
</div>
