<p-panel header="ข้อมูลผู้ค้ำ">
  <div class="py-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <p-table [value]="list_qryGuarantor" [(selection)]="vSelected_Guar" [responsive]="true" selectionMode="single" (onRowSelect)="onSelectGuar($event.index)">
        <ng-template pTemplate="header">
          <tr>
            <th>ความรับผิดชอบ</th>
            <th>รหัสผู้ค้ำประกัน</th>
            <th>ชื่อผู้ค้ำประกัน</th>
            <th>ความสัมพันธ์กับลูกค้า</th>
            <th>คีย์ลำดับที่</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td>{{rowData.responsibility_level}}</td>
            <td>{{rowData.guar_code}}</td>
            <td>{{rowData.guar_name}}</td>
            <td>{{rowData.relation_with_cus}}</td>
            <td>{{rowData.upd_crd_grd}}</td>
          </tr>
        </ng-template>
      </p-table>

      <br>

      <div class="row">
        <div class="col-lg-6">
          <div class="card border-light">
            <div class="card-header bg-transparent border-light card-header--blue">
              <b>ชื่อ - นามสกุล</b>
            </div>
            <div class="card-body card-body--sm-gap">
              <div class="card-text">
                <div class="row row--sm-gap">
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>คำนำหน้าชื่อ</dt>
                  </div>
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblF_Name || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>อายุ</dt>
                  </div>
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lbl_age || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>ชื่อ-สกุล</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblCus_Name || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>เลขที่บัตร</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblNew_Card_No || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>สาขาที่</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <div class="row row--sm-gap">
                      <div class="col-md-6 col-md-6--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblBranch_No || '...'}}</dd>
                      </div>
                      <div class="col-md-6 col-md-6--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblBus_Vat_Flg || '...'}}</dd>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-light">
            <div class="card-header bg-transparent border-light card-header--blue">
              <b>Current</b>
            </div>
            <div class=" card-body card-body--sm-gap ">
              <div class="card-text ">
                <div class="row row--sm-gap">
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>ที่อยู่</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblAddress + '\n' + vSelected_Guar.lblZip_Desc || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>สถานที่ใกล้เคียง</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblNear || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>ชื่อผู้ติดต่อ</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblContract || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>Tel</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <div class="row row--sm-gap">
                      <div class="col-md-8 col-md-8--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblTel || '...'}}</dd>
                      </div>
                      <div class="col-md-4 col-md-4--sm-gap">
                        <dd>
                          <u style="cursor: pointer;color: blue" (click)="onTelHist( 'TEL')">History Tel.</u>
                        </dd>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-light">
            <div class="card-header bg-transparent border-light card-header--blue">
              <div class="row row--sm-gap">
                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Card</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dt class="star">ที่อยู่ในใบเสร็จรับเงิน และใบกำกับภาษี</dt>
                </div>
              </div>
            </div>
            <div class="card-body card-body--sm-gap">
              <div class="card-text ">
                <div class="row row--sm-gap">
                  <div class="col-md-9 col-md-9--sm-gap">
                    <div class="row row--sm-gap">
                      <div class="col-md-4 col-md-4--sm-gap">
                        <dt>ที่อยู่</dt>
                      </div>
                      <div class="col-md-8 col-md-8--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblAdd_C + '\n' + vSelected_Guar.lblZip_C_Desc || '...'}}</dd>
                      </div>
                      <div class="col-md-4 col-md-4--sm-gap">
                        <dt>Tel.</dt>
                      </div>
                      <div class="col-md-8 col-md-8--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblTel_Card || '...'}}</dd>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dd style="cursor: pointer; color: blue " (click)="onTelHist( 'TEL_C') ">
                      <u>History Tel.</u>
                    </dd>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-light">
            <div class="card-header bg-transparent border-light card-header--blue">
              <b>ติดต่ออื่น ๆ</b>
            </div>
            <div class="card-body card-body--sm-gap">
              <div class="card-text ">
                <div class="row row--sm-gap">
                  <div class="col-md-9 col-md-9--sm-gap">
                    <div class="row row--sm-gap">
                      <div class="col-md-4 col-md-4--sm-gap">
                        <dt>SMS (Mobile 1)</dt>
                      </div>
                      <div class="col-md-8 col-md-8--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblSMS || '...'}}</dd>
                      </div>
                      <div class="col-md-4 col-md-4--sm-gap">
                        <dt>Mobile Phone</dt>
                      </div>
                      <div class="col-md-8 col-md-8--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblMobile_Phone || '...'}}</dd>
                      </div>
                      <div class="col-md-4 col-md-4--sm-gap">
                        <dt>E-Mail Address</dt>
                      </div>
                      <div class="col-md-8 col-md-8--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblEmail_Address || '...'}}</dd>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dd>
                      <u style="cursor: pointer;color: blue " (click)="onTelHist( 'MOBILE_PHONE') ">History Tel.
                        <br>(Mobile & SMS)</u>
                    </dd>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 ">
          <div class="card border-light">
            <div class="card-header bg-transparent border-light card-header--blue">
              <b>Office</b>
            </div>
            <div class="card-body card-body--sm-gap">
              <div class="card-text ">
                <div class="row row--sm-gap">
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>ที่อยู่</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblAdd_O + '\n' + vSelected_Guar.lblZip_O_Desc || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>บริษัท</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblOffice_Name || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>แผนก</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblOffice_Department || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>อาชีพ</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblOccupa_Desc || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>ตำแหน่ง</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblPosi_Desc || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>สถานที่ใกล้เคียง</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblNear_O || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>Tel. (ที่ทำงาน)</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <div class="row row--sm-gap">
                      <div class="col-md-8 col-md-8--sm-gap">
                        <dd class="highlighter-white">{{vSelected_Guar.lblTel_O || '...'}}</dd>
                      </div>
                      <div class="col-md-4 col-md-4--sm-gap">
                        <dd>
                          <u style="cursor: pointer; color: blue" (click)="onTelHist( 'TEL_O') ">History Tel.</u>
                        </dd>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-light">
            <div class="card-header bg-transparent border-light card-header--blue">
              <div class="row row--sm-gap">
                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Mail</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dt class="star">ที่อยู่ในใบเสร็จ</dt>
                </div>
              </div>
            </div>
            <div class="card-body card-body--sm-gap">
              <div class="card-text ">
                <div class="row row--sm-gap">
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>ที่อยู่</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblAdd_M + '\n' + vSelected_Guar.lblZip_M_Desc || '...'}}</dd>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-light">
            <div class="card-header bg-transparent border-light card-header--blue">
              <b>ที่อยู่ติดตามหนี้</b>
            </div>
            <div class="card-body card-body--sm-gap">
              <div class="card-text ">
                <div class="row row--sm-gap">
                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>ที่อยู่</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.richAdd_Debt || '...'}}</dd>
                  </div>

                  <div class="col-md-3 col-md-3--sm-gap">
                    <dt>จังหวัด</dt>
                  </div>
                  <div class="col-md-9 col-md-9--sm-gap">
                    <dd class="highlighter-white">{{vSelected_Guar.lblProvince_Debt || '...'}}</dd>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>

<app-action-dialog [title]="'History (Change Telephone Number)'" #tel_hist [width]="1000" [showOk]="true">
  <app-ccs-tel-hist [type]="tel_hist_typ" [ent_code]="ent_code"></app-ccs-tel-hist>
</app-action-dialog>