<!--<app-action-button-form [title]="TITLE" [showPrint]="true" [showCalculator]="true"-->
<!--[showSearch]="true" [showSave]="true" [showNew]="true"-->
<!--[titleSave]="'บันทึกผลการเจรจา'" [titlePrint]="'จดหมายแจ้งยอด Close Acc.'"-->
<!--[titleSearch]="'Search'" [titleNew]="'ดูผลการเจรจา'" [titleCalculator]="'Waive / Discount'">-->

<!--</app-action-button-form>-->

<p-panel header="Close Account">
  <div class="p-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <div class="d-flex flex-row justify-content-center">
        <div class="p-1 flex-md-column">
          <app-custom-button [option]="'save'" [title]="'บันทึกผลการเจรจา'"></app-custom-button>
        </div>
        <div class="p-1">
          <app-custom-button [option]="'new'" [title]="'ดูผลการเจรจา'"></app-custom-button>
        </div>
        <div class="p-1">
          <app-custom-button [option]="'calculate'" [title]="'Waive / Discount'"></app-custom-button>
        </div>
        <div class="p-1">
          <app-custom-button [option]="'submit'" [title]="'Submit'"></app-custom-button>
        </div>
      </div>
      <!--<app-custom-button [option]="'print'" [title]="'จดหมายแจ้งยอด Close Acc.'"></app-custom-button>-->
      <!--<app-custom-button [option]="'save'" [title]="'บันทึกผลการเจรจา'"></app-custom-button>-->
      <!--<app-custom-button [option]="'calculate'" [title]="'Waive / Discount'"></app-custom-button>-->
      <!--<app-custom-button [option]="'new'" [title]="'ดูผลการเจรจา'"></app-custom-button>-->

      <!--<div class="root d-flex w-100 p-2 ">-->
      <!--<div class="ml-auto p-1">-->
      <!--<app-custom-button [title]="'บันทึกผลการเจรจา'" [option]="'save'" (onBtnClick)="onTest('save')"-->
      <!--[disabled]="true"></app-custom-button>-->

      <!--<app-custom-button [title]="'ดูผลการเจรจา'" [option]="'search'"-->
      <!--(onBtnClick)="onTest('search')"></app-custom-button>-->

      <!--<app-custom-button [title]="'จดหมายแจ้งยอด Close Acc.'" [option]="'print'"></app-custom-button>-->

      <!--<app-custom-button [title]="'Waive / Discount'" [option]="'process'"></app-custom-button>-->
      <!--</div>-->
      <!--</div>-->


      <!--<div class="border border-secondary"-->
      <!--style="font-weight: bold;padding-left: 10px; padding-right: 10px; padding-top: 5px;">-->
      <!--<br>-->
      <!--<div class="d-flex align-content-center flex-wrap">-->
      <!--<form style="font-weight: bold;padding-left: 10px; padding-right: 10px; padding-top: 10px">-->

      <dl class="row row--sm-gap mt-3">
        <div class="col-xl-6 col-xl-6--sm-gap col-md-12 col-md-12--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-4 col-4--sm-gap">
              <dt class="col-form-label">Close Date: (ค.ศ.)</dt>
            </div>
            <div class="col-5 col-5--sm-gap">
              <p-calendar [(ngModel)]="date1 " [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="col-3 col-3--sm-gap">
              <app-custom-button [title]="'Calc'" [option]="'calculate'"></app-custom-button>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-xl-6--sm-gap col-md-12 col-md-12--sm-gap">
          <div class="d-xl-none mt-1"></div>
          <div class="row row--sm-gap">
            <div class="col-4 col-4--sm-gap">
              <dt class="col-form-label">Discount (%)</dt>
            </div>
            <div class="col-5 col-5--sm-gap">
              <input currencyMask class="form-control" [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }" value="">
            </div>
            <div class="col-3 col-3--sm-gap">
              <app-custom-button [title]="'Calc'" [option]="'calculate'"></app-custom-button>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-xl-6--sm-gap col-md-12 col-md-12--sm-gap">
          <div class="d-xl-none mt-1"></div>
          <div class="row row--sm-gap">
            <div class="col-4 col-4--sm-gap">
              <dt class="col-form-label">Discount Amount</dt>
            </div>
            <div class="col-5 col-5--sm-gap">
              <input currencyMask class="form-control text-right" [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }" value="">
            </div>
          </div>
        </div>
      </dl>
      <br>
      <dl class="row row--sm-gap">
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>Paid Term</dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>Paid Amount</dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
      </dl>
      <hr style="border-color: #64789c">
      <dl class="row row--sm-gap">
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>Balance AR</dt>
        </div>
        <div class="col-3 col-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-4 col-4--sm-gap text-right">
              <dd class="highlighter-blue">0.00</dd>
            </div>
            <div class="col-8 col-8--sm-gap text-right">
              <dd class="highlighter-blue">0.00</dd>
            </div>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>Balance VAT</dt>
        </div>
        <div class="col-3 col-3--sm-gap">
          <div class="row row--sm-gap">
            <div class="col-4 col-4--sm-gap text-right">
              <dd class="highlighter-blue">0.00</dd>
            </div>
            <div class="col-8 col-8--sm-gap text-right">
              <dd class="highlighter-blue">0.00</dd>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>Discount Amount</dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>Sub Total</dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="font-weight-bold" style="background-color: #ffdd90">0.00</dd>
          </div>
        </div>
      </dl>
      <hr style="border-color: #64789c">

      <dl class="row row--sm-gap">
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt (click)="openMenu('Penalty')">
            <u style="cursor: pointer;color: blue">
              Total Penalty
            </u>
          </dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt (click)="openMenu('Penalty')">
            <u style="cursor: pointer;color: blue">
              Total Charge
            </u>
          </dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>

        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt (click)="openMenu('Other Expense')">
            <u style="cursor: pointer;color: blue">
              Total Expense & Advance
            </u>
          </dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-3 col-3--sm-gap">
          <dt (click)="openMenu('Insurance')">
            <u style="cursor: pointer;color: blue">
              Total Insurance / Compulsory
            </u>
          </dt>
        </div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <br>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap my-auto">
          <dt (click)="openMenu('Other Expense')">
            <u style="cursor: pointer;color: blue">
              Total Registration
            </u>
          </dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right my-auto">
          <div>
            <dd class="highlighter-blue" style="margin-bottom: 0px">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt class="col-form-label">Status Charge **</dt>
        </div>
        <div class="col-3 col-3--sm-gap">
          <input class="form-control" appMyCurrency [fraction]="2" value="0.00">
        </div>
        <div class="offset-xl-1"></div>

        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap mt-1">
          <dt class="col-form-label">Legal Expense</dt>
        </div>
        <div class="col-3 col-3--sm-gap mt-1">
          <input class="form-control" appMyCurrency [fraction]="2" value="0.00">
        </div>
        <div class="offset-xl-1"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap mt-1">
          <dt class="col-form-label">Other Expense</dt>
        </div>
        <div class="col-3 col-3--sm-gap mt-1">
          <input class="form-control" appMyCurrency [fraction]="2" value="0.00">
        </div>
        <div class="offset-xl-1"></div>

        <div class="col-3 col-3--sm-gap">
          <br>
          <div class="form-check" data-toggle="collapse" href="#collapseInsClose" aria-expanded="false" aria-controls="collapseInsClose">
            <label class="form-check-label form-inline">
              <input class="form-check-input" type="checkbox" value=""> ชำระประกันบางส่วน
            </label>
          </div>
        </div>
        <div class="offset-3"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <br>
          <dt>Sub Total</dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <br>
          <dd style="font-weight: bold; background-color: #ffdd90">0.00</dd>
        </div>
        <div class="offset-xl-1"></div>

        <div class="col-11 col-md-11--sm-gap">
          <div class="collapse" id="collapseInsClose">
            <div class="card card-body mt-4">
              <div class="form-group row">
                <label class="col-form-label col-md-2">พ.ร.บ.</label>
                <div class="col-md-4">
                  <input class="form-control" appMyCurrency [fraction]="2" value="0.00">
                </div>
                <label class="col-form-label col-md-2">สมัครใจ</label>
                <div class="col-md-4">
                  <input class="form-control" appMyCurrency [fraction]="2" value="0.00">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">เหตุผล</label>
                <div class="col-md-10">
                  <textarea class="form-control" rows="1"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dl>
      <hr style="border-color: #64789c">

      <dl class="row row--sm-gap">
        <div class="offset-6"></div>
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>Total Payment Amount</dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <dd class="font-weight-bold" style="background-color: #ffa67d">0.00</dd>
        </div>
        <div class="offset-xl-1"></div>
      </dl>
      <hr style="border-color: #64789c">

      <dl class="row row--sm-gap">
        <div class="col-xl-2 col-xl-2--sm-gap col-3 col-3--sm-gap">
          <dt>ยอดเงินคงเหลือรับฝาก</dt>
        </div>
        <div class="col-3 col-3--sm-gap text-right">
          <div>
            <dd class="highlighter-blue">0.00</dd>
          </div>
        </div>
        <div class="offset-xl-1"></div>
      </dl>
    </div>
  </div>
</p-panel>