<p-panel header="Cheque Return">
  <div class="p-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <dl class="row">
        <p-table [value]="list_array">
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Category</th>
              <th class="text-center">Total</th>
              <th class="text-center">Paid Amount</th>
              <th class="text-center">Waive Amount</th>
              <th class="text-center">Net Amount</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td class="text-left">
                <!-- <span class="ui-column-title">Category</span> -->
                <label>{{rowData.category}}</label>
              </td>
              <td class="text-right">
                <!-- <span class="ui-column-title">Total</span> -->
                {{rowData.total || '0' | number:'.2-2'}}
              </td>
              <td class="text-right">
                <!-- <span class="ui-column-title">Paid Amount</span> -->
                {{rowData.paid_amt || '0' | number:'.2-2'}}
              </td>
              <td class="text-right">
                <!-- <span class="ui-column-title">Net Amount</span> -->
                {{rowData.waive_amt || '0' | number:'.2-2'}}
              </td>
              <td class="text-right">
                <!-- <span class="ui-column-title">Net Amount</span> -->
                {{rowData.net_amt || '0' | number:'.2-2'}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </dl>

      <div class="row">
        <p-table [value]="custService.srviceCustModel.list_cdsdirect_debit">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:110px">
              <col style="width:90px">
              <col style="width:90px">
              <col style="width:110px">
              <col style="width:80px">
              <col style="width:80px">
              <col style="width:100px">
              <col style="width:50px">
              <col style="width:155px">
              <col style="width:90px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Cheque Number</th>
              <th class="text-center">Date Cheque</th>
              <th class="text-center">Return Date</th>
              <th class="text-center">Cheque Return</th>
              <th class="text-center">Bank Name</th>
              <th class="text-center">Branch</th>
              <th class="text-center">Charge Amt.</th>
              <th class="text-center">Status</th>
              <th class="text-center">Reason of cheque Return</th>
              <th class="text-center">Receive Type</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td class="text-center">{{rowData.direct_date}}</td>
              <td class="text-right">{{rowData.due_date}}</td>
              <td class="text-center">{{rowData.deduct_date}}</td>
              <td class="text-right">{{rowData.amount | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.acc_name}}</td>
              <td class="text-right">{{rowData.acc_no }}</td>
              <td class="text-right">{{rowData.bank}}</td>
              <td class="text-center">{{rowData.bank_branch}}</td>
              <td class="text-center">{{rowData.charge_amount}}</td>
              <td class="text-center">{{rowData.undeduct_reason}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <th colspan="10">
                No Record Found
              </th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-panel>