.trHeader {
  background: #cdedfe;
}
/*table {*/
  /*table-layout: fixed;*/
  /*word-wrap: break-word;*/
/*}*/

/*table th, table td {*/
  /*overflow: hidden;*/
/*}*/


/*table {*/
  /*table-layout: auto;*/
  /*border-collapse: collapse;*/
  /*width: 100%;*/
/*}*/
/*table td {*/
  /*border: 1px solid #ccc;*/
/*}*/
/*table .absorbing-column {*/
  /*width: 100%;*/
/*}*/


table{
  width:100%;
}
table td{
  white-space: nowrap;
}
table td:last-child{
  width:100%;
}
table th {
  text-align: center;
}
