<div class="container-fluid my-4">
  <div class="row">
    <p-panel header=" Current Address / Certificate Address" class="col-md-6">

          <div class="row">
            <div class="col-md-12 form-group">
              <label class="text-danger">ที่อยู่</label>
              <input type="text" class="form-control" #inputAddress
                     [value]="entityModel?.address">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group ">
              <label class="text-danger">รหัสที่อยู่</label>
              <div class="input-group">
                <input type="text" class="form-control" readonly
                       [value]="c_address">
                <div class="input-group-append">
                  <button class="btn btn-outline-success"
                          type="button"
                          (click)="openAddressDialog(TAG_ADDRESS)">Search
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <app-entity-address-dialog #entity_address_dialog
                                       [address]="address"
                                       (onSelected)="onSelectedAddress($event)">
            </app-entity-address-dialog>
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <label>รหัสไปรษณีย์</label>
              <input type="text" class="form-control" readonly
                     [value]="zip_cd_address">
            </div>
            <div class="col-md-8 form-group">
              <label>สถานที่ใกล้เคียง</label>
              <input type="text" class="form-control" #inputNear
                     [value]="entityModel?.near">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <label>โทรศัพท์</label>
              <input type="text" class="form-control" #inputTel
                     [value]="entityModel?.tel">
            </div>
            <div class="col-md-4 form-group">
              <label>โทรสาร</label>
              <input type="text" class="form-control" #inputFaxCurrent
                     [value]="entityModel?.faxCurrent">
            </div>

          </div>

      </p-panel>
    <p-panel header="ที่อยู่ตาม ภ.พ.20" class="col-md-6">
      <div class="row">
          <div class="col-md-12 form-group">
            <label>ที่อยู่</label>
            <button class="btn btn-outline-info"
              (click)="copyOwnr('VAT')" > <i class="fa fa-copy">  Duplicate Address from Current </i> </button>
            <div class="input-group">
               <input type="text" class="form-control" #inputAddressC
                   [value]="entityModel?.addC">
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 form-group">
            <label>รหัสที่อยู่</label>
            <div class="input-group">
              <input type="text" class="form-control" readonly
                     [value]="c_address_20">
              <div class="input-group-append">
                <button class="btn btn-outline-success"
                        type="button"
                        (click)="openAddressDialog(TAG_ADDRESS_20)">Search
                </button>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 form-group">
            <label>รหัสไปรษณีย์</label>
            <input type="text" class="form-control" readonly
                   [value]="zip_cd_address_20">
          </div>
          <div class="col-md-4 form-group">
            <label>โทรศํพท์</label>
            <input type="text" class="form-control"
                   #inputTelCard
                   [value]="entityModel?.telCard">
          </div>
        </div>
    </p-panel>
  </div>
  <div class="row">
    <p-panel header="ที่อยู่ที่ทำงาน" class="col-md-6">
        <div class="row">
          <div class="col-md-12 form-group">
            <label>ที่อยู่</label>
            <button class="btn btn-outline-info"
              (click)="copyOwnr('OFFICE')" > <i class="fa fa-copy">  Duplicate Address from Current </i> </button>
            <div class="input-group">
                <input type="text" class="form-control"
                   #inputAddressO
                   [value]="entityModel?.addO">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <label>รหัสที่อยู่</label>
            <div class="input-group">
              <input type="text" class="form-control" readonly
                     [value]="c_address_office">
              <div class="input-group-append">
                <button class="btn btn-outline-success"
                        type="button"
                        (click)="openAddressDialog(TAG_ADDRESS_OFFICE)">Search
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            <label>รหัสไปรษณีย์</label>
            <input type="text" class="form-control" readonly
                   [value]="zip_cd_address_office">
          </div>
          <div class="col-md-10 form-group">
            <label>สถานที่ใกล้เคียง</label>
            <input type="text" class="form-control"
                   #inputNearO
                   [value]="entityModel?.nearO">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label>โทรศัพท์</label>
            <input type="text" class="form-control"
                   #inputTelO
                   [value]="entityModel?.telO">
          </div>
          <div class="col-md-4 form-group">
            <label>โทรสาร</label>
            <input type="text" class="form-control"
                   #inputFaxOffice
                   [value]="entityModel?.faxOffice">
          </div>
        </div>
    </p-panel>
    <p-panel header="ที่อยู่สำหรับส่งจดหมาย" class="col-md-6">
        <div class="row">
          <div class="col-md-12 form-group">
            <label>ที่อยู่</label>
            <button class="btn btn-outline-info"
              (click)="copyOwnr('MAIL')" > <i class="fa fa-copy">  Duplicate Address from Current </i> </button>
            <div class="input-group">
              <input type="text" class="form-control"
                   #inputAddressM
                   [value]="entityModel?.addM">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <label>รหัสที่อยู่</label>
            <div class="input-group">
              <input type="text" class="form-control" readonly
                     [value]="c_address_mail">
              <div class="input-group-append">
                <button class="btn btn-outline-success"
                        type="button"
                        (click)="openAddressDialog(TAG_ADDRESS_MAIL)">Search
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            <label>รหัสไปรษณีย์</label>
            <input type="text" class="form-control" readonly
                   [value]="zip_cd_address_mail">
          </div>
        </div>
    </p-panel>
  </div>
  <div class="row">
    <p-panel header="เบอร์โทรศัพท์" class="col-md-6">
        <div class="row">
          <div class="col-md-4 form-group">
            <label>Telephone</label>
            <input type="text" class="form-control"
                   #inputMobile1
                   [value]="entityModel?.mobilePhone">
          </div>
          <div class="col-md-4 form-group">
            <label>Mobile</label>
            <input type="text" class="form-control"
                   #inputMobile2
                   [value]="entityModel?.mobilePhone2">
          </div>
          <div class="col-md-4 form-group">
            <label>SMS/Line id</label>
            <input type="text" class="form-control"
                   #inputMobile3
                   [value]="entityModel?.mobilePhone3">
          </div>
        </div>
    </p-panel>
  </div>
</div>
