<div class="container" *ngIf="vNavigate_To=='' ">
  <div class="col-md-lg-12" style="padding-top: 10px">
    <!-- Warning -->
    <p-dialog header="ข้อมูลสัญญา Floor Plan โปรดติดต่อเจ้าหน้าที่ MKT ที่ดูแล" [(visible)]="displayWarn"
              modal="modal" width="400"
              [responsive]="true">
      {{msgWarning}}
      <p-footer>
        <button type="button" pButton icon="fa-check" (click)="displayWarn = false;" label="OK"></button>
      </p-footer>
    </p-dialog>

    <hr>

    <div class="card">
      <div class="card-header ">
        <div class="text-center h6">
          Inquery
        </div>
      </div>
      <div class="card-body">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
          <input #txtid [value]="vSearchText" class="form-control" type="text" pInputText size="50" placeholder="Search"
                 (keyup)="onSubmit(txtid.value,$event)">
        </div>
        <div class="my-3">
          <div *ngIf="waiting" class="text-center">
            <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>Loading...
          </div>
          <div *ngIf="!waiting">
            <p-dataTable #dt
                         [value]="arrSearch" selectionMode="single" [rows]="10"
                         paginatorPosition="both" [paginator]="true"
                         scrollable="true" [style]="{width:'100%'}"
                         (onRowSelect)="onSelectedRow($event)">
              <p-column [style]="{'width':'100px'}" field="card_no" header="เลขที่บัตร"></p-column>
              <p-column [style]="{'width':'100px'}" field="agr_code" header="เลขที่สัญญา"></p-column>
              <p-column [style]="{'width':'100px'}" field="ref_code" header="เลขที่อ้างอิง"></p-column>
              <p-column [style]="{'width':'100px'}" field="reg_num" header="ทะเบียน"></p-column>
              <p-column [style]="{'width':'100px'}" field="owner" header="Owner"></p-column>
              <p-column [style]="{'width':'100px'}" field="full_status" header="Status"></p-column>
              <p-column [style]="{'width':'100px'}" field="cus_name" header="ชื่อลูกค้า"></p-column>
              <p-column [style]="{'width':'100px'}" field="mkt_namet" header="ชื่อ Marketing"></p-column>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<router-outlet></router-outlet>-->

<!--<app-custinfo *ngIf="vNavigate_To==='custinfo'"-->
              <!--[vAgr_Code]="vCon_Agr_Code"-->
              <!--[vStart]=true></app-custinfo>-->

<!--<app-legal-info *ngIf="vNavigate_To==='legalinfo'"></app-legal-info>-->

<!--<app-ar-pl *ngIf="vNavigate_To==='arpl'"></app-ar-pl>-->

<!--<app-legal-pl *ngIf="vNavigate_To==='legalpl'"></app-legal-pl>-->

