<div class="container" style="border-style: solid; border-width: 1px; border-radius: 10px" >
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 form-group p-1" >
        <div class="container" style="margin: 0; width: 100%;padding: 0px">
          <div class="portlet grey-cascade box">

            <p-dataTable [responsive]="true"
                         [value]="this.listExposure"
                         scrollable="true" scrollHeight="400px">
              <p-column field="product" header="Products"></p-column>
              <p-column field="exposure" header="Exposure" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.2-2'  }}</span>
                </ng-template>
              </p-column>
              <p-column field="os_balance" header="OS Balance" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.2-2'  }}</span>
                </ng-template>
              </p-column>
              <p-column field="maturity_date" header="Maturity Date"></p-column>
              <p-column field="highest_amt" header="Highest Amount" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.2-2'  }}</span>
                </ng-template>
              </p-column>
              <p-column field="with_collateral" header="With Collateral" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.2-2'  }}</span>
                </ng-template>
              </p-column>
              <p-column field="with_out_collateral" header="Without Collateral" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.2-2'  }}</span>
                </ng-template>
              </p-column>
            </p-dataTable>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
