<p-panel header="Approve Level / Comment & Reason">
  <div class="main-container">
    <div class="d-flex">
      <div class="flex-md-column col-md-3">
        <div class="form-group">
          <label>Authority </label>
          <input type="text" class="form-control" [ngModel]="caHead.title_authority" readonly>
          <!--<input type="text" class="form-control" [value]="caHead.authority_ca"-->
          <!--(change)="caHead.authority_ca = $event.target.value"   -->
          <!--readonly>-->
        </div>

      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label class="my-1"> Approve CA Level </label>
          <p-dataTable selectionMode="single" [value]="listcacusapv"
                       [(selection)]="selectCaCusApv"
                       [scrollable]="true"
                       scrollHeight="200px" scrollWidth="400px"
                       [responsive]="true">
            <p-column field="approve_level" header="Level " [style]="{'width':'50px'  }"></p-column>
            <p-column field="apv_person_name" header="Authorized approvers"></p-column>
            <p-column field="approve_date" header=" Approve date "></p-column>
            <p-column field="apv_user_name" header="Approvers "></p-column>
            <p-footer>
              <div class="ui-helper-clearfix" style="width:100%">
              </div>
            </p-footer>
          </p-dataTable>
        </div>
      </div>
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label class="my-1">History </label>
          <p-dataTable selectionMode="single"
                       [value]="listcaapvhist"
                       [(selection)]="selectCaApvhist"
                       [scrollable]="true"
                       scrollHeight="200px" scrollWidth="400px"
                       [responsive]="true">
            <p-column field="run_no" header=" SeqNo. " [style]="{'width':'50px' ,'height':'50px'   }"></p-column>
            <p-column field="approve_flg" header="Y/N" [style]="{'width':'50px','height':'50px'}"></p-column>
            <p-column field="approve_name" header="Name" [style]="{'width':'150px','height':'50px'}"></p-column>
            <p-column field="approve_date" header="Date " [style]="{'width':'150px','height':'50px'}"></p-column>
            <p-column field="remark" header="Reason " [style]="{'width':'400px','height':'50px'}"></p-column>
            <p-footer>
              <div class="ui-helper-clearfix" style="width:100%">
              </div>
            </p-footer>
          </p-dataTable>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 " [hidden] = "taskShorten != 'RV'">
        <div class="form-group">
          <label class="my-1"> Approve Revise Attach Sheet </label>
          <p-dataTable [value]="listCaRevise"
                       [editable]="edit"
                       scrollHeight="200px" scrollWidth="400px"
                       [immutable] = "true"
                       [responsive]="true">
            <p-column field="apprv_name" header="Approve" [editable]="edit">
              <ng-template let-col let-approve="rowData" pTemplate="editor">
                <p-dropdown placeholder="Select Approve"
                            [options] = "listApprove" optionLabel="remark"
                            (onChange) = "approveChange($event.value)"
                            [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo = "body"></p-dropdown>
              </ng-template>
            </p-column>
            <p-column field="apprv_dt" header="Approve date"></p-column>
            <p-footer>
              <div class="ui-helper-clearfix" style="width:100%">
              </div>
            </p-footer>
          </p-dataTable>
        </div>
      </div>
      <div class="flex-md-column col-md-2" 
            [hidden] = "taskShorten != 'AM' || (creditType == 'FDO' || creditType == 'P')">
        <div class="form-group">
          <label class="my-1">Max Approve Amend </label>
          <select class="form-control" (change)="testja($event.target.value)">
            <option [value]="-1"></option>
            <option *ngFor="let list of listApproveAmendLs; let i = index;" 
                    [value]="i" [selected]="this.selectApproveAmendLs?.approve_person === list.approve_person">
                    {{list?.approve_name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex">
      <div class="flex-md-column col-md-6">
        <div class="form-group">
          <label> Key Comment </label>
          <textarea class="form-control" disabled></textarea>
        </div>
      </div>
      <div class="flex-md-column col-md-6">
        <div class="form-group">
          <label> Reject Reason </label>
          <textarea class="form-control" disabled></textarea>
        </div>
      </div>
    </div>
  </div>
</p-panel>
