<p-panel header="ผู้ชำระเงินแทน">
  <div class="d-flex">
    <div class="col-md-4">
      <div class="thead-responsive border-isa" style="overflow-x: auto;min-height: .01%; padding: 10px">
        <p-table [value]="list_ReferPayPrsn" [(selection)]="vSelected_Prsn" [responsive]="true"
                 selectionMode="single"
                 (onRowSelect)="vSelected_Prsn = list_ReferPayPrsn[$event.index]">
          <ng-template pTemplate="header">
            <tr>
              <th>ความสัมพันธ์กับลูกค้า</th>
              <th>ชื่อ - สกุล</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <td>{{rowData.related_with_cus}}</td>
              <td>{{rowData.payee_name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="col-md-8 border-isa p-3">
      <dl class="row">
        <dt class="col-md-2">Address</dt>
        <dd class="col-md-10">{{vSelected_Prsn.lbl_pay_add1 + '\n' + vSelected_Prsn.lbl_pay_add2 || '...'}}</dd>
      </dl>

      <dl class="row">
        <dt class="col-md-2">Tel</dt>
        <dd class="col-md-10">{{vSelected_Prsn.lbl_pay_tel || '...'}}</dd>
      </dl>

      <dl class="row">
        <dt class="col-md-2">mobile</dt>
        <dd class="col-md-10">{{vSelected_Prsn.lbl_pay_mo || '...'}}</dd>
      </dl>

      <dl class="row">
        <dt class="col-md-2">mobile2</dt>
        <dd class="col-md-10">{{vSelected_Prsn.lbl_pay_mo2 || '...'}}</dd>
      </dl>

      <dl class="row">
        <dt class="col-md-2">mobile3</dt>
        <dd class="col-md-10">{{vSelected_Prsn.lbl_pay_mo3 || '...'}}</dd>
      </dl>
    </div>
  </div>
</p-panel>
