<p-panel header="ผู้ชำระเงินแทน">
  <div class="py-3 border-isa">
    <div class="row p-3">
      <div class="col-md-4">
        <div class="thead-responsive" style="overflow-x: auto;min-height: .01%; padding: 10px">
          <p-table [value]="list_ReferPayPrsn" [(selection)]="vSelected_Prsn" [style]="{width:'100%'}"
                   selectionMode="single" scrollHeight="50vh"
                   [resizableColumns]="true" columnResizeMode="expand"
                   (onRowSelect)="vSelected_Prsn = list_ReferPayPrsn[$event.index]">
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col style="width:100px">
                <col style="width:100px">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn>ความสัมพันธ์กับลูกค้า</th>
                <th pResizableColumn>ชื่อ - สกุล</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td>{{rowData.related_with_cus}}</td>
                <td>{{rowData.payee_name}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card border-light">
          <div class="card-header bg-transparent border-light card-header--blue">
            <b>ข้อมูลอื่นๆ</b>
          </div>
          <div class=" card-body card-body--sm-gap ">
            <div class="card-text ">
              <div class="row row--sm-gap">
                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Address</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <ng-container *ngIf="vSelected_Prsn.lbl_pay_add1 && vSelected_Prsn.lbl_pay_add2; else haveoneaddr">
                    <dd class="highlighter-white">{{vSelected_Prsn.lbl_pay_add1 + '\n' + vSelected_Prsn.lbl_pay_add2}}</dd>
                  </ng-container>
                </div>
                <ng-template #haveoneaddr>
                  <ng-container *ngIf="vSelected_Prsn.lbl_pay_add1 || vSelected_Prsn.lbl_pay_add1; else noaddr">
                    <dd class="highlighter-white">{{vSelected_Prsn.lbl_pay_add1 || vSelected_Prsn.lbl_pay_add2}}</dd>
                  </ng-container>
                </ng-template>
                <ng-template #noaddr>
                  <dd class="highlighter-white">...</dd>
                </ng-template>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>Tel</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{vSelected_Prsn.lbl_pay_tel || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>mobile</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{vSelected_Prsn.lbl_pay_mo || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>mobile2</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{vSelected_Prsn.lbl_pay_mo2 || '...'}}</dd>
                </div>

                <div class="col-md-3 col-md-3--sm-gap">
                  <dt>mobile3</dt>
                </div>
                <div class="col-md-9 col-md-9--sm-gap">
                  <dd class="highlighter-white">{{vSelected_Prsn.lbl_pay_mo3 || '...'}}</dd>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>
