<!--<nav class="navbar navbar-light" style="background-color: #fffcb0;">-->
  <!--<ul class="nav nav-pills">-->
    <!--<li class="nav-item dropdown">-->
      <!--<a class="nav-link dropdown-toggle" href="#"-->
         <!--data-toggle="dropdown" role="button"-->
         <!--aria-haspopup="true" aria-expanded="false"-->
         <!--id="navbarDropdownMasterform"-->
         <!--style="color: #000000;">-->
        <!--Master Form</a>-->
      <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMasterform" style="background-color: #ffde63">-->
        <!--<a class="dropdown-item"-->
           <!--(click)="onSelected('SetFlow')"-->
           <!--style="cursor: pointer;color:black"-->
           <!--routerLink="./masterform/setflow">-->
          <!--Set Flow</a>-->
        <!--<a class="dropdown-item"-->
           <!--(click)="onSelected('SetStageOfFlow')"-->
           <!--style="cursor: pointer;color:black"-->
           <!--routerLink="./masterform/setstage">-->
          <!--Set Stage Of Flow</a>-->
        <!--<div class="dropdown-divider"></div>-->
        <!--<a class="dropdown-item"-->
           <!--(click)="onSelected('none')"-->
           <!--style="cursor: pointer;color:black">-->
          <!--Separated link</a>-->
      <!--</div>-->
    <!--</li>-->

    <!--<li class="nav-item dropdown">-->
      <!--<a class="nav-link dropdown-toggle"-->
         <!--data-toggle="dropdown" role="button"-->
         <!--aria-haspopup="true" aria-expanded="false"-->
         <!--id="navbarDropdownCCM"-->
         <!--style="cursor: pointer;color: #000000;">-->
        <!--Code And Contact Management</a>-->
      <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdownCCM" style="background-color: #ffde63">-->
        <!--<li class="dropdown-submenu">-->
          <!--<a class="dropdown-item"-->
             <!--style="cursor: pointer;color:black">-->
            <!--Contact</a>-->
          <!--<ul class="dropdown-menu" style="background-color: #ff9752">-->
            <!--<li><a class="dropdown-item"-->
                   <!--(click)="onSelected('11')"-->
                   <!--routerLink="./ccm/contact/contactandinquiry"-->
                   <!--style="cursor: pointer;color:black">-->
              <!--Contact & Inquiry</a>-->
            <!--</li>-->
            <!--<li><a class="dropdown-item"-->
                   <!--(click)="onSelected('11')"-->
                   <!--routerLink="./ccm/contact/requestcharge"-->
                   <!--style="cursor: pointer;color:black">-->
              <!--Request Charge</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown-submenu">-->
          <!--<a class="dropdown-item"-->
             <!--style="cursor: pointer;color:black">-->
            <!--Test</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->

  <!--</ul>-->
<!--</nav>-->

<router-outlet></router-outlet>


<!--<app-custom-button [option]="'edit'" (onBtnClick)="test()"></app-custom-button>-->
<!--<app-process-progress [points]="captionsTop.length" [captionTop]="captionsTop" [captionBot]="captionsBot" [currPoint]="currPoint"></app-process-progress>-->
