<!--<p-megaMenu [model]="items"></p-megaMenu>-->
<!--<div class="list-group">-->
  <!--<a routerLink="apply" class="list-group-item list-group-item-action">Apply New Blacklist</a>-->
  <!--<a routerLink="search" class="list-group-item list-group-item-action">Black list Checking</a>-->
  <!--<a routerLink="amlo" class="list-group-item list-group-item-action">A4 : Search AMLO (ปปง.)</a>-->
<!--</div>-->
<router-outlet></router-outlet>


<!--<div *ngIf = "location == '/blacklist' " style="background-color: rgba(36,28,13,0.93);width: 100%;height: 80%;align-items: center;text-align: center">-->
  <!--<span class="glyphicon glyphicon-book"></span>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
<!--<h4 style="align-items: center">-->
  <!--<span _ngcontent-c3="" style="color: white;font-size: 150px;align-items: center;font-family: Arial;border-color: white;border-radius: 100%;border: white;border-width: 20px;border-style: outset;padding-left: 25px;padding-right: 25px;">B</span>-->
  <!--<span style="color: white;font-size: 150px;align-items: center;font-family: Arial;background-color: #ca0505">lacklist</span>-->
<!--</h4>-->
<!--</div>-->

