<p-panel header="Overdue Installment">
  <div class="p-3 border-isa" style="word-break: break-all">
    <div class="container-fluid">
      <dl class="row row--sm-gap">
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dt>Term of past due</dt>
        </div>
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dd class="highlighter-blue">{{custService.srviceCustModel.ds_overdue.pnlcal_i_term | number:'.2-2'}}</dd>
        </div>
        <div class="offset-xl-2"></div>

        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dt>Overdue Installment</dt>
        </div>
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dd class="highlighter-blue">{{custService.srviceCustModel.ds_overdue.pnlcal_pastdue | number:'.2-2'}}</dd>
        </div>
        <div class="offset-xl-2"></div>
      </dl>
    </div>
    <p-table [value]="list_cdsOver_Install" [paginator]="true" [rows]="10" scrollable="true" [style]="{width:'72vw'}"
             scrollHeight="50vh" [resizableColumns]="true" columnResizeMode="expand"
             selectionMode="single">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn class="text-center">Term</th>
          <th pResizableColumn class="text-center">Installment</th>
          <th pResizableColumn class="text-center">Due</th>
          <th pResizableColumn class="text-center">As of Date</th>
          <th pResizableColumn class="text-center">Days Late</th>
          <th pResizableColumn class="text-center">Total Penalty</th>
          <th pResizableColumn class="text-center">Interest Charge</th>
          <th pResizableColumn class="text-center">Late Charge</th>
          <th pResizableColumn class="text-center">Rate</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td class="text-center">{{rowData.term}}</td>
          <td class="text-right">{{rowData.installment_e_vat | number:'.2-2'}}</td>
          <td class="text-center">{{rowData.due_day}}</td>
          <td class="text-center">{{rowData.as_of_date}}</td>
          <td class="text-center">{{rowData.days_late}}</td>
          <td class="text-right">{{rowData.total_penalty | number:'.2-2'}}</td>
          <td class="text-right">{{rowData.interest_charge | number:'.2-2'}}</td>
          <td class="text-right">{{rowData.late_charge | number:'.2-2'}}</td>
          <td class="text-center">{{rowData.rate_pen}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <th colspan="9">
            No Record Found
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>
