<p-panel header="ข้อมูลรายละเอียด OUTSOURCE">
  <div class="p-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <div class="row">
        <p-table [value]="" [scrollable]="true" [style]="{'width':'990px'}">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:80px">
              <col style="width:80px">
              <col style="width:110px">
              <col style="width:80px">
              <col style="width:80px">
              <col style="width:80px">
              <col style="width:80px">
              <col style="width:100px">
              <col style="width:80px">
              <col style="width:100px">
              <col style="width:110px">
              <col style="width:110px">
              <col style="width:120px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <th class="text-center">ผลลัพธ์</th>
            <th class="text-center">CODE</th>
            <th class="text-center">ทีม OUTSOURCE</th>
            <th class="text-center">ภูมิภาค</th>
            <th class="text-center">จังหวัด</th>
            <th class="text-center">วันที่ Apply</th>
            <th class="text-center">OwnerApply</th>
            <th class="text-center">Collector Apply</th>
            <th class="text-center">วันที่ Apporve</th>
            <th class="text-center">OwnerApprove</th>
            <th class="text-center">CollectorApprove</th>
            <th class="text-center">รอบในการส่ง Mail</th>
            <th class="text-center">สถานะการ Gen Excel</th>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <th colspan="13">
                No Record Found
              </th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-panel>