<p-panel header="Paid Installment">
  <div class="border-isa mb-1">
    <!--<dl class="row mt-3">-->
      <!--<dt class="col-md-3 text-center">จำนวนเงินค่างวดที่ออกใบเสร็จแล้ว</dt>-->
      <!--<dd class="col-md-2  highlighter-blue">...</dd>-->
    <!--</dl>-->
    <div>
      <p-table [value]="list_cdsPaid_Inst_PL" [paginator]="true" [rows]="10" scrollable="true" [style]="{width:'90vw'}"
               scrollHeight="50vh" [resizableColumns]="true" columnResizeMode="expand"
               selectionMode="single">
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col style="width:70px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:70px">
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header">
          <tr style="text-align: center">
            <th pResizableColumn>No.</th>
            <th pResizableColumn>Batch Date</th>
            <th pResizableColumn>Receipt No.</th>
            <th pResizableColumn>Receipt Date</th>
            <th pResizableColumn>Paid Amount</th>
            <th pResizableColumn>Paid Type</th>
            <th pResizableColumn>Installment</th>
            <th pResizableColumn>Rental Install</th>
            <th pResizableColumn>Due</th>
            <th pResizableColumn>Days Late</th>
            <th pResizableColumn>Follow Up Debt</th>
            <th pResizableColumn>Principal</th>
            <th pResizableColumn>Fact Fee</th>
            <th pResizableColumn>Interest</th>
            <th pResizableColumn>OS Loan</th>
            <th pResizableColumn>ENTRY_NUMBER</th>
            <th pResizableColumn>AT_TERM2</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td class="text-center">
              <label>{{rowData.at_term}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.str_date_pay}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.document_no}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.document_date}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.paid_amt || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.paid_desc}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.inst_amt || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.rental_amt || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.due_date}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.day_late}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.follow_up_debt || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.principal || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.fact_fee || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.interest || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-right">
              <label>{{rowData.os_ar || '0' | number:'.2-2'}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.entry_number}}</label>
            </td>
            <td class="text-center">
              <label>{{rowData.at_term2}}</label>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <th colspan="17">
              No Record Found
            </th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-panel>
