<app-action-button-form [title]="'Customer Information (Hire Purchase)'" [showPrint]="true" [showCancel]="false"
                        [showEdit]="true" [showSave]="true" [showBack]="false" [showCalculator]="true"
                        [showSearch]="true" [showNew]="true"
                        [titleSave]="'บันทึกผลการเจรจา'" [titlePrint]="'จดหมายแจ้งยอด Update'"
                        [titleCalculator]="'ส่ง Collection'" [titleSearch]="'Search'"
                        [titleNew]="'ดูผลการเจรจา'" [titleEdit]="'หนังสือยืนยันยอดหนี้'">
</app-action-button-form>
<app-custinfo>
  <div class="tab-head">Update</div>
  <!--<div class="root d-flex w-100 p-2 ">-->
  <!--<div class="ml-auto p-1">-->
  <!--<app-custom-button [title]="'บันทึกผลการเจรจา'" [option]="'save'" (onBtnClick)="onTest('save')"-->
  <!--[disabled]="true"></app-custom-button>-->

  <!--<app-custom-button [title]="'ดูผลการเจรจา'" [option]="'search'"-->
  <!--(onBtnClick)="onTest('search')"></app-custom-button>-->

  <!--<app-custom-button [title]="'จดหมายแจ้งยอด Update'" [option]="'print'"></app-custom-button>-->

  <!--<app-custom-button [title]="'หนังสือยืนยันยอดหนี้'" [option]="'print'" [disabled]="true"></app-custom-button>-->

  <!--<app-custom-button [title]="'ส่ง Collection'" [option]="'process'"></app-custom-button>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="border border-secondary" style="padding-top: 13px; padding-left: 13px; font-weight: bold">-->
  <form style="padding-right: 10px; padding-left: 10px; font-weight: bold">
    <div class="form-group row d-flex justify-content-center" style="padding-left: 10px; padding-top: 10px">
      <label class="col-form-label">Date for Paid Update (ค.ศ.)</label>

      <div class="col">
        <p-calendar [(ngModel)]="date1" [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <!--<label class="col-form-label"></label>-->

      <div class="col">
        <app-custom-button [title]="'Calc'" [option]="'calculate'"></app-custom-button>
      </div>

      <label class="col-form-label">Advance Installment Term</label>

      <div class="col">
        <input type="number" class="form-control text-right" value="0.00">
      </div>

      <div class="col">
        <app-custom-button [title]="'Calc'" [option]="'calculate'"></app-custom-button>
      </div>
    </div>
  </form>
  <!--</div>-->

  <div class="border border-secondary" style="padding-left: 10px; padding-right: 10px;">
    <br>
    <form>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Paid Term</label>
        <div class="col-md-1">
          <input type="text" readonly class="form-control text-right" value="8.00">
        </div>
        <div class="col-md-2"></div>
        <label class="col-md-2 col-form-label">Paid Amount</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="448,388.80">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Balance AR</label>
        <div class="col-md-1">
          <input type="text" readonly class="form-control text-right" value="28.00">
        </div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="1,569,360.80">
        </div>
        <label class="col-md-2 col-form-label">Balance VAT</label>
        <div class="col-md-1">
          <input type="text" readonly class="form-control text-right" value="28.00">
        </div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="109,855.20">
        </div>
      </div>
      <hr style="border-color: #d60c0c; height: 2px">
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Overdue Installment</label>
        <div class="col-md-1">
          <input type="text" readonly class="form-control text-right" value="8.77">
        </div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="197,024.84">
        </div>
        <label class="col-md-2 col-form-label"></label>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">VAT Not Paid</label>
        <div class="col-md-1">
          <input type="text" readonly class="form-control text-right" value="4.00">
        </div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="6,287.25">
        </div>
        <label class="col-md-2 col-form-label">Sub Total</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly style="font-weight: bold; background-color: #ffdd90"
                 class="form-control text-right"
                 value="203,312.09">
        </div>
      </div>
      <hr style="border-color: #d60c0c; height: 2px">
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Total Penalty</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="31,073.00">
        </div>
        <label class="col-md-2 col-form-label">Total Charge</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="8,000.00">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Total Expense & Advance</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="6,287.25">
        </div>
        <label class="col-md-2 col-form-label">Total Insurance / Compulsory</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="0.00">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Total Registration</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly class="form-control text-right" value="0.00">
        </div>
        <label class="col-md-2 col-form-label"></label>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Advance Installment Amount</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input currencyMask class="form-control text-right"
                 [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }"
                 value="0.00">
        </div>
        <label class="col-md-2 col-form-label">Status Charge **</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input currencyMask class="form-control text-right"
                 [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }"
                 value="0.00">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label">Legal Expense</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input currencyMask class="form-control text-right"
                 [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }"
                 value="0.00">
        </div>
        <label class="col-md-2 col-form-label">Other Expense</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input currencyMask class="form-control text-right"
                 [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }"
                 value="0.00">
          <!--[(ngModel)]=""-->
        </div>
      </div>

      <!-- ชำระประกันบางส่วน -->
      <div class="form-group row">
        <div class="form-check col-md-2" data-toggle="collapse" href="#collapseInsUpdate" aria-expanded="false"
             aria-controls="collapseInsUpdate">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            ชำระประกันบางส่วน
          </label>
        </div>
        <div class="collapse col-md-8" id="collapseInsUpdate">
          <div class="card card-body">
            <div class="form-group row">
              <label class="col-form-label col-md-2">พ.ร.บ.</label>
              <div class="col-md-4">
                <input currencyMask class="form-control text-right"
                       [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }"
                       value="0.00">
              </div>
              <label class="col-form-label col-md-2">สมัครใจ</label>
              <div class="col-md-4">
                <input currencyMask class="form-control text-right"
                       [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }"
                       value="0.00">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-2">เหตุผล</label>
              <div class="col-md-10">
                <textarea class="form-control" rows="1"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label"></label>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <label class="col-md-2 col-form-label">Sub Total</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly style="font-weight: bold; background-color: #ffdd90"
                 class="form-control text-right"
                 value="45,360.25">
        </div>
      </div>
      <hr style="border-color: #d60c0c; height: 2px">
      <div class="form-group row">
        <label class="col-md-2 col-form-label"></label>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <label class="col-md-2 col-form-label">Total Payment Amount</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text" readonly style="font-weight: bold; background-color: #ffa67d"
                 class="form-control text-right"
                 value="248,672.34">
        </div>
      </div>
      <hr style="border-color: #d60c0c; height: 2px">
      <div class="form-group row">
        <label class="col-md-2 col-form-label">ยอดเงินคงเหลือรับฝาก</label>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input currencyMask class="form-control text-right"
                 [options]="{ prefix: '', thousands: ',', decimal: '.',suffix:'' }"
                 value="0.00">
        </div>
        <label class="col-md-2 col-form-label"></label>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
      </div>
    </form>
  </div>
</app-custinfo>
