<p-panel header="Opinion">
  <div class="main-container">
    <div class="d-flex">
      <div class="flex-column col-md-8">
        <div class="form-group">
          <div class="form-inline">
            <label> การวิเคราะห์ Credit &nbsp;</label>
            <input class="form-group">
            <button type="button" class="my-2 mx-2" pButton style="float:left" (click)="showDialogToAdd()"
                    label="Ver. Report"></button>
            <button type="button" class="my-2 mx-2" pButton style="float:left" (click)="showDialogToAdd()"
                    label="Enquiry NCB"></button>
          </div>
        </div>
        <div class="form-group">
          <div class="flex-column col-md-12">
            <div class="form-group">
              <label> Characteristic </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="flex-column col-md-12">
            <div class="form-group">
              <label> Capacity </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="flex-column col-md-12">
            <div class="form-group">
              <label> Capital </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="flex-column col-md-12">
            <div class="form-group">
              <label> Collateral </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="flex-column col-md-12">
            <div class="form-group">
              <label> Condition </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="flex-column col-md-12">
            <div class="form-group">
              <label> สรุปผลของการ Opinion </label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-column col-md-4">
        <p-panel header="Result">
          <div class="form-group">
            <div class="flex-md-column col-md-6">
              <div class="form-group">
                <input type="radio" name="bt" value="N"> Accept
                <input type="radio" name="bt" value="Y"> Reject
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
    <hr>
    <div class="d-flex">
      <div class="flex-column col-md-8">
        <div class="flex-column col-md-12">
          <div class="form-group">
            <label>สรุปความเห็นอนผู้อนุมัติ </label>
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="flex-column col-md-4">
        <div class="flex-column col-md-12">
          <div class="form-group">
            <label> เหตุผลการ Reject</label>
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>
