<p-dataTable [loading]="loading" loadingIcon="fa-spinner" rows="15"
             [paginator]="true" [responsive]="true">
  <p-column field="f1" header="วันที่ดำเนินการ"></p-column>
  <p-column field="f2" header="Code"></p-column>
  <p-column field="f3" header="Status"></p-column>
  <p-column field="f4" header="เลขที่สัญญา"></p-column>
  <p-column field="f5" header="ชื่อลูกค้าเก่า"></p-column>
  <p-column field="f6" header="ผู้คีย์ Transfer" [style]="{'width':'120px','text-align':'center'}"></p-column>
  <p-column field="f7" header="สถานะ" [style]="{'width':'120px','text-align':'center'}"></p-column>
  <p-column field="f8" header="วันที่ทราบผล" [style]="{'width':'90px','text-align':'center'}"></p-column>

</p-dataTable>
