<div class="flex-row border-isa p-3">
  <div class="form-group row ">
    <div class="col-md-3">
      <label><b>ใบชำระเงิน</b></label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row ">
    <div class="col-md-3">
      <label>หมายเลขผู้เช่าซื้อ</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label>หมายเลขผู้เช่าซื้อ</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group form-inline">
    <input type="radio" name="bt" value="ins"> Installment
    <input type="radio" name="bt" value="ins_nor"> Insurance Normal
    <input type="radio" name="bt" value="ins_com"> Insurance Compulsory
    <input type="radio" name="bt" value="reg"> Registration
  </div>
</div>
<div class="flex-row border-isa p-3 mt-1">
  <div class="form-group row ">
    <div class="col-md-3">
      <label><b>Direct Debit</b></label>
    </div>
  </div>
  <div class="form-group row ">
    <div class="col-md-3">
      <label>เลขที่บัญชี</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label>ชื่อบัญชี</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label>ประเภทบัญชี</label>
      <input type="text" class="form-control">
    </div>

  </div>
  <div class="form-group row ">
    <div class="col-md-3">
      <label>ธนาคาร</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label>สาขา</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
