<div [hidden]="!checkLoading" class="text-center">
  <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>Loading...
</div>
<div [hidden]="checkLoading">
  <app-alert-dialog #alertNew [title]="'Save Information'" [msg]="'Save Success!!'"></app-alert-dialog>

  <app-action-dialog [title]="'Action Dialog'" #actionSave [showChoose]="true" [showNo]="true">
  </app-action-dialog>

  <!-- <app-action-button-form [title]="TITLE" [showReturn]="true" [titleReturn]="'Back'" (onReturn)="onBackPage()"> -->
  <!-- </app-action-button-form> -->

  <div class="modal-body m-1" style="border: solid;border-width:thin;border-radius: 5px;border-color: lightgray">
    <p-panel [toggleable]="true" [collapsed]="true">
      <p-header>
        <div style="display: inline-block">
          {{custService.srviceCustModel.agr_code}} | {{custService.srviceCustModel.ref_code}} | {{custService.srviceCustModel.lblc_status}}
          | {{custService.srviceCustModel.collector}} | {{custService.srviceCustModel.lblcust_name}}
          <div *ngIf="custService.srviceCustModel.agr_flg" style="display: inline-block">
            <span>|</span>
            <span style="color:gold">{{custService.srviceCustModel.agr_flg}}</span>
          </div>
        </div>
      </p-header>
      <div class="container-fluid" style="word-break: break-all">
        <dl class="row row--sm-gap">
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Contract Date</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue"> {{custService.srviceCustModel.disbursement_date || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Term</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue"> {{custService.srviceCustModel.term || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Credit</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue"> {{custService.srviceCustModel.upd_crd_grd || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Payment
              <br>Grading</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue"> {{custService.srviceCustModel.lblpayment_grading || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>OS AR</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="text-center col-md-4 col-md-4--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.os_term || '...'}}</dd>
              </div>
              <div class="text-right col-md-8 col-md-8--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.os_ar | number:'.2-2' || '...'}}</dd>
              </div>
            </div>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>เงินต้น</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.os_pri | number:'.2-2' || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>รายได้รอตัด</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.lblos_unearn | number:'.2-2' || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>ภาษีมูลค่าเพิ่ม</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.os_vat_t | number:'.2-2' || '...'}}</dd>
          </div>
        </dl>

        <dl class="row row--sm-gap">
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Installment</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.installment_e_vat || '0' | number:'.2-2'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Next Due Inst.</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="text-center col-md-4 col-md-4--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.lbln_term || '...'}}</dd>
              </div>
              <div class="text-center col-md-8 col-md-8--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.lbln_due_i || '...'}}</dd>
              </div>
            </div>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>ค่างวด
              <br>ครบกำหนด
            </dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="text-center col-md-4 col-md-4--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.ds_overdue.pnlcal_i_term || '...'}}</dd>
              </div>
              <div class="text-right col-md-8 col-md-8--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.ds_overdue.pnlcal_pastdue || '0' | number:'.2-2'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Installment
              <br>Include Vat
            </dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.installment_i_vat || '0' | number:'.2-2'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Vat</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.vat || '0' | number:'.2-2'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Next Due Vat</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="text-center col-md-4 col-md-4--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.lbln_vat || '...'}}</dd>
              </div>
              <div class="text-center col-md-8 col-md-8--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.lbln_due_v || '...'}}</dd>
              </div>
            </div>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>VAT ครบกำหนด</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="text-center col-md-4 col-md-4--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.ds_overvat.pnlcal_v_term || '...'}}</dd>
              </div>
              <div class="text-right  col-md-8 col-md-8--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.ds_overvat.pnlcal_pastdue_vat || '0' | number:'.2-2'}}
                </dd>
              </div>
            </div>
          </div>
        </dl>


        <dl class="row row--sm-gap">
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Insurance
              <br> Expired
            </dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.ds_ins.lblins_exp || '...'}}</dd>
          </div>

          <div class="text-right col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>Compulsory
              <br> Expired
            </dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap text-right">
            <dd class="highlighter-blue">{{custService.srviceCustModel.ds_ins.lblcom_exp || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>ค่าเบี้ยประกันภัย
              <br> ค้างชำระ
            </dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.ds_ins.lblsum_ins_pastdue || '0' | number:'.2-2'}}
            </dd>
          </div>

          <div class="offset-lg-3"></div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>ค่าทะเบียน</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{asset.lblReg_Amt_I_Service || '0' | number:'.2-2' || '...' }}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>License Expired</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{asset.lblReg_Exp2 || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>License No.</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{asset.lblLicense || '...'}}</dd>
          </div>

          <div class="offset-lg-3"></div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>หยุดรับรู้ VAT</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.vat_dt || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>หยุดรับรู้รายได้</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.accr_dt || '...'}}</dd>
          </div>

          <div class="offset-lg-6"></div>
        </dl>

        <dl class="row row--sm-gap">
          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>ผู้ค้ำ</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{guar_name1 || '...'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt>พนักงานดูแล
              <br>ลูกค้า
            </dt>
          </div>
          <div class="col-lg-4 col-lg-4--sm-gap col-md-6 col-md-6--sm-gap">
            <div class="row row--sm-gap">
              <div class="text-center col-md-4 col-md-4--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.collector || '...'}}</dd>
              </div>
              <div class="text-center col-md-8 col-md-8--sm-gap">
                <dd class="highlighter-blue">{{custService.srviceCustModel.lbl_collector_tel || custService.srviceCustModel.lblcollector_name || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="offset-lg-4"></div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt (click)="openMenu('Relate Contact')">
              <u style="cursor: pointer;color: blue">Related
                <br>Contract</u>
            </dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{custService.srviceCustModel.lblRelated_Contact || '0'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt (click)="openMenu('Cheque')">
              <u style="cursor: pointer;color: blue">PDC</u>
            </dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{cnt_cheque || '0'}}</dd>
          </div>

          <div class="col-lg-1 col-lg-1--sm-gap col-md-2 col-md-2--sm-gap text-right">
            <dt (click)="openMenu('Guarantee Cheque')">
              <u style="cursor: pointer;color: blue">Guar Cheque</u>
            </dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd class="highlighter-blue">{{cnt_guarantee || '0'}}</dd>
          </div>
        </dl>
      </div>
    </p-panel>
  </div>
  <div class="m-1 border-isa">

    <app-side-tab [defaultMenuName]="'สัญญา'">
      <app-side-tab-panel [scrollable]="true">
        <app-side-tab-level [nameMenu]="'ข้อมูลสัญญา'">
          <app-side-tab-level [nameMenu]="'สัญญา'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ทรัพย์สิน'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ตารางค่างวด'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ข้อมูลลูกค้า'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ข้อมูลผู้ค้ำ'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'เงินรับฝาก'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Dealer Profile'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ผู้ชำระเงินแทน'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ประวัติการโอนสัญญา'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ข้อมูล Van และ Truck เพิ่มเติม'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Follow Up'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'รายละเอียด OUTSOURCE'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level hidden [nameMenu]="'Relate Contact'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level hidden [nameMenu]="'Guarantee Cheque'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
        </app-side-tab-level>
        <app-side-tab-level [nameMenu]="'รายการรับชำระ'">
          <app-side-tab-level [nameMenu]="'Customer Paid'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Paid Installment'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Paid Vat'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Paid Legal'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Paid Other'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
        </app-side-tab-level>
        <app-side-tab-level [nameMenu]="'รายการค้างชำระ'">
          <app-side-tab-level [nameMenu]="'Overdue Installment'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Overdue Vat'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Penalty'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Status/Legal/Reposses Charge'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Direct Debit Charge'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Extra Charge'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Cheque Return'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Cheque'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
        </app-side-tab-level>
        <app-side-tab-level [nameMenu]="'ประกันภัย'">
          <app-side-tab-level [nameMenu]="'Insurance'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Paid Insurance'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
        </app-side-tab-level>
        <app-side-tab-level [nameMenu]="'ภาษีรถยนต์'">
          <app-side-tab-level [nameMenu]="'ประวัติภาษีรถยนต์'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ชำระภาษีรถยนต์'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'สถานะเล่มทะเบียน'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ประวัติเบิก-เคลียร์เงิน'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Other Expense'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ประวัติระงับทะเบียน'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ค่าโอนทะเบียนรถยนต์'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'คำนวณค่าต่อภาษี'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
        </app-side-tab-level>
        <app-side-tab-level [nameMenu]="'ยอดเก็บเงิน'">
          <app-side-tab-level [nameMenu]="'Update'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Close Account'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Transfer'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ชำระเงินบางส่วน'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Reschedure and Restructure'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ประวัติการส่งยอดเรียกเก็บเงิน'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
        </app-side-tab-level>
        <app-side-tab-level [nameMenu]="'อื่นๆ'">
          <app-side-tab-level [nameMenu]="'ใบชำระเงิน / Direct Debit'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Realized Commission'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'Credit Scoring Report'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'MRR Rate (KTB)'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'ข้อมูลการประสบภัยพิบัติ'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
          <app-side-tab-level [nameMenu]="'MKT Condition / Remark'" (onMenuClick)="getSelectedMenu($event)"></app-side-tab-level>
        </app-side-tab-level>
      </app-side-tab-panel>

      <app-side-tab-main>
        <!--==================== ข้อมูลสัญญา =========================-->
        <app-side-tab-content [nameContent]="'สัญญา'">
          <app-ccs-finance [(list_Custmodel)]="custService.srviceCustModel"></app-ccs-finance>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ทรัพย์สิน'">
          <app-ccs-movement-master></app-ccs-movement-master>
        </app-side-tab-content>
        <!-- <app-side-tab-content [nameContent]="'ยอดคงเหลือ'">
          <app-ccs-os-balance></app-ccs-os-balance>
        </app-side-tab-content> -->
        <app-side-tab-content [nameContent]="'ตารางค่างวด'">
          <app-ccs-repayment></app-ccs-repayment>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ข้อมูลลูกค้า'">
          <app-address></app-address>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ข้อมูลผู้ค้ำ'">
          <app-ccs-guarantor></app-ccs-guarantor>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'เงินรับฝาก'">
          <app-ccs-movement-deposit></app-ccs-movement-deposit>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Dealer Profile'">
          <app-ccs-dealer></app-ccs-dealer>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ผู้ชำระเงินแทน'">
          <app-ccs-payer></app-ccs-payer>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ประวัติการโอนสัญญา'">
          <app-transfer></app-transfer>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ข้อมูล Van และ Truck เพิ่มเติม'">
          <app-ccs-van-truck-detail></app-ccs-van-truck-detail>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Follow Up'">
          <app-ccs-movement-followup [(list_follow_up)]="custService.srviceCustModel.list_cdsfollow_up" [qryGuarantor]="custService.srviceCustModel.list_qryGuarantor"
            [list_follow_refer_prsn]="custService.srviceCustModel.list_cdsfol_to_referfolprsn" [list_follow_payerinstead]="custService.srviceCustModel.list_cdsfol_to_payerinstead"></app-ccs-movement-followup>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'รายละเอียด OUTSOURCE'">
          <app-ccs-outsource-detail></app-ccs-outsource-detail>
        </app-side-tab-content>
        <!--=========================================================-->

        <!--================== รายการรับชำระ ======================-->
        <app-side-tab-content [nameContent]="'Customer Paid'">
          <app-ccs-cus-paid></app-ccs-cus-paid>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Paid Installment'">
          <app-ccs-paid-installment></app-ccs-paid-installment>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Paid Vat'">
          <app-ccs-paid-vat></app-ccs-paid-vat>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Paid Legal'">
          <app-ccs-paid-legal></app-ccs-paid-legal>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Paid Other'">
          <app-ccs-paid-other></app-ccs-paid-other>
        </app-side-tab-content>
        <!--=========================================================-->

        <!--================== รายการค้างชำระ ======================-->
        <app-side-tab-content [nameContent]="'Overdue Installment'">
          <app-ccs-overdue-ins></app-ccs-overdue-ins>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Overdue Vat'">
          <app-ccs-overdue-vat></app-ccs-overdue-vat>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Penalty'">
          <app-ccs-penalty></app-ccs-penalty>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Status/Legal/Reposses Charge'">
          <app-ccs-reposses-charge></app-ccs-reposses-charge>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Direct Debit Charge'">
          <app-ccs-direct-debit-charge></app-ccs-direct-debit-charge>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Extra Charge'">
          <app-ccs-extra-charge></app-ccs-extra-charge>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Cheque Return'">
          <app-ccs-cheque-return></app-ccs-cheque-return>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Cheque'">
          <app-ccs-cheque-pdc></app-ccs-cheque-pdc>
        </app-side-tab-content>
        <!--=========================================================-->

        <!--================== ประกันภัย ======================-->
        <app-side-tab-content [nameContent]="'Insurance'">
          <app-ccs-insurance></app-ccs-insurance>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Paid Insurance'">
          <app-ccs-paid-insurance></app-ccs-paid-insurance>
        </app-side-tab-content>
        <!--=========================================================-->

        <!--================== ภาษีรถยนต์ ======================-->
        <app-side-tab-content [nameContent]="'ประวัติภาษีรถยนต์'">
          <app-ccs-vat-car-hist></app-ccs-vat-car-hist>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ชำระภาษีรถยนต์'">
          <app-ccs-paid-reg></app-ccs-paid-reg>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'สถานะเล่มทะเบียน'">
          <app-ccs-movement-regbook></app-ccs-movement-regbook>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ประวัติเบิก-เคลียร์เงิน'">
          <app-clr-regis-hist></app-clr-regis-hist>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Other Expense'">
          <app-ccs-expense></app-ccs-expense>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ประวัติระงับทะเบียน'">
          <app-ccs-regsuspend-hist></app-ccs-regsuspend-hist>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ค่าโอนทะเบียนรถยนต์'">
          <app-ccs-transfer-regis></app-ccs-transfer-regis>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'คำนวณค่าต่อภาษี'">
          <app-ccs-calc-extend-vat></app-ccs-calc-extend-vat>
        </app-side-tab-content>
        <!--=========================================================-->

        <!--================== ยอดเก็บเงิน ======================-->
        <app-side-tab-content [nameContent]="'Update'">
          <app-update></app-update>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Close Account'">
          <app-close-account></app-close-account>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Transfer'">
          <app-transfer-tab></app-transfer-tab>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ชำระเงินบางส่วน'">
          <app-ccs-paid-partial></app-ccs-paid-partial>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Reschedure and Restructure'">
          <app-ccs-apply-reschedure></app-ccs-apply-reschedure>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ประวัติการส่งยอดเรียกเก็บเงิน'">
          <app-ccs-interface-history></app-ccs-interface-history>
        </app-side-tab-content>
        <!--=========================================================-->

        <!--================== Other ======================-->
        <app-side-tab-content [nameContent]="'ใบชำระเงิน / Direct Debit'">
          <app-ccs-direct-debit></app-ccs-direct-debit>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Realized Commission'">
          <app-ccs-commission></app-ccs-commission>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Credit Scoring Report'">
          <app-ccs-credit-scoring-report></app-ccs-credit-scoring-report>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'MRR Rate (KTB)'">
          <app-ccs-mrr-rate></app-ccs-mrr-rate>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'ข้อมูลการประสบภัยพิบัติ'">
          <app-ccs-disaster></app-ccs-disaster>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'MKT Condition / Remark'">
          <app-ccs-mkt-condition></app-ccs-mkt-condition>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Relate Contact'">
          <app-ccs-relate></app-ccs-relate>
        </app-side-tab-content>
        <app-side-tab-content [nameContent]="'Guarantee Cheque'">
          <app-ccs-chq-guarantee></app-ccs-chq-guarantee>
        </app-side-tab-content>
      </app-side-tab-main>
    </app-side-tab>
  </div>
</div>