<p-panel header="ประวัติภาษีรถยนต์">
  <div class="p-3 border-isa">
    <div class="container-fluid" style="word-break: break-all">
      <div class="row">
        <p-table [value]="list_VatCarHist" [style]="{width:'72vw'}"
                 [scrollable]="true" scrollHeight="50vh" [resizableColumns]="true" columnResizeMode="expand">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width: 150px;">
              <col style="width: 150px;">
              <col style="width: 150px;">
              <col style="width: 150px;">
              <col style="width: 150px;">
              <col style="width: 150px;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pResizableColumn>เลขทะเบียน</th>
              <th pResizableColumn>วันที่ต่อภาษี</th>
              <th pResizableColumn>วันที่หมดอายุ</th>
              <th pResizableColumn>ค่าภาษีรวมค่าบริการและอื่น ๆ</th>
              <th pResizableColumn>ค่าภาษีไม่รวมค่าบริการ</th>
              <th pResizableColumn>ค่าใช้จ่ายอื่น ๆ</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData">
              <td>{{rowData.REG_NUM}}</td>
              <td>{{rowData.REG_DATE}}</td>
              <td>{{rowData.REG_EXP}}</td>
              <td>{{rowData.REG_AMT_I_SERVICE | number:'.2-2'}}</td>
              <td>{{rowData.REG_AMT_E_SERVICE | number:'.2-2'}}</td>
              <td>{{rowData.REG_OTHER_EXPENSE | number:'.2-2'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-panel>
