<app-alert-dialog #alertDialogComponent [msg]="'โปรดใส่ข้อมูลก่อนเพื่อค้นหา'"></app-alert-dialog>
<app-action-button-form [showSearch]="true"
                        [showCancel]="true"
                        [showPrint]="true"
                        (onSearch)="onSubmit()"
                        (onCancel)="cancelButton()"
                        (onBack)="backPage()"
                        (onPrint)="handelPrint()"
                        [title]="'Blacklist Checking'"></app-action-button-form>
<div class="card m-4">
  <div class="card-header">
<form [formGroup]="blacklistchecking" (ngSubmit)="onSubmit()">
<div class="detail-container" >
  <div>

    <div class="row">
      <!------------- SHOW DETAIL ------------------------------->
      <div class="col-md-12" id="p2" style="padding: 10px">
        <div class="row">
          <div class="col-md-6" >

              <div class="form-group">
                <label>ชื่อบุคคล/นิติบุคคล</label>
                <span class="star"></span>
                <input type="text" [(ngModel)]="FIRST_NAME" formControlName="FIRST_NAME" id="FIRST_NAME" class="form-control input-medium" placeholder="">
              </div>

          </div>   <!-- <div class="col-md-6" > -->


          <div class="col-md-6" >

              <div class="form-group">
                <label>นามสกุล</label>
                <span class="star"></span>
                <input type="text" [(ngModel)]="LAST_NAME" formControlName="LAST_NAME" id="LAST_NAME" class="form-control input-small" placeholder="">
              </div>

          </div>   <!-- <div class="col-md-6" > -->

        </div>  <!-- <div class="row"> -->

          <div class="row">
            <div class="col-md-6" >

                <div class="form-group">
                  <label>เลขที่บัตร</label>
                  <span class="star"></span>
                  <input type="text" [(ngModel)]="ID_CARD" formControlName="ID_CARD" id="ID_CARD" class="form-control input-medium" placeholder="">
                </div>

            </div>   <!-- <div class="col-md-6" > -->


            <div class="col-md-6" >

                <div class="form-group">
                  <label>เลขเครื่อง</label>
                  <span class="star"></span>
                  <input type="text" [(ngModel)]="ENG_NUM" formControlName="ENG_NUM" id= "ENG_NUM" class="form-control input-small" placeholder="">
                </div>

            </div>   <!-- <div class="col-md-6" > -->

            <div class="col-md-6" >

                <div class="form-group">
                  <label>เลขถัง</label>
                  <span class="star"></span>
                  <input type="text" [(ngModel)]="CHASSIS" formControlName="CHASSIS" id="CHASSIS" class="form-control input-medium" placeholder="">
                </div>

            </div>   <!-- <div class="col-md-6" > -->

            <div class="col-md-6" >

                <div class="form-group">
                  <label>ยี่ห้อ</label>
                  <span class="star"></span>
                  <input type="text" [(ngModel)]="BRAND" formControlName="BRAND" id="BRAND" class="form-control input-medium" placeholder="">
                </div>

            </div>   <!-- <div class="col-md-6" > -->

            <div class="col-md-6" >

                <div class="form-group">
                  <label>ทะเบียน</label>
                  <span class="star"></span>
                  <input type="text" [(ngModel)]="LICENCE" formControlName="LICENCE" id="LICENCE" class="form-control input-medium" placeholder="">
                </div>

            </div>   <!-- <div class="col-md-6" > -->
          </div>  <!-- <div class="row"> -->

        <div class="container-fluid" >

          <div class="col-md-3 border-isa p-3" style="background-color: #9e9d9d">
            <input type="radio" name="radioAdvance"
                   value="n/a"
                   [checked]="CHECK_GROUP==='n/a'"
                   (change)="CHECK_GROUP=$event.target.value"
            >

            ไม่ระบุ &nbsp;
            <input type="radio" name="radioAdvance"
                   value="individual"
                   [checked]="CHECK_GROUP==='individual'"
                   (change)="CHECK_GROUP=$event.target.value"
            >

            บุคคลธรรมดา &nbsp;
            <input type="radio" name="radioAdvance"
                   value="juristic"
                   [checked]="CHECK_GROUP==='juristic'"
                   (change)="CHECK_GROUP=$event.target.value">

            นิติบุคคล &nbsp;
          </div>
          <br>
          <label style="color: red">**สามารถสืบค้นข้อมูล Exposure ได้จากการ Search ผ่านชื่อ และ นามสกุล เท่านั้น **</label>
        </div>
      </div>  <!-- <div class="col-md-12" id="p2" style="padding: 10px">  -->

    </div>  <!-- <div class="row"> -->
    <!-------------------------------- END SHOW DETAIL ------------------------------>

  </div>
</div>
</form>


  </div>
</div>
