<div id="actionbutton"  class="root d-flex w-100 p-2 ">
  <div class="p-1 h4">
    {{title}}
  </div>
  <div class="ml-auto p-1">
    <!--new 5/6/61-->
    <button type="button" class="btn btn-primary" *ngIf="showSubmitOnlySelect"
            (click)="onSubmitOnlySelectClick()">
      <i class="fa fa-check" ></i> {{titleSubmitOnlySelect}}
    </button>
    <button type="button" class="btn btn-success" *ngIf="showSubmitAll"
            (click)="onSubmitAllClick()">
      <i class="fa fa-check" ></i> {{titleSubmitAll}}
    </button>
    <button type="button" class="btn btn-process" *ngIf="showProcess"
            (click)="onProcessClick()">
      <i class="fa fa-sitemap" ></i> {{titleProcess}}
    </button>
    <!--new-->
    <button type="button" class="btn btn-back" *ngIf="showBack"
            (click)="onBackClick()">
      <i class="fa fa-undo"></i> {{titleBack}}
    </button>
    <button type="button" class="btn btn-nav-newisa" *ngIf="showNew"
            (click)="onNewClick()">
      <i class="fa fa-plus"></i> {{titleNew}}
    </button>
    <button type="button" class="btn btn-edit" *ngIf="showEdit"
            (click)="onEditClick()">
      <i class="fa fa-edit"></i> {{titleEdit}}
    </button>
    <button type="button" class="btn btn-search" *ngIf="showSearch"
            (click)="onSearchClick()">
      <i class="fa fa-search"></i> {{titleSearch}}
    </button>
    <button type="button" class="btn btn-save" *ngIf="showSave"
            (click)="onSaveClick()">
      <i class="fa fa-save" ></i> {{titleSave}}
    </button>
    <button type="button" class="btn btn-nav-submitisa"  *ngIf="showSubmit"
            (click)="onSubmitClick()" >
      <i class="fa fa-thumbs-up"></i> {{titleSubmit}}
    </button>
    <button type="button" class="btn btn-nav-rejectisa" *ngIf="showReject"
            (click)="onRejectClick()"  >
      <i class="fa fa-thumbs-down"></i> {{titleReject}}
    </button>
    <button type="button" class="btn btn-return" *ngIf="showReturn"
            (click)="onReturnClick()">
      {{titleReturn}}
    </button>
    <button type="button" class="btn btn-renew" *ngIf="showRenew"
            (click)="onRenewClick()">
      <i class="fa fa-hand-o-down"></i> {{titleRenew}}
    </button>
    <button type="button" class="btn btn-email" *ngIf="showEmail"
            (click)="onEmailClick()">
      <i class="fa fa-envelope"></i> {{titleEmail}}
    </button>
    <button type="button" class="btn btn-importEx" *ngIf="showImportEx"
            (click)="onImportExClick()">
      <i class="fa fa-file-excel-o"></i> {{titleImportEx}}
    </button>
    <button type="button" class="btn btn-print" *ngIf="showPrint"
            (click)="onPrintClick()">
      <i class="fa fa-print" ></i> {{titlePrint}}
    </button>
    <button type="button" class="btn btn-clear" *ngIf="showClear"
            (click)="onClearClick()">
      <i class="fa fa-eraser" ></i> {{titleClear}}
    </button>
    <button type="button" class="btn btn-cancel" *ngIf="showCancel"
            (click)="onCancelClick()">
      <i class="fa fa-close" ></i> {{titleCancel}}
    </button>
    <button type="button" class="btn btn-calculator" *ngIf="showCalculator"
            (click)="onCalculatorClick()">
      <i class="fa fa-calculator" ></i> {{titleCalculator}}
    </button>
    <button type="button" class="btn btn-payment" *ngIf="showPayment"
            (click)="onPaymentClick()">
      <i class="fa fa-credit-card" ></i> {{titlePayment}}
    </button>
    <button type="button" class="btn btn-danger" *ngIf="showExit"
            (click)="onExit()">
      <i class="fa fa-power-off" ></i> Exit
    </button>
    <button type="button" class="btn btn-danger" *ngIf="showClose"
            (click)="onClose()">
      <i class="fa fa-power-off" ></i> Close
    </button>
  </div>
</div>

<app-alert-dialog #Questiondialog  (onOK)="okExist()"  ></app-alert-dialog>
