<app-action-button-form [showBack]="true" (onBack)="backPage()"
                        [title]="this.tabName">

</app-action-button-form>
<p-tabView>
  <p-tabPanel header="ยอดสินเชื่อ" *ngIf="controlTabBlacklistChecking == 1 &&controlTabBlacklistChecking<3" [selected]="false">
    <app-exposure></app-exposure>
  </p-tabPanel>

  <p-tabPanel header="ยอดสินเชื่อ" *ngIf="controlTabBlacklistChecking != 1 &&controlTabBlacklistChecking<3" [selected]="true">
    <app-exposure></app-exposure>
  </p-tabPanel>

  <p-tabPanel header="Blacklist Checking" *ngIf="controlTabBlacklistChecking==1" [selected]="true">
    <app-resultseach></app-resultseach>
  </p-tabPanel>

  <p-tabPanel header="ยอดสินเชื่อ" *ngIf="controlTabBlacklistChecking>=3" [selected]="true">
    <app-blacklist-exposurehistorycompany></app-blacklist-exposurehistorycompany>
  </p-tabPanel>

</p-tabView>
