<app-action-button-form [showBack]="true" [showReject]="false" [showSubmit]="false" [showNew]="false" [showCalculator]="false" [showSearch]="false" (onBack)="backPage()" [showEdit]="false"
                        [showPrint]="false" [showSave]="false" [showCancel]="false"
                        [title]="'Blacklist Checking.'"></app-action-button-form>

<p-tabView>



  <p-tabPanel header="ยอดสินเชื่อ" *ngIf="controlTabBlacklistChecking == 1 &&controlTabBlacklistChecking<3" [selected]="false">
    <app-exposure></app-exposure>
  </p-tabPanel>

  <p-tabPanel header="ยอดสินเชื่อ" *ngIf="controlTabBlacklistChecking != 1 &&controlTabBlacklistChecking<3" [selected]="true">
    <app-exposure></app-exposure>
  </p-tabPanel>

  <p-tabPanel header="Blacklist Checking" *ngIf="controlTabBlacklistChecking==1" [selected]="true">
    <app-resultseach></app-resultseach>
  </p-tabPanel>

  <p-tabPanel header="ยอดสินเชื่อ" *ngIf="controlTabBlacklistChecking>=3" [selected]="true">
    <app-blacklist-exposurehistorycompany></app-blacklist-exposurehistorycompany>
  </p-tabPanel>

</p-tabView>
