
  <div>
    <div class="flex-column">
      <div class="row">
        <div class="flex-md-column col-md-6">
          <div class="form-group">
            <label [ngClass]="'star'">Finance Asset Type</label>
            <span class="star">*</span><br>
            <select class="form-control"
                    [ngModel]="bgdetailSub?.asst_type"
                    (ngModelChange)="bgdetailSub.asst_type=$event;onChangeFat('');">
              <option></option>
              <option *ngFor="let list of listFAT"
                      [selected]="list?.id_code == bgdetailSub?.asst_type"
                      [value]="list?.id_code">{{list?.remark}}
              </option>
            </select>
          </div>
        </div>
        <div class="flex-md-column col-md-6">
          <div class="form-group">
            <label>Finance Asset Code</label><br>
            <select class="form-control"
                    [ngModel]="bgdetailSub?.asst_code"
                    (ngModelChange)="bgdetailSub.asst_code=$event;onChangeFac('');">
              <option></option>
              <option *ngFor="let list of listFAC"
                      [selected]="list?.id_code == bgdetailSub?.asst_code &&
                                  list.key == bgdetailSub.asst_type"
                      [value]="list?.id_code">{{list?.remark}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-6">
          <div class="form-group">
            <label>Finance Asset Sub Code</label><br>
            <select class="form-control"
                    [disabled] = "listFAS.length == 0"
                    [ngModel]="bgdetailSub?.asst_sub_code"
                    (ngModelChange)="bgdetailSub.asst_sub_code=$event">
              <option></option>
              <option *ngFor="let list of listFAS"
                      [selected]="list?.id_code == bgdetailSub?.asst_sub_code &&
                                  list.key1 == bgdetailSub.asst_type &&
                                  list.key2 == bgdetailSub.asst_code"
                      [value]="list?.id_code">{{list?.remark}}
              </option>
            </select>
          </div>
        </div>
        <div class="flex-md-column col-md-6">
          <div class="form-group">
            <label [ngClass]="'star'">New / Used Asset</label>
            <span class="star">*</span><br>
            <input type="radio" name="bt" value="N"
                   [ngModel]="bgdetailSub?.asset_status"
                   (ngModelChange)="bgdetailSub.asset_status=$event"> New Asset
            <br>
            <input type="radio" name="bt" value="U"
                   [ngModel]="bgdetailSub?.asset_status"
                   (ngModelChange)="bgdetailSub.asset_status=$event"> Used Asset
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label>Brand </label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.brand_code">
          </div>
        </div>
        <div class="flex-md-column offset-3 col-md-3">
          <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.model_code">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label>Chassis</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.chassis">
          </div>
        </div>
        <div class="flex-md-column offset-3 col-md-3">
          <div class="form-group">
            <label>Engine No.</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.eng_num">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label [ngClass]="'star'">Year</label>
            <span class="star">*</span>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.year" [textMask]="{mask: textmask.yyyy }">
          </div>
        </div>
        <div class="flex-md-column offset-3 col-md-3">
          <div class="form-group">
            <label>Regis No.</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.reg_num">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label>Color</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.color">
          </div>
        </div>
        <div class="flex-md-column offset-3 col-md-3">
          <div class="form-group">
            <label>CC</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.cc" pKeyFilter="int">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-8">
          <div class="form-group">
            <label [ngClass]="'star'">Dealer Name</label>
            <span class="star">*</span><br>
            <app-search-un app-search-un inuURL={{OutURL}}
                           title="NAME;CODE;"
                           [iconOnly]="false" [displaycol]="'COL1'" [displaytext]="bgdetailSub.dealer_name"
                           [callApiOnShow]="false"
                           [searchParamName]="'condition'"
                           (col1)="setDealerName($event)"
                           (col2)="setDealerCode($event)">
            </app-search-un>
          </div>
        </div>
      </div>
      <!--<div class="row">-->
      <!--<div class="flex-md-column col-md-9">-->
      <!--<div class="form-group">-->
      <!--<label>Last Name</label>-->
      <!--<input type="text" class="form-control"   >-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label>O/S Credit Line</label>
            <input class="form-control"
                   appMyCurrency
                   [value]="bgdetailSub?.comm_amt" (change)="bgdetailSub.comm_amt = $event.target.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label [ngClass]="'star'">Equip Type</label>
            <span class="star">*</span><br>
            <select class="form-control"
                    [ngModel]="bgdetailSub?.eqp_ty"
                    (ngModelChange)="bgdetailSub.eqp_ty=$event">
              <option></option>
              <option *ngFor="let list of listEQP"
                      [selected]="list?.id_code == bgdetailSub?.eqp_ty"
                      [value]="list?.id_code">{{list?.remark}}
              </option>
            </select>
          </div>
        </div>
        <div class="flex-md-column offset-3 col-md-3">
          <div class="form-group">
            <label>Weight</label>
            <input type="text" class="form-control"
                   appMyCurrency [value]="bgdetailSub.weight" (change)="bgdetailSub.weight = $event.target.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label>Body </label><br>
            <select class="form-control"
                    [ngModel]="bgdetailSub?.body"
                    (ngModelChange)="bgdetailSub.body=$event">
              <option></option>
              <option *ngFor="let list of listBDY"
                      [selected]="list?.id_code == bgdetailSub?.body"
                      [value]="list?.id_code">{{list?.remark}}
              </option>
            </select>
          </div>
        </div>
        <div class="flex-md-column offset-3 col-md-3">
          <div class="form-group">
            <label>Miles</label>
            <input type="text" class="form-control"
                   appMyCurrency [value]="bgdetailSub.miles" (change)="bgdetailSub.miles = $event.target.value"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label>Engine Type</label><br>
            <select class="form-control"
                    [ngModel]="bgdetailSub?.enigne_type"
                    (ngModelChange)="bgdetailSub.enigne_type=$event">
              <option></option>
              <option *ngFor="let list of listENG_TYPE"
                      [selected]="list?.id_code == bgdetailSub?.enigne_type"
                      [value]="list?.id_code">{{list?.remark}}
              </option>
            </select>
          </div>
        </div>
        <div class="flex-md-column offset-3 col-md-3">
          <div class="form-group">
            <label>Seat</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.seat">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-9">
          <div class="form-group">
            <label>Asset Detail</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.detail">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-6">
          <div class="form-group">
            <label>Accessory</label>
            <input type="text" class="form-control" [(ngModel)]="bgdetailSub.accessory">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="flex-md-column col-md-3">
          <div class="form-group">
            <label [ngClass]="'star'">Asset (Exc. VAT)</label>
            <span class="star">*</span>
            <input type="text" class="form-control"
                   appMyCurrency
                   [value]="bgdetailSub.asst_amt_e_vat"
                   (change)="bgdetailSub.asst_amt_e_vat = $event.target.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex-md-column col-md-12">
          <div class="form-group">
            <label >Apprisal Price</label>
            <p-dataTable [value]="listbgdetailappraisal"
                         [loading]="loading"
                         [scrollable]="true" scrollHeight="200px"
                         [responsive]="true"
                         [immutable]="false"
                         [editable]="true"
                         (onRowClick) = "onRowSelect($event.data)" >

              <p-header>
                <app-custom-botton-icon [option]="'new'" (onBtnClick)="openAddDialog()"></app-custom-botton-icon>
              </p-header>
              <p-column  [style]="{'width':'50px'}" header="No.">
                <ng-template let-i="rowIndex" pTemplate="body">
                  {{i+1}}
                </ng-template>
              </p-column>
              <p-column field="references_date" header="Date"
                        [style]="{'width':'150px'}"
                        [editable]="true"
                        [style]=" {'overflow':'visible' }"
                        >

                <ng-template let-col let-row="rowData" pTemplate="editor"  >
                  <p-calendar [(ngModel)]="row[col.field]"
                              appendTo="body"
                              dataType="string"
                              dateFormat ="dd/mm/yy"

                  ></p-calendar>
                </ng-template>
              </p-column>
              <p-column field="appraisal_amt" header="Appraisal"
                        [style]="{'width':'120px','text-align':'right'}"
                        [editable]="true"
                        >
                <ng-template let-col let-row="rowData" pTemplate="body"  >
                  <span>{{ row[col.field] |  number:'.2-2'  }}</span>
                </ng-template>
              </p-column>
              <p-column field="references" header="References"
                        [editable]="true"
                        ></p-column>

              <p-column styleClass="col-button" [style]="{'width':'50px'}">
                <ng-template let-car="rowData" pTemplate="body" >
                  <app-custom-botton-icon [option]="'delete'" (onBtnClick)="opendeleteDialog()"></app-custom-botton-icon>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
        <app-action-dialog #addDialog [showCancel]="true" [showAdd]="true" (onAdd)="setDataDetailAppraisal($event)">
          <div class="container form-group">
            <div class="row">
              <div class="col-md-12">
                <label>Date</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p-calendar dateFormat="dd/mm/yy"
                            class="my-1"
                            placeholder="dd/mm/yyyy"
                            dataType="string"
                            showButtonBar="true"
                            [(ngModel)]="detailappraisal.references_date"

                ></p-calendar>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Price</label>
                <input appMyCurrency [fraction]="2" class="form-control"
                       [value]="detailappraisal.appraisal_amt"
                       (change)="detailappraisal.appraisal_amt = $event.target.value"
                >
              </div>
              <div class="col-md-12">
                <label>References</label>
                <input type="text" class="form-control"
                       [(ngModel)]="detailappraisal.references"

                >
              </div>
            </div>
          </div>
        </app-action-dialog>
        <app-alert-dialog #deleteDialog (onOK)="deleteSelection()" [action]="'delete'">
        </app-alert-dialog>
      </div>
    </div>
  </div>
