<p-panel header="Insurance">
  <div class="container-fluid p-3 border-isa" style="word-break: break-all">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <p-table #dt [columns]="cols" [value]="list_InsTrans" [responsive]="true" [(selection)]="vSelected_InsTrans" selectionMode="single"
          [metaKeySelection]="true" (onRowSelect)="vSelected_InsTrans = list_InsTrans[$event.index];list_InsVolun = list_InsTrans[$event.index].list_InsVolun">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <p-dropdown *ngSwitchCase="'status_flg'" [options]="statusType" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <th colspan="5">
                No Record Found
              </th>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="col-xl-6 col-lg-12">
        <div class="d-xl-none mt-3"></div>
        <p-table [value]="list_InsVolun" [responsive]="true">
          <ng-template pTemplate="caption">
            <p class="my-auto">Insurance Repayment</p>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>วันครบกำหนด</th>
              <th>เบี้ยประกัน</th>
              <th>ส่วนลด</th>
              <th>หัก ณ ที่จ่าย</th>
              <th>สุทธิ</th>
              <th>ชำระ</th>
              <th>ค้าง@งวด</th>
              <th>รามค้างชำระ</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData">
              <td class="text-center">{{rowData.due_date}}</td>
              <td class="text-right">{{rowData.payment_amount | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.discount | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.wht_amt | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.net_amt | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.paid_amount | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.past_due | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.total_pastdue | number:'.2-2'}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <th colspan="8">
                No Record Found
              </th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <br>

    <dl class="row row--sm-gap">
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>ประกันภัยผ่าน</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblInform || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-5 col-md-5--sm-gap text-right">
        <dt>บริษัทประกันภัย</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblIns_Com || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-5 col-md-5--sm-gap text-right">
        <dt>วงเงินคุ้มครอง</dt>
      </div>
      <div class="text-right col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblCov_Amt || '0' | number:'.2-2' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-5 col-md-5--sm-gap text-right">
        <dt>ค่าเบี้ยประกันรวม</dt>
      </div>
      <div class="text-right col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblTotal_Prem || '0' | number:'.2-2' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-5 col-md-5--sm-gap text-right">
        <dt>ชนิดประกันภัย</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblKind_Of_Insurance || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>ประเภทประกันภัย</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblType_Of_Insurance || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>อากร</dt>
      </div>
      <div class="text-right col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblDuty || '0' | number:'.2-2' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>ภาษี</dt>
      </div>
      <div class="text-right col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblIns_Vat || '0' | number:'.2-2' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>วันคุ้มครอง</dt>
      </div>
      <div class="text-center col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblIns_Date || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>วันหมดอายุประกัน</dt>
      </div>
      <div class="text-center col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblIns_Exp2 || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>เบี้ยประกันสุทธิ</dt>
      </div>
      <div class="text-right col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblNet_Prem || '0' | number:'.2-2' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>หัก ณ ที่จ่าย</dt>
      </div>
      <div class="text-right col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblWht_Amount || '0' | number:'.2-2' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>เลขที่รับแจ้ง</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap  text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblIns_Num || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>กรมธรรม์</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap  text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblPol_Num || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>ส่วนลด</dt>
      </div>
      <div class="text-right col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblDiscount_Amount || '0' | number:'.2-2' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>เลขที่หัก ณ ที่จ่าย</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap  text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblWht_No || '...' }}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>วันที่หัก ณ ที่จ่าย</dt>
      </div>
      <div class="text-center col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblIns_Date || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>วันที่รับแจ้ง</dt>
      </div>
      <div class="text-center col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblIns_RCV || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>พนักงานขาย</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap  text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblSeller || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>ผู้แจ้งประกัน</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap  text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblAccknowage_By || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>ผู้รับแจ้ง</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap  text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblInform_By || '...'}}</dd>
      </div>

      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-5 col-md-5--sm-gap text-right">
        <dt>เลขที่สติ๊กเกอร์</dt>
      </div>
      <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap  col-md-7 col-md-7--sm-gap  text-center">
        <dd class="highlighter-blue">{{vSelected_InsTrans.lblST_No || '...'}}</dd>
      </div>
    </dl>
  </div>
</p-panel>
