<p-panel header="สัญญา">
<div class="row p-3 border-isa">
  <p-tabView>
    <p-tabPanel header="Hire Purchase Contract">
      <div class="container-fluid mt-3" style="word-break: break-all">
        <dl class="row row--sm-gap">
          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>บริษัท</dt>
          </div>
          <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-4 col-md-4--sm-gap text-center">
            <dd class="highlighter-blue">
              {{list_Custmodel.agr_com_code || '...'}}
            </dd>
          </div>
          <div class="offset-xl-8 offset-lg-6 offset-md-6"></div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>เลขที่อ้างอิง</dt>
          </div>
          <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-4 col-md-4--sm-gap text-center">
            <dd class="highlighter-blue">
              {{list_Custmodel.ref_code || '...'}}
            </dd>
          </div>
          <div class="offset-xl-8 offset-lg-6 offset-md-6"></div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>เลขที่สัญญา</dt>
          </div>
          <div class="col-xl-2 col-xl-2--sm-gap col-lg-3 col-lg-3--sm-gap col-md-4 col-md-4--sm-gap text-center">
            <dd class="highlighter-blue">
              {{list_Custmodel.agr_code || '...'}}
            </dd>
          </div>
        </dl>

        <dl class="row row--sm-gap">
          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>รหัสลูกค้า</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.cus_code || '...'}}
                </dd>
              </div>
              <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblcust_name || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>ประเภทสัญญา</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.new_tr || '...'}}
                </dd>
              </div>
              <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblnew_tr_desc || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>Dealer</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lbldealer_code || '...'}}
                </dd>
              </div>
              <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lbldealer_name || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>Outlet</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lbloutlet || '...'}}
                </dd>
              </div>
              <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lbloutlet_desc || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>Project</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblprj_code || '...'}}
                </dd>
              </div>
              <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblprj_desc || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>เลขที่สัญญาเดิม</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblrefer_old_agr || '...'}}
                </dd>
              </div>
              <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblold_cust_name || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>พนักงานสินเชื่อ</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblsalesexe || '...'}}
                </dd>
              </div>
              <div class="col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblsale_name || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-md-2--sm-gap text-right">
            <dt>พนักงานตรวจสอบ</dt>
          </div>
          <div class="col-md-4 col-md-4--sm-gap">
            <dl class="row row--sm-gap">
              <div class="col-xl-12 col-xl-12--sm-gap col-lg-12 col-lg-12--sm-gap text-center">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblver_name || '...'}}
                </dd>
              </div>
            </dl>
          </div>
        </dl>

        <dl class="row row--sm-gap">
          <div class="col-md-12 col-md-12--sm-gap col-lg-6 col-lg-6--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-md-4 col-md-4--sm-gap">
                <dd>
                  <i *ngIf="list_Custmodel.pnlasset_status === 'N'" class="fa fa-check-square"></i>
                  <i *ngIf="list_Custmodel.pnlasset_status !== 'N'" class="fa fa-square"></i>
                  ทรัพย์สินใหม่
                </dd>
              </div>
              <div class="col-md-4 col-md-4--sm-gap">
                <dd>
                  <i *ngIf="list_Custmodel.pnlwith_vat === 'Y'" class="fa fa-check-square"></i>
                  <i *ngIf="list_Custmodel.pnlwith_vat !== 'Y'" class="fa fa-square"></i>
                  VAT
                </dd>
              </div>

              <div class="col-md-4 col-md-4--sm-gap">
                <dd>
                  <i *ngIf="list_Custmodel.pnlnew_reg === 'Y'" class="fa fa-check-square"></i>
                  <i *ngIf="list_Custmodel.pnlnew_reg !== 'Y'" class="fa fa-square"></i>
                  สคบ.
                </dd>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-md-12--sm-gap col-lg-6 col-lg-6--sm-gap">
            <span class="star font-weight-bold">* อัตราเบี้ยปรับ : MRR(KTB) + {{list_Custmodel.penalty_rate || '...'}} %
            </span>
          </div>
        </dl>
      </div>
    </p-tabPanel>

    <p-tabPanel header="รายละเอียดสินเชื่อ">
      <div class="container-fluid mt-3" style="word-break: break-all">
        <dl class="row row--sm-gap">
          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>ช่องทางการชำระเงิน</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <div class="row row--sm-gap">
              <div class="text-center col-xl-4 col-xl-4--sm-gap col-lg-12 col-lg-12--sm-gap">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblmet_pay2 || '...'}}
                </dd>
              </div>
              <div class="text-center col-xl-8 col-xl-8--sm-gap col-lg-12 col-lg-12--sm-gap">
                <dd class="highlighter-blue">
                  {{list_Custmodel.lblmet_pay_desc2 || '...'}}
                </dd>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>วันที่ทำสัญญา</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.lblfin_date2 || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>วันที่ชำระงวดแรก</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.first || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>ชำระทุกวันที่</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.due_day || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>Flat Rate (%)</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.lblflat_rate || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>วันที่ชำระงวดสุดท้าย</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.lbllast_due || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>วันที่เช็คจ่าย</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.disbursement_date || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>งวดผ่อนชำระ</dt>
          </div>
          <div class="text-center col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.term || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>Residual Value (RV)</dt>
          </div>
          <div class="text-right col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue">
              {{list_Custmodel.rv || '0' | number:'.2-2'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>ยอดลูกหนี้</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue text-right">
              {{(list_Custmodel.v_ar | number:'.2-2') || '...'}}
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap text-right">
            <dt>รายได้รอตัด</dt>
          </div>
          <div class="col-lg-2 col-lg-2--sm-gap col-md-3 col-md-3--sm-gap">
            <dd class="highlighter-blue text-right">
              {{(list_Custmodel.unearn | number:'.2-2') || '...'}}
            </dd>
          </div>
        </dl>

        <div class="row">
          <p-table [value]="list_array" [responsive]="true" scrollable="true">
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center">ประเภท</th>
                <th class="text-center">ยอดเงิน (รวมภาษี)</th>
                <th class="text-center">ภาษีมูลค่าเพิ่ม</th>
                <th class="text-center">ยอดเงิน</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr>
                <td class="text-center">
                  <span class="ui-column-title">ประเภท</span>
                  <label>{{rowData.category}}</label>
                </td>
                <td class="text-right">
                  <span class="ui-column-title">ยอดเงิน(รวมภาษี)</span>
                  {{rowData.amt_wth_vat | number:'.2-2'}}
                </td>
                <td class="text-right">
                  <span class="ui-column-title">ภาษีมูลค่าเพิ่ม</span>
                  {{rowData.vat | number:'.2-2'}}
                </td>
                <td class="text-right">
                  <span class="ui-column-title">ยอดเงิน</span>
                  {{rowData.amt | number:'.2-2'}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="row mt-3">
          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd>
              <i *ngIf="list_Custmodel.pnladv_arr === 'V'" class="fa fa-check-square"></i>
              <i *ngIf="list_Custmodel.pnladv_arr !== 'V'" class="fa fa-square"></i>
              Beginning
            </dd>
          </div>
          <div class="col-lg-4 col-lg-4--sm-gap col-md-8 col-md-8--sm-gap">
            <div class="row row--sm-gap">
              <div class="col-md-4 col-md-4--sm-gap">
                <dd>
                  <i *ngIf="list_Custmodel.pnldeduct_installment === 'Y'" class="fa fa-check-square"></i>
                  <i *ngIf="list_Custmodel.pnldeduct_installment !== 'Y'" class="fa fa-square"></i>
                  หักค่างวด
                </dd>
              </div>
              <div class="col-md-8 col-md-8--sm-gap">
                <div class="row row--sm-gap">
                  <div class="col-md-8 col-md-8--sm-gap col-sm-8 col-sm-8--sm-gap text-center">
                    <dd class="highlighter-blue">
                      {{list_Custmodel.lbldeduct_install_term || '...'}}
                    </dd>
                  </div>
                  <div class="col-md-4 col-md-4--sm-gap col-sm-4 col-sm-4--sm-gap text-left">งวด</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-4 col-md-4--sm-gap">
            <dd>
              <i *ngIf="list_Custmodel.pnldeduct_voluntory === 'Y'" class="fa fa-check-square"></i>
              <i *ngIf="list_Custmodel.pnldeduct_voluntory !== 'Y'" class="fa fa-square"></i>
              หักค่าเบี้ยประกันภัย
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-8 col-md-8--sm-gap">
            <dd>
              <i *ngIf="list_Custmodel.pnldeduct_compulsory === 'Y'" class="fa fa-check-square"></i>
              <i *ngIf="list_Custmodel.pnldeduct_compulsory !== 'Y'" class="fa fa-square"></i>
              หักค่าเบี้ย พรบ.
            </dd>
          </div>

          <div class="col-lg-2 col-lg-2--sm-gap col-md-6 col-md-6--sm-gap">
            <dd>
              <i *ngIf="list_Custmodel.pnlpur_op === 'Y'" class="fa fa-check-square"></i>
              <i *ngIf="list_Custmodel.pnlpur_op !== 'Y'" class="fa fa-square"></i>
              ออกใบสั่งซื้อ
            </dd>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
</p-panel>
