<p-panel header="ตารางค่างวดสินเชื่อบุุคล(ในกรณีจ่ายตรง Due)">
  <div class="border-isa" style="word-break: break-all">
    <p-table [value]="list_Repayment" [paginator]="true" [rows]="10" scrollable="true" [style]="{width:'90vw'}"
             scrollHeight="50vh" [resizableColumns]="true" columnResizeMode="expand"
             selectionMode="single">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:80px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
          <col style="width:100px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn class="text-center">No.</th>
          <th pResizableColumn class="text-center">Paid date</th>
          <th pResizableColumn class="text-center">Paid</th>
          <th pResizableColumn class="text-center">Schd. Ind</th>
          <th pResizableColumn class="text-center">Schd. Fac</th>
          <th pResizableColumn class="text-center">Principle</th>
          <th pResizableColumn class="text-center">O/S AR</th>
          <th pResizableColumn class="text-center">O/S Pri</th>
          <th pResizableColumn class="text-center">O/S Interest</th>
          <th pResizableColumn class="text-center">O/S Fac</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td class="text-center">
            <label>{{rowData.no}}</label>
          </td>
          <td class="text-center">
            <label>{{rowData.due_date}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.paid_price | number:'.2-2'}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.schd_int | number:'.2-2'}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.schd_fac | number:'.2-2'}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.principal | number:'.2-2'}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.os_ar | number:'.2-2'}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.os_principal | number:'.2-2'}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.os_interest | number:'.2-2'}}</label>
          </td>
          <td class="text-right">
            <label>{{rowData.os_fac | number:'.2-2'}}</label>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <th colspan="10">
            No Record Found
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>
