body .ui-table, table, td, th {
border: none;
}

table,tr,td  {
  border-color: #ffffff;
}
.company.ui-organizationchart .ui-organizationchart-node-content.ui-person {
  padding: 0;
  border: 0 none;
}

.node-header,.node-content {
  padding: .5em .7em;
}

