<div class="row">
  <div class="col-md-2">
    <label style="padding:5px;"><b>Buyer Code :</b></label>
  </div>
  <div class="col-md-3">
    <input type="text"
           class="form-control"
           [(ngModel)]="data.buyer_code"
           readonly>
  </div>
  <div class="col-md-6">
    <input type="text"
           class="form-control"
           [(ngModel)]="data.buyer_name"
           readonly>
  </div>
</div>
<br>
<div class="border-isa p-3">
  <div class="row">
    <div class="col-md-4">
      <label>Application Type</label>
      <span class="star">*</span>
      <div class="form-group">
        <select class="form-control"
                [(ngModel)]="data.app_type">
          <option *ngFor="let list of lists; let i = index"
                  [value]="i+1"
                  [selected]="data.app_type === list.id_code">{{list?.remark}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <label>Advance Ratio (%)</label>
      <span class="star">*</span>
      <div class="form-group">
        <input appMyCurrency
               class="form-control"
               [fraction]="0"
               (change)="data.advance_ratio = $event.target.value"
               [value]="data.advance_ratio" >
<!--        <input currencyMask
               class="form-control"
               [(ngModel)]="data.advance_ratio"
               [options]="{ prefix: '', thousands: ',', decimal: '.' }"/>-->
      </div>
    </div>
    <div class="col-md-4">
      <label>Effective Rate(%)</label>
      <div class="form-group">
        <input appMyCurrency
               class="form-control"
               disabled
               [fraction]="2"
               (change)="data.eff_rate = $event.target.value"
               [value]="data.eff_rate" >
        <!--<input currencyMask
               disabled
               class="form-control"
               [(ngModel)]="data.eff_rate"
               [options]="{ prefix: '', thousands: ',', decimal: '.' }"/>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Sub-Line Limit</label>
      <span class="star">*</span>
      <div class="form-group">
        <input appMyCurrency
               class="form-control"
               [fraction]="2"
               (change)="data.sub_line_amt = $event.target.value"
               [value]="data.sub_line_amt" >
        <!--<input currencyMask
               class="form-control"
               [(ngModel)]="data.sub_line_amt"
               [options]="{ prefix: '', thousands: ',', decimal: '.' }"/>-->
      </div>
    </div>
    <div class="col-md-4">
      <label>Payment Term</label>
      <span class="star">*</span>
      <div class="form-group">
        <input appMyCurrency
               class="form-control"
               [fraction]="0"
               (change)="data.terms = $event.target.value"
               [value]="data.terms" >
        <!--<input currencyMask
               class="form-control"
               [(ngModel)]="data.terms"
               [options]="{ prefix: '', thousands: ',', precision  : '0' }"/>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Join Buyer Group</label>
      <div class="form-group">
        <select class="form-control"
                (change)="onBuyerGroupChange($event.target.value)">
          <option [value]="-1"></option>
          <option *ngFor="let list of listsJointB; let i = index"
                  [selected]="data.joint_buyer_group === list.id_code"
                  [value]="i"
          >{{list.id_code}} : {{list.remark}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <label>Join Buyer CR. Amount </label>
      <div class="form-group">
        <input appMyCurrency
               disabled
               class="form-control"
               [fraction]="0"
               (change)="data.cr_limit = $event.target.value"
               [value]="data.cr_limit" >
        <!--<input currencyMask
               disabled
               class="form-control"
               [(ngModel)]="data.cr_limit"
               [options]="{ prefix: '', thousands: ',', decimal: '.' }"/>-->
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-4">
      <input type="checkbox"
             name="noti_type"
             [checked]="data?.noti_type==='Y'"
             (change)="$event.target.checked ? (data.noti_type = 'Y') : (data.noti_type = 'N')"> Notification
      <div class="mt-radio-inline border-isa">
        <label><b>Advance Condition Code</b></label>
        <div class="form-group">
          <div class="mt-radio-inline" style="padding: 5px">
            <input type="radio"
                   name="advance_code"
                   value="01"
                   [(ngModel)]="data.advance_code"> 01 : Pre-Delivery<br>
            <input type="radio"
                   name="advance_code"
                   value="02"
                   [(ngModel)]="data.advance_code"> 02 : After Delivery<br>
            <input type="radio"
                   name="advance_code"
                   value="03"
                   [(ngModel)]="data.advance_code"> 03 : After Billing<br>
            <input type="radio"
                   name="advance_code"
                   value="04"
                   [(ngModel)]="data.advance_code"> 04 : No Billing Process<br>
            <input type="radio"
                   name="advance_code"
                   value="05"
                   [(ngModel)]="data.advance_code"> 05 : Other<br>
            <input type="radio"
                   name="advance_code"
                   value="06"
                   [(ngModel)]="data.advance_code"> 06 : After Shipment
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="mt-radio-inline border-isa">
          <label><b>Payment Type</b></label>
          <div class="form-group" style="padding: 5px">
            <input type="checkbox"
                   name="direct_payment"
                   [checked]="data?.drirect_payment === 'Y'"
                   (change)="$event.target.checked ? (data.drirect_payment = 'Y') : (data.drirect_payment = 'N')"> :
            Direct Payment
            <br>
            <input type="checkbox"
                   name="progress_payment"
                   [checked]="data?.progress_payment === 'Y'"
                   (change)="$event.target.checked ? (data.progress_payment = 'Y') : (data.progress_payment = 'N')"> :
            Progress Payment
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label>Factoring Fee (%)</label>
      <span class="star">*</span>
      <div class="form-group">
        <input [disabled]="editable"
               appMyCurrency
               class="form-control"
               [fraction]="2"
               (change)="data.factoring_fee = $event.target.value"
               [value]="data.factoring_fee" >
        <!--<input [disabled]="editable"
               currencyMask
               class="form-control"
               [(ngModel)]="data.factoring_fee"
               [options]="{ prefix: '', thousands: ',', decimal: '.' }"/>-->
      </div>
      <label>Minimum Factoring Fee</label>
      <div class="form-group">
        <input [disabled]="editable"
               appMyCurrency
               class="form-control"
               [fraction]="0"
               (change)="data.min_facfee = $event.target.value"
               [value]="data.min_facfee" >
        <!--<input [disabled]="editable"
               currencyMask
               class="form-control"
               [(ngModel)]="data.min_facfee"
               [options]="{ prefix: '', thousands: ',', decimal: '.' , precision  : '0'}"/>-->
      </div>
      <label>Max Facforing Fee</label>
      <div class="form-group">
        <input [disabled]="editable"
               appMyCurrency
               class="form-control"
               [fraction]="0"
               (change)="data.max_facfee = $event.target.value"
               [value]="data.max_facfee" >
        <!--<input [disabled]="editable"
               currencyMask
               class="form-control"
               [(ngModel)]="data.max_facfee"
               [options]="{ prefix: '', thousands: ',', decimal: '.', precision  : '0' }"/>-->
      </div>
      <br>
      <div class="mt-radio-inline border-isa">
        <label><b>Payment Method</b></label>
        <div class="form-group">
          <div class="mt-radio-inline" style="padding: 5px">
            <input type="radio" name="pay_mthd" value="CH" [(ngModel)]="data.pay_mthd"> CH : Cheque Collection
            <br>
            <input type="radio" name="pay_mthd" value="TR" [(ngModel)]="data.pay_mthd"> TR : Wire Tranfer
            <br>
            <input type="radio" name="pay_mthd" value="PDC" [(ngModel)]="data.pay_mthd"> PDC : Post Date Cheque
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label><b>Remark</b><br></label>
      <textarea class="form-control" rows="10" [(ngModel)]="data.other_doc"></textarea>
    </div>
  </div>
</div>
