<p-panel header="Total Exposure">
  <div class="form-group">
    <div class="form-group">
      <p-dataTable selectionMode="single"  rows="15"
                   [responsive]="true">
        <p-column field="f1" header="Categories"></p-column>
        <p-column field="f2" header="Finanncing Amount"></p-column>
        <p-column field="f3" header="Total Exposure"></p-column>
        <p-column field="f4" header="Highest Amount"></p-column>
        <p-column field="f5" header="Approve Date"></p-column>
        <p-column field="f6" header="Net IRR"></p-column>
        <p-column field="f7" header="D.P"></p-column>
        <p-column field="f8" header="Paid / Term"></p-column>
        <p-column field="f9" header="Payment G."></p-column>
        <p-column field="f10" header="Installment"></p-column>
        <p-footer>
        </p-footer>
      </p-dataTable>
    </div>
  </div>
</p-panel>

<br>
<p-panel header="Agreement">
  <div class="form-group">
    <p-dataTable selectionMode="single"  rows="15"
                 [responsive]="true">
      <p-column field="f1" header="Categories"></p-column>
      <p-column field="f1" header="Agreement"></p-column>
      <p-column field="f1" header="Financing Amount"></p-column>
      <p-column field="f1" header="O/S Balance"></p-column>
      <p-column field="f1" header="Terms"></p-column>
      <p-column field="f1" header="Paid"></p-column>
      <p-column field="f1" header="Installment"></p-column>
      <p-column field="f1" header="Net IRR"></p-column>
      <p-column field="f1" header="Down Percent"></p-column>
      <p-column field="f1" header="Flat Rate"></p-column>
      <p-column field="f1" header="Ver. Grade"></p-column>
      <p-column field="f1" header="Status"></p-column>
      <p-column field="f1" header="RD/RT"></p-column>
      <p-column field="f1" header="Payment Grade"></p-column>
      <p-column field="f1" header="Customer Name"></p-column>
    </p-dataTable>
  </div>
</p-panel>
<br>
<p-panel header="Close Account  ">
  <div class="form-group">
    <p-dataTable selectionMode="single"rows="15"
                 [responsive]="true">
      <p-column field="f1" header="Categories"></p-column>
      <p-column field="f1" header="Agreement"></p-column>
      <p-column field="f1" header="Financing Amount"></p-column>
      <p-column field="f1" header="O/S Balance"></p-column>
      <p-column field="f1" header="Terms"></p-column>
      <p-column field="f1" header="Paid"></p-column>
      <p-column field="f1" header="Installment"></p-column>
      <p-column field="f1" header="Net IRR"></p-column>
      <p-column field="f1" header="Down Percent"></p-column>
      <p-column field="f1" header="Flat Rate"></p-column>
      <p-column field="f1" header="Ver. Grade"></p-column>
      <p-column field="f1" header="Status"></p-column>
      <p-column field="f1" header="RD/RT"></p-column>
      <p-column field="f1" header="Payment Grade"></p-column>
      <p-column field="f1" header="Customer Name"></p-column>
    </p-dataTable>
  </div>
</p-panel>
