<div class="border-isa">
  <div class="flex-row p-3">
    <div class="form-group row">
      <div class="col-md-2 offset-1 text-right">
        <label class="mt-4 pt-2">Col. Exp</label>
      </div>
      <div class="col-md-2 text-center">
        <label>Total</label>
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2 text-center">
        <label>Paid Amount</label>
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2 text-center">
        <label>Net Total</label>
        <input class="form-control" type="text">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2 offset-1 text-right">
        <label>Legal Fee</label>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2 offset-1 text-right">
        <label>Legal Exp</label>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2 offset-1 text-right">
        <label>Other Exp</label>
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="text">
      </div>
    </div>
  </div>
  <div>
    <p-dataTable [value]="data" [rows]="20">
      <p-headerColumnGroup>
        <p-row>
          <p-column header="Document No."></p-column>
          <p-column header="Date"></p-column>
          <p-column header="Detail"></p-column>
          <p-column header="Amount"></p-column>
          <p-column header="Staff Code"></p-column>
          <p-column header="Staff Name"></p-column>
          <p-column header="Type"></p-column>
          <p-column header="Approval By"></p-column>
          <p-column header="Approval Date"></p-column>

        </p-row>
      </p-headerColumnGroup>
      <p-column field="1"></p-column>
      <p-column field="2"></p-column>
      <p-column field="3"></p-column>
      <p-column field="4" [style]="{'text-align':'right'}"></p-column>
      <p-column field="5"></p-column>
      <p-column field="6"></p-column>
      <p-column field="7"></p-column>
      <p-column field="8"></p-column>
      <p-column field="9"></p-column>
    </p-dataTable>
  </div>
</div>
