<p-panel header="Guarantee Cheque">
  <p-table [value]="list_ChqGuarantee" [responsive]="true"
           selectionMode="single" [metaKeySelection]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>เลขที่เช็ค</th>
        <th>วันที่ใยเช็ค</th>
        <th>ธนาคาร</th>
        <th>สาขา</th>
        <th>จำนวนเงิน</th>
        <th>รายการชำระ</th>
        <th>วันที่รับเช็ค</th>
        <th>วันที่นำฝากธนาคาร</th>
        <th>เลขที่ใบรับ</th>
        <th>ชื่อผู้รับ</th>
        <th>ช่องทางรับ</th>
        <th>สถานะ</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>{{rowData.CHEQUE_NUMBER}}</td>
        <td>{{rowData.DATE_CHEQUE}}</td>
        <td>{{rowData.AMOUNT}}</td>
        <td>{{rowData.RECEIVE_NAME}}</td>
        <td>{{rowData.BANK_CODE}}</td>
        <td>{{rowData.BRANCH_NAME}}</td>
        <td>{{rowData.DATE_PAY}}</td>
        <td>{{rowData.RECEIVE_NO}}</td>
        <td>{{rowData.RECEIVE_USER}}</td>
        <td>{{rowData.CHANNEL_NO}}</td>
        <td>{{rowData.DATE_PAY_IN}}</td>
        <td>{{rowData.TASK_NAME}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
