<p-panel header="Customer Information">
  <div class="main-container">
    <div class="d-flex">
      <div class="flex-md-column col-md-3 ">
        <div class="form-group">
          <label>Customer Code</label>
          <span class="star">*</span>
          <input type="text" class="form-control"  [(ngModel)]="caEntityDetail.ent_code"  disabled >
        </div>
      </div>
      <div class="flex-md-column col-md-6 offset-md-3 ">
        <div class="form-group">
          <label> Company </label>
          <input type="text" class="form-control"  [(ngModel)]="caEntityDetail.com_code" disabled >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-3 ">
        <div class="form-group">
          <label> Intial </label>
          <select class="form-control"
                  [ngModel]="caEntityDetail?.f_name_e"
                  (ngModelChange)="caEntityDetail.f_name_e=$event">
            <option></option>
            <option *ngFor="let ansFNME of this.listFNME"
                    [selected]="ansFNME?.id_code == caEntityDetail?.f_name_e"
                    [value]="ansFNME?.id_code">{{ansFNME?.remark}}
            </option>
          </select>

        </div>
      </div>
      <div class="flex-md-column col-md-3 offset-md-3 ">
        <div class="form-group">
          <label> Intial(T) </label>
          <select class="form-control"
                  [ngModel]="caEntityDetail?.f_name"
                  (ngModelChange)="caEntityDetail.f_name=$event">
            <option></option>
            <option *ngFor="let ansFNMT of this.listFNMT"
                    [selected]="ansFNMT?.id_code == caEntityDetail?.f_name"
                    [value]="ansFNMT?.id_code">{{ansFNMT?.remark}}
            </option>
          </select>
        </div>
      </div>
      <div class="flex-md-column col-md-3">
        <div class="form-group">
          <label> Branch No. </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.branch_no" disabled >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Name (T)  </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.f_namet">
        </div>
      </div>
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label>Last Name (T)</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.l_namet">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Name (E)</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.f_namee">
        </div>
      </div>
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Last Name (E)</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.l_namee">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-2 ">
        <div class="form-group">
          <label>Birth/Register Date</label>
          <p-calendar  dateFormat="dd/mm/yy" class="my-1" placeholder="dd/mm/yyyy"  dataType="string"  showButtonBar="true"
                       [(ngModel)]="caEntityDetail.birth_d"></p-calendar>

        </div>
      </div>
      <div class="flex-md-column col-md-2 ">
        <div class="form-group">
          <label>  Establishment Date</label>
            <p-calendar  dateFormat="dd/mm/yy" class="my-1" placeholder="dd/mm/yyyy" dataType="string"  showButtonBar="true"
                         [(ngModel)]="caEntityDetail.birth_d"></p-calendar>
        </div>
      </div>
      <div class="flex-md-column col-md-6 offset-2 ">
        <div class="form-group">
          <label> Card No.  </label>
          <input type="text" class="form-control"  [(ngModel)]="caEntityDetail.card_no" pKeyFilter="int" >

        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Card Type </label>
          <select class="form-control"
                  [ngModel]="caEntityDetail?.card_type"
                  (ngModelChange)="caEntityDetail.card_type=$event">
            <option></option>
            <option *ngFor="let ansCARD of listCRD"
                    [selected]="ansCARD?.id_code == caEntityDetail?.card_type"
                    [value]="ansCARD?.id_code">{{ansCARD?.remark}}
            </option>
          </select>

        </div>
      </div>
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label>  Issue At  </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.card_by">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="flex-md-column col-md-6 ">
        <p-dataTable selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" rows="15"
                     [responsive]="true">
          <p-column field="f1" header=" Nation "></p-column>
          <p-column field="f2" header=" % "></p-column>
          <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
            </div>
          </p-footer>
        </p-dataTable>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label>  (Authorized Officer)Signed By THAI </label>
          <input type="text" class="form-control"  [(ngModel)]="caEntityDetail.authorize_by_t"  >
        </div>
      </div>
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> (Authorized officer)Signed By ENG </label>
          <input type="text" class="form-control"  [(ngModel)]="caEntityDetail.authorize_by_e">
        </div>

      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> (Exposure Group) Group Code </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.grp_code"  >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-1 pr-0 ">
        <label> &nbsp; </label>
        <app-search-un app-search-un inuURL={{OutURL}}
                       title="Business Type;Specifies;DBD CODE;"
                       (col1)="setBusName($event)"
                       (col3)="setBuscode($event)"
                       (col4)="setCluster($event)"
                       (col5)="setBusType($event)">
        </app-search-un>
      </div>
      <div class="flex-md-column col-md-4 ">
        <div class="form-group">
          <label> Business </label>
          <input type="text" class="form-control" disabled  [(ngModel)]="caEntityDetail.bus_detail_desc"  >
        </div>
      </div>
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Business Detail </label>
          <input type="text" class="form-control" disabled [(ngModel)]="caEntityDetail.bus_detail_desc" >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-3 ">
        <div class="form-group">
          <label> Register Capital </label>
          <div class="form-inline">
            <input appMyCurrency
                   class="form-control"
                   (change)="caEntityDetail.regis_capital_mb = $event.target.value ;caEntityDetail.regis_capital = caEntityDetail.regis_capital_mb * 1000000 ;"
                   [value]="caEntityDetail.regis_capital_mb"/>
            &nbsp;MB
          </div>
        </div>
      </div>
      <div class="flex-md-column col-md-3">
        <div class="form-group">
          <label> Paid Up Capital </label>
          <div class="form-inline">
            <input appMyCurrency
                   class="form-control"
                   (change)="caEntityDetail.paid_up_capital_mb = $event.target.value;caEntityDetail.paid_up_capital = caEntityDetail.paid_up_capital_mb * 1000000 ;"
                   [value]="caEntityDetail.paid_up_capital_mb"/>
            &nbsp;MB
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-2 ">
        <div class="form-group">
          <label> Sale ended : Year </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.sales_year" pKeyFilter="int" >
        </div>
      </div>
      <div class="flex-md-column col-md-3 ">
        <div class="form-group">
          <label> &nbsp; </label>
          <div class="form-inline">
            - &nbsp;&nbsp; &nbsp;&nbsp;
          <input appMyCurrency
                 class="form-control"
                 (change)="caEntityDetail.sales_amt_mb = $event.target.value;caEntityDetail.sales_amt = caEntityDetail.sales_amt_mb * 1000000 ;"
                 [value]="caEntityDetail.sales_amt_mb"/>
            &nbsp;MB
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-2 ">
        <div class="form-group">
          <label> Net Worth ended : Year </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.net_worth_year" pKeyFilter="int">
        </div>
      </div>
      <div class="flex-md-column col-md-3 ">
        <div class="form-group">
          <label> &nbsp; </label>
          <div class="form-inline">
            - &nbsp;&nbsp; &nbsp;&nbsp;
            <input appMyCurrency
                   class="form-control"
                   (change)="caEntityDetail.net_worth_amt_mb = $event.target.value;caEntityDetail.net_worth_amt = caEntityDetail.net_worth_amt_mb * 1000000 ;"
                   [value]="caEntityDetail.net_worth_amt_mb"/>
            &nbsp;MB
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Contact Person (ENG) </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.contract_e">
        </div>
      </div>
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Contact Person (Th) </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.contract">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-6 ">
        <div class="form-group">
          <label> Tel. </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.contract_tel">
        </div>
      </div>
    </div>
  </div>
</p-panel>
