<div class="flex-column">
  <div class="form-group col-md-12 form-inline mb-0">
    <!-------------------Credit Type-------------------------------------->
    <label>Credit Type :</label>
    <span class="star pr-1">*</span>
    <select class="form-control"
            (change)="creditTypeChange($event.target.value)"
            [(ngModel)]="bgdetail.fin_typ">
      <option [value]=""></option>
      <option *ngFor="let list of dataFin; let i = index"
              [value]="i+1"
              [selected]="bgdetail.fin_typ === list.id_code">{{list?.remark}}
      </option>
    </select>
    <!--------------fin_typ 1 (Hire purchars)---------------------------->
    <select class="form-control"   {{bgdetail?.buy_back_flg }}
            *ngIf="bgdetail.fin_typ == 1"
            (change)="subFinChange($event.target.value)">
      <option [value]="-1"></option>
      <option *ngFor="let list of dataSubFin; let i = index "
              [value]="list.id_code"
              [selected]="bgdetail.sub_fin === list.id_code">{{list?.remark}}
      </option>
    </select>
    <!--------------fin_typ 2 (Leasing)---------------------------->
    <select class="form-control"
            *ngIf="bgdetail.fin_typ == 2"
            (change)="subFinChange($event.target.value)">
      <option [value]="-1"></option>
      <option *ngFor="let list of dataSubFinLs; let i = index "
              [value]="i"
              [selected]="bgdetail.sub_fin === list.id_code">{{list?.remark}}
      </option>
    </select>
    <!--------------if fin_typ 2--------------------------------------->
    <select class="form-control"
            *ngIf="bgdetail.fin_typ == 2"
            (change)="operatingLeaseChange($event.target.value)">
      <option [value]="-1"></option>
      <option *ngFor="let list of dataLease; let i = index"
              [value]="i"
              [selected]="bgdetail.operating_lease === list.key1 &&
                            bgdetail.buy_back_flg === list.key2">{{list?.remark}}
      </option>
    </select>

  </div>
  <div class="form-group col-md-12 form-inline mb-0">
    <div class="flex-md-column col-md-4 border-isa m-1">
      <div class="form-group form-inline">
        <input type="radio" name="lc_flg" value="N" [(ngModel)]="bgdetail.lc_flg" (ngModelChange)="openLc()"> No LC
        <input type="radio" name="lc_flg" value="Y" [(ngModel)]="bgdetail.lc_flg" (ngModelChange)="openLc()"
               style="margin-left: 10px"> LC
        <input type="radio" name="lc_flg" value="A" [(ngModel)]="bgdetail.lc_flg" (ngModelChange)="openLc()"
               style="margin-left: 10px"> Approx
      </div>
    </div>
    <div class="form-group form-inline m-3">
      <input type="checkbox" name="group_flg" [checked]="bgdetail?.group_flg === 'Y'"
             (change)="$event.target.checked ? (bgdetail.group_flg = 'Y') : (bgdetail.group_flg = 'N')"
             style="margin-left: 10px"> Project
      <input type="text" class="form-control" [(ngModel)]="bgdetail.group_nme" *ngIf="bgdetail?.group_flg === 'Y'">
    </div>
  </div>
</div>
<div class="flex-row border-isa mb-0">
  <!-------   Pricing Detail   -------->
  <div class="form-group col-md-12 card pt-1 mb-1">
    <div class="form-group row">
      <div class="d-flex col-md-12 p-0">
        <div class="form-inline col-md-4 mt-4">
          <input type="checkbox"
                 [checked]="bgdetail ?  bgdetail.wh_tax > 0 : false"
                 (change)="$event.target.checked ? (bgdetail.wh_tax = 5) : (bgdetail.wh_tax = 0 )">W/H Tax

          <input type="text" class="form-control ml-1 col-md-7" [(ngModel)]="bgdetail.wh_tax">
          <label>&nbsp;%</label>
        </div>
        <div class="col-md-4">
          <label>ADVANCE / ARR :</label>
          <span class="star">*</span>
          <select class="form-control"
                  [(ngModel)]="bgdetail.adv_arr"
                  (ngModelChange)="advChange()">
            <option [value]="-1"></option>
            <option *ngFor="let list of dataPaid; let i = index "
                    [value]="list.id_code"
                    [selected]="bgdetail.adv_arr === list.id_code">{{list?.remark}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-inline col-md-3">
        <input type="checkbox"
               [checked]="bgdetail?.with_vat === 'Y'"
               (change)="$event.target.checked ? (bgdetail.with_vat = 'Y') : (bgdetail.with_vat = 'N')">With VAT
      </div>
      <div class="col-md-4 form-inline">
        <p-inputSwitch [(ngModel)]="checked"  (onChange)="handleChange(checked)" class="ml-2"></p-inputSwitch>
        <label class="pl-1">Input Include VAT</label>
      </div>
    </div>

    <!--------------------Asset Price :------------------------------->
    <div class="form-group row">
      <div class="col-md-2">
        <label class="mt-4 pt-2">Asset Price : </label>
      </div>
      <div class="col-md-2.5 text-center">
        <label>Exclude VAT</label>
        <input class="form-control"
               appMyCurrency
               [value]="bgdetail.asst_amt_e_vat" (change)="bgdetail.asst_amt_e_vat = $event.target.value"
               #assetEvat
               pKeyFilter="pnum"
               (blur)="calculateAsset('E')"
               />
      </div>
      <div class="col-md-2 text-center">
        <label>VAT</label>
        <input disabled
               class="form-control"
               appMyCurrency  [value]="bgdetail.asst_amt_vat"
               />
      </div>
      <div class="col-md-2.5 text-center">
        <label>Include VAT</label>
        <input #assetIvat
               disabled
               class="form-control" appMyCurrency
               [value]="bgdetail.asst_amt_i_vat" (change)="bgdetail.asst_amt_i_vat = $event.target.value"
               pKeyFilter="pnum"
               (blur)="calculateAsset('I')"
             />
      </div>

    </div>
    <!--------------------Down Amount------------------------------->
    <div class="form-group row" [hidden]="bgdetail.fin_typ == '2'" >
      <div class="col-md-2">
        <label class="mt-2">Down Amount :</label>
      </div>
      <div class="col-md-2.5">
        <input
               #downEvat
               (blur)="calculateDown('E')"
               class="form-control" appMyCurrency
               [value]="bgdetail.down_amt_e_vat" (change)="bgdetail.down_amt_e_vat = $event.target.value"/>
      </div>
      <div class="col-md-2">
        <input disabled
               class="form-control" appMyCurrency
               [value]="bgdetail.down_amt_vat" />
      </div>
      <div class="col-md-2.5">
        <input #downIvat
               disabled
               (blur)="calculateDown('I')"
               class="form-control" appMyCurrency
               [value]="bgdetail.down_amt_i_vat" (change)="bgdetail.down_amt_i_vat = $event.target.value"/>
      </div>
      <div class="col-md-2 text-center">
        <label>Ratio</label><br>

      </div>
    </div>
    <!--------------------Deposit Amount------------------------------->
    <div class="form-group row" [hidden]="bgdetail.fin_typ == '1'" >
      <div class="col-md-2">
        <label class="mt-2">Deposit Amount :</label>
      </div>
      <div class="col-md-2.5">
        <input #depEvat
               (blur)="calculateDep('E')"
               class="form-control"
               appMyCurrency
               [value]="bgdetail.dep_amt_e_vat" (change)="bgdetail.dep_amt_e_vat = $event.target.value"/>
      </div>
      <div class="col-md-2">
        <input disabled
               class="form-control" appMyCurrency
               [value]="bgdetail.dep_amt_vat" (change)="bgdetail.dep_amt_vat = $event.target.value"/>
      </div>
      <div class="col-md-2.5">
        <input #depIvat
               disabled
               (blur)="calculateDep('I')"
               class="form-control" appMyCurrency
               [value]="bgdetail.dep_amt_i_vat" (change)="bgdetail.dep_amt_i_vat = $event.target.value"/>
      </div>
      <div class="col-md-2 text-center">
        <label>Ratio</label><br>

      </div>
    </div>
    <!--------------------Financing Amt------------------------------->
    <div class="form-group row">
      <div class="col-md-2">
        <label class="mt-2">Financing Amt :</label>
      </div>
      <div class="col-md-2.5">
        <input #finEvatt
               (blur)="calculateFin()"
               class="form-control" appMyCurrency
               [value]="bgdetail.fin_amt_e_vat" (change)="bgdetail.fin_amt_e_vat = $event.target.value"/>
      </div>
      <div class="col-md-2">
        <input disabled
               class="form-control" appMyCurrency
               [value]="bgdetail.fin_amt_vat" (change)="bgdetail.fin_amt_vat = $event.target.value"/>
      </div>
      <div class="col-md-2.5">
        <input #finIvatt
               disabled
               class="form-control" appMyCurrency
               [value]="bgdetail.fin_amt_i_vat" (change)="bgdetail.fin_amt_i_vat = $event.target.value"/>
      </div>
      <div class="col-md-2">
        <input (blur)="calculateRatio()"
               class="form-control" appMyCurrency
               [value]="bgdetail.fin_ratio" (change)="bgdetail.fin_ratio = $event.target.value"/>
      </div>
    </div>
    <!--------------------Purchase Option------------------------------->
    <div class="row" [hidden]="bgdetail.fin_typ == '1'">
      <div class="col-md-2 form-group">
        <label>Purchase Option</label>
      </div>
      <div class="col-md-2.5">
        <input #rvEvat
               (blur)="calculateRv()"
               class="form-control" appMyCurrency
               [value]="bgdetail.rv_amt_e_vat" (change)="bgdetail.rv_amt_e_vat = $event.target.value"/>
      </div>
      <div class="col-md-2">
        <input disabled
               class="form-control" appMyCurrency
               [value]="bgdetail.rv_amt_vat"/>
      </div>
      <div class="col-md-2.5">
        <input #rvIvat
               disabled
               class="form-control" appMyCurrency
               [value]="bgdetail.rv_amt_i_vat" (change)="bgdetail.rv_amt_i_vat = $event.target.value"/>
      </div>
      <div class="col-md-2">
      </div>
    </div>

  </div>
  <!-------    Term  &  IRR   -------->
  <div class="form-group col-md-12 card pt-1 mb-0">
    <div class="form-group d-flex">
      <div class="col-md-3">
        <label>Terms :</label>
        <input class="form-control" appMyCurrency [fraction]="0"
               [value]="bgdetail.terms" (change)="bgdetail.terms = $event.target.value"
        />
      </div>
      <div class="col-md-3">
        <label>Flat Rate :</label>
        <input class="form-control" appMyCurrency [fraction]="8"
               [value]="bgdetail.flat_rate" (change)="bgdetail.flat_rate = $event.target.value"
        />
      </div>
      <div class="col-md-3">
        <label>Net IRR :</label>
        <input class="form-control"
               appMyCurrency [fraction]="8"
               [value]="bgdetail.net_irr" (change)="bgdetail.net_irr = $event.target.value"
        />
      </div>
      <div class="col-md-3">
        <label>Gross IRR</label>
        <span class="star">*</span>
        <input class="form-control"
               appMyCurrency [fraction]="8"
               [value]="bgdetail.gross_irr" (change)="bgdetail.gross_irr = $event.target.value"
        />
      </div>
    </div>
    <div class="form-group d-flex">
      <div class="col-md-3">
        <label>Expense :</label>
        <input class="form-control"
               appMyCurrency
               [value]="bgdetail.es_expense" (change)="bgdetail.es_expense = $event.target.value"
        />
      </div>
      <div class="col-md-3">
        <label>Revenue :</label>
        <input class="form-control"
               appMyCurrency
               [value]="bgdetail.es_revenue" (change)="bgdetail.es_revenue = $event.target.value"
        />
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-6 ">
            <label>Cal IRR</label>
            <select class="form-control w-100" (change)="bgdetail.selectForCall = $event.target.value">
             <option [value]="1">1.Calculate Installment + Flat Know Gross IRR , Fin, Term</option>
            <option [value]="2">2.Calculate Installment + IRR Know Fin, Flat, Term</option>
            <option [value]="3">3.Calculate IRR + Flat Know Installment, Fin, Term</option>
            <option [value]="4">4.Calculate Finance + Flat Know Installment, Gross IRR, Term</option>
            <option [value]="5">5.Calculate Flat Know Installment, Fin, Term</option>
            </select>
          </div>
          <div class="col-md-6 mt-4 pt-1">
            <button type="button" pButton style="float:left"
                    (click)="calculateClick()"
                    label="Calculate"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group col-md-12 border-isa pt-1 mt-1 mb-1">
  <div class="form-group d-flex mb-0">
    <div class="col-md-4 ">
      <div class="">
        <label> Disburse </label>
        <p-calendar dateFormat="dd/mm/yy" class="my-1" placeholder="dd/mm/yyyy" dataType="string"  showButtonBar="true"
                    [(ngModel)]="bgdetail.disburse_dt"
                   ></p-calendar>


      </div>
    </div>
    <div class="col-md-4 ">
      <div class="form-group">
        <label> First Date </label>
        <p-calendar dateFormat="dd/mm/yy" class="my-1" placeholder="dd/mm/yyyy"  dataType="string"   showButtonBar="true"
                    [(ngModel)]="bgdetail.first"
                    ></p-calendar>
      </div>
    </div>
  </div>
   <div class="d-flex">
    <p-tabView class="w-100"  (onChange)="onTabChange($event.index)" >
      <p-tabPanel header="Fix">
        <div class="form-group col-md-12 card pt-1">
          <div class="form-group form-inline mt-2">
            <input type="radio" name="schedule" value="R" [(ngModel)]="bgdetail.schedule" (ngModelChange)="scheduleChange()" > Straight <br>
            <input type="radio" name="schedule" value="I" [(ngModel)]="bgdetail.schedule" (ngModelChange)="scheduleChange()" > Step
          </div>
          <div class="form-group d-flex"  *ngIf="bgdetail.schedule === 'R' " >
            <div class="col-md-2 mt-3">
              <label class="mt-3">Installment : </label>
            </div>
            <div class="col-md-3 text-center">
              <label>Exclude VAT</label>
              <input class="form-control"
                     appMyCurrency
                     (blur)="calculateInstallment('eVat')"
                     [value]="bgdetail.installment_e_vat" (change)="bgdetail.installment_e_vat = $event.target.value"
              />
            </div>
            <div class="col-md-3 text-center">
              <label>VAT</label>
              <input appMyCurrency
                     disabled
                     class="form-control"
                     [value]="bgdetail.installment_vat" (change)="bgdetail.installment_vat = $event.target.value"
              />
            </div>
            <div class="col-md-3 text-center">
              <label>Include VAT</label>
              <input appMyCurrency
                     class="form-control"
                     (blur)="calculateInstallment('iVat');"
                     [value]="bgdetail.installment_i_vat" (change)="bgdetail.installment_i_vat = $event.target.value"
              />
            </div>
          </div>
          <div class="mb-2" *ngIf="bgdetail.schedule === 'I' " >
            <p-dataTable [value]="bgdetail.listcastep"
                         selectionMode="single"
                         [(selection)]="selectedStep"
                         rows="15" [responsive]="true"
                         (onRowSelect)="onRowSelect($event)"
                         >
              <p-header>
                <app-custom-botton-icon [option]="'new'"
                                        (onBtnClick)="addEditStep('add')"></app-custom-botton-icon>
                <app-custom-botton-icon [option]="'edit'"
                                        (onBtnClick)="addEditStep('edit')"></app-custom-botton-icon>
                <app-custom-botton-icon [option]="'delete'"
                                        (onBtnClick)="delete()"></app-custom-botton-icon>
              </p-header>
              <p-headerColumnGroup>
                <p-row>
                  <p-column header="From Term" rowspan="2"></p-column>
                  <p-column header="To Term" rowspan="2"></p-column>
                  <p-column header="Installment" rowspan="2"></p-column>
                </p-row>
              </p-headerColumnGroup>
              <p-column field="from_term" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.'  }}</span>
                </ng-template>
              </p-column>
              <p-column field="to_term" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.'  }}</span>
                </ng-template>
              </p-column>
              <p-column field="inst_e_vat" [style]="{'text-align':'right'}">
                <ng-template let-col let-row="rowData" pTemplate="body">
                  <span>{{ row[col.field] |  number:'.2-2'  }}</span>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Float">
        <div class="form-group col-md-12 modal-content pt-1">
          <div class="form-group d-flex">
            <div class="col-md-2">
              <label class="mt-4 pt-1">Installment :</label>
            </div>
            <div class="col-md-3 text-center">
              <label>Exclude VAT</label>
              <input appMyCurrency
                     class="form-control"
                     [value]="bgdetail.installment_e_vat" (change)="bgdetail.installment_e_vat = $event.target.value"
              />
            </div>
            <div class="col-md-3 text-center">
              <label>VAT</label>
              <input appMyCurrency
                     class="form-control"
                     [value]="bgdetail.installment_vat" (change)="bgdetail.installment_vat = $event.target.value"
              />
            </div>
            <div class="col-md-3 text-center">
              <label>Include VAT</label>
              <input appMyCurrency
                     class="form-control"
                     [value]="bgdetail.installment_i_vat" (change)="bgdetail.installment_i_vat = $event.target.value"
              />
            </div>
          </div>
          <div class="form-group d-flex">
            <div class="col-md-2">
              <label>Bank :</label>
              <select class="form-control"
                      [(ngModel)]="bgdetail.bank_code"
                      (change)="rateChange()">
                <option [value]=""></option>
                <option *ngFor="let list of dataBank; let i = index"
                        [value]="list.id_code"
                        [selected]="bgdetail.bank_code === list.id_code">{{list?.id_code}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Type :</label>
              <select class="form-control"
                      [(ngModel)]="bgdetail.interest_rate_type"
                      (change)="rateChange()">
                <option [value]=""></option>
                <option *ngFor="let list of dataIntRate; let i = index"
                        [value]="list.id_code"
                        [selected]="bgdetail.interest_rate_type === list.id_code">{{list?.remark}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Rate :</label>
              <input disabled
                     appMyCurrency
                     class="form-control"   [fraction]="3"
                     [value]="bgdetail.interest_rate" (change)="bgdetail.interest_rate = $event.target.value"
                     />
            </div>
            <div class="col-md-3">
              <label>Spread :</label>
              <input appMyCurrency
                     class="form-control"   [fraction]="3"
                     [value]="bgdetail.spread" (change)="bgdetail.spread = $event.target.value"
                     />
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!-------------------------------------Open LC----------------------------------->
<div class="col-md-12 form-group border-isa flex-row mb-1" *ngIf="visiblePanel">
  <div class="row  form-group col-md-3">
    <label><b>Open LC</b></label>
  </div>
  <div class="row form-group col-md-12">
    <div class="col-md-3">
      <label>Asset Price</label><span class="star">*</span>
      <input appMyCurrency
             class="form-control"
             [value]="bgdetail.asst_prce_forgn" (change)="bgdetail.asst_prce_forgn = $event.target.value"/>
    </div>
    <div class="col-md-3">
      <label>&nbsp;</label>
      <select class="form-control">
        <option [value]=""></option>
        <option *ngFor="let list of dataCurType; let i = index"
                [value]="list.id_code"
                [selected]="bgdetail.curr_type === list.id_code">{{list?.remark}}
        </option>
      </select>
    </div>
  </div>

  <div class="row form-group col-md-12">
    <div class="col-md-3">
      <label>Currency</label><span class="star">*</span>
      <input appMyCurrency
             class="form-control"
             [value]="bgdetail.currency" (change)="bgdetail.currency = $event.target.value"
             />
    </div>
    <div class="col-md-3">
      <label>Import Duty(%)</label>
      <input appMyCurrency
             class="form-control"
             (blur)="calculateLc()"  [fraction]="0"
             [value]="bgdetail.duty_pcnt" (change)="bgdetail.duty_pcnt = $event.target.value"
           />
    </div>
    <div class="col-md-3">
      <label>Installment</label><span class="star">*</span>
      <input appMyCurrency  [fraction]="5"
             class="form-control"
             (blur)="calculateLc()"
             [value]="bgdetail.inst_pcnt_of_asst" (change)="bgdetail.inst_pcnt_of_asst = $event.target.value"
             />
    </div>
  </div>
</div>

<!--------------------------------Financing asset-------------------------------->
<div class="form-group flex-row col-md-12 border-isa">
  <div class="form-group d-flex">
    <div class="col-md-6">
      <label>Financing Asset :</label>
      <textarea class="form-control" [(ngModel)]="bgdetail.fin_asst" rows="5"></textarea>
      <br>
    </div>


  </div>
</div>

<app-alert-dialog [mode_single]="0" #warning></app-alert-dialog>

<app-action-lock-screen *ngIf="checkLoader"
                        [spinner]="true"
                        [showCancel]="true"
                        (onCancel)="checkLoader = false"
                        #lockScreen></app-action-lock-screen>

<app-action-dialog #actionDialog
                   [showCancel]="true"
                   [showAdd]="true"
                   (onAdd)="addClick()">
  <div class="form-group">
    <label>From Term</label>
    <input class="form-control" [(ngModel)]="step.from_term">
  </div>
  <div class="form-group">
    <label>To Term</label>
    <input class="form-control" [(ngModel)]="step.to_term">
  </div>
  <div class="form-group">
    <label>Installment</label>
    <input class="form-control"
           appMyCurrency
           [value]="step.inst_e_vat" (change)="step.inst_e_vat = $event.target.value">
  </div>
</app-action-dialog>

