<p-panel header="Paid Installlment">
  <div class="p-3 border-isa" style="word-break: break-all">
    <div class="container-fluid">
      <dl class="row row--sm-gap">
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dt>AR</dt>
        </div>
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dd class="highlighter-blue">{{custService.srviceCustModel.v_ar | number:'.2-2'}}</dd>
        </div>
        <div class="offset-xl-2"></div>

        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dt>Total Rental Install</dt>
        </div>
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dd class="highlighter-blue">{{custService.srviceCustModel.lblrental | number:'.2-2'}}</dd>
        </div>
        <div class="offset-xl-2"></div>
      </dl>

      <dl class="row row--sm-gap">
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dt>O/S Installment</dt>
        </div>
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dd class="highlighter-blue">{{custService.srviceCustModel.lblos_inst | number:'.2-2'}}</dd>
        </div>
        <div class="offset-xl-2"></div>

        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dt>O/S Unearn</dt>
        </div>
        <div class="col-xl-2 col-xl-2--sm-gap col-md-3 col-md-3--sm-gap col-12 col-12--sm-gap text-right">
          <dd class="highlighter-blue">{{custService.srviceCustModel.lblos_unearn | number:'.2-2'}}</dd>
        </div>
        <div class="offset-xl-2"></div>
      </dl>

      <div class="row">
        <!-- <p-table [value]="list_cdspaid_inst" [responsive]="true" scrollable="true" > -->
        <p-table [value]="list_cdspaid_inst" scrollable="true" [style]="{width:'72vw'}" selectionMode="single"
                 [paginator]="true" [rows]="10" scrollHeight="50vh" [resizableColumns]="true" columnResizeMode="expand">
          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:100px">
              <col style="width:120px">
              <col style="width:100px">
              <col style="width:100px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="text-center">
              <th pResizableColumn>Batch Date</th>
              <th pResizableColumn>Receipt No.</th>
              <th pResizableColumn>Receipt Date</th>
              <th pResizableColumn>Cheque No.</th>
              <th pResizableColumn>Paid Amount</th>
              <th pResizableColumn>Paid Type</th>
              <th pResizableColumn>Installment</th>
              <th pResizableColumn>VAT</th>
              <th pResizableColumn>Rental Install</th>
              <th pResizableColumn>No.</th>
              <th pResizableColumn>Due</th>
              <th pResizableColumn>Day Late</th>
              <th pResizableColumn>Penalty</th>
              <th pResizableColumn>Interest Change</th>
              <th pResizableColumn>Late Change</th>
              <th pResizableColumn>Rate</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <td class="text-center">{{rowData.str_date_pay}}</td>
              <td class="text-center">{{rowData.document_no}}</td>
              <td class="text-center">{{rowData.document_date}}</td>
              <td class="text-center">{{rowData.cheque_number}}</td>
              <td class="text-right">{{rowData.paid_amt | number:'.2-2'}}</td>
              <td class="text-left">{{rowData.paid_desc}}</td>
              <td class="text-right">{{rowData.inst_amt | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.vat_amt | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.rental_amt | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.at_term}}</td>
              <td class="text-center">{{rowData.due_date}}</td>
              <td class="text-center">{{rowData.day_late}}</td>
              <td class="text-right">{{rowData.penalty | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.interest_charge | number:'.2-2'}}</td>
              <td class="text-right">{{rowData.late_charge | number:'.2-2'}}</td>
              <td class="text-center">{{rowData.rate_pen}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <th colspan="16">
                No Record Found
              </th>
            </tr>
          </ng-template>
        </p-table>


      </div>
    </div>
  </div>
</p-panel>
