<div class="container-fluid py-4">
  <div class="row">
    <app-alert-dialog #alertDialog>
    </app-alert-dialog>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3 ">
        <div class="card-header d-flex justify-content-between"
             style="background-color: #cbfb8b">
          <div class="h6 text-success d-flex align-items-center ">
            <div class="font-weight-bold">Entity</div>
          </div>
        </div>
        <div class="card-body">
          <div class="input-group">
            <input #search_id class="form-control" type="text"
                   size="50" placeholder="Search"
                   (keyup)="pressEnter($event)"
                   [(ngModel)]="search_input">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"
                      (click)="searchCustomer()">
                <i class="fa fa-search"></i>Search
              </button>
            </div>
          </div>
          <div class="my-4">
            <div *ngIf="loading" style="text-align: center">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <br>
            <p *ngIf="totalRecords===0 && searchClicked" class="text-danger">
              ไม่พบข้อมูล "{{searchNotFoundText}}"
            </p>
            <div *ngIf="!loading">
              <div class="my-1" style="text-align: right">
                <button type="button" class="btn btn-primary"
                (click)="newEntity()">
                  <i class="fa fa-plus"></i>Add New Entity
                </button>
              </div>
              <p-dataTable #dt
                           [value]="entitySearch"
                           scrollable="true" scrollHeight="380px"
                           selectionMode="single"
                           [rows]="10" [paginator]="true">
                <p-column field="entCode"
                          header="ENT CODE"
                          [filter]="true"
                          filterMatchMode="contains">
                </p-column>
                <p-column field="fNameT"
                          header="First Name Th"
                          [filter]="true"
                          filterMatchMode="contains">
                </p-column>
                <p-column field="lNameT"
                          header="Last Name Th"
                          [filter]="true"
                          filterMatchMode="contains">
                </p-column>
                <p-column field="fNameE"
                          header="First Name En"
                          [filter]="true"
                          filterMatchMode="contains">
                </p-column>
                <p-column field="lNameE"
                          header="Last Name En"
                          [filter]="true"
                          filterMatchMode="contains">
                </p-column>
                <p-column field="newCardNo"
                          header="Card No"
                          [filter]="true"
                          filterMatchMode="contains">
                </p-column>
                <p-column [style]="{'width':'100px','text-align':'center'}">
                  <ng-template pTemplate="header">
                    Action
                  </ng-template>
                  <ng-template let-entity="rowData" pTemplate="body">
                    <button class="btn btn-warning" type="button"
                            (click)="editEntity(entity)">Edit</button>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
