<p-panel header=" Current Address / Certificate Address">
  <div class="col-md-12">
    <div class="d-flex">
      <div class="flex-md-column col-md-10">
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.address">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-2">
        <div class="form-group">
          <label>Address Code</label>
          <div class="input-group">
           <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip" readonly>
           <app-search-un app-search-un [inuURL]="urlAddress"
                         [servicetype]="'POST'" [objforpost]="dataAddress"
                         title="ZIP CODE;Address; ;POST CODE;" [widthcol]="'100;300;0;100;'"
                         (col1)="setZip($event,'CC')"
                         (col2)="setZip_desc($event,'CC')"
                         (col4)="setPost($event,'CC')"
           ></app-search-un>
          </div>
        </div>
      </div>
      <div class="flex-md-column col-md-8">
        <div class="form-group">
          <label>&nbsp;</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip_desc" readonly>
        </div>
      </div>
      <div class="col-md-2 ">

        <div class="form-group">
          <label>Post Code</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.post_cd" readonly>
        </div>
      </div>
    </div>
    <div class="d-flex">

      <div class="col-md-10">
        <div class="form-group">
          <label>Nearby Place</label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.near">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-4 ">
        <div class="form-group">
          <label>Telephone No. </label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.tel">
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="form-group">
          <label>Fax No.</label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.fax_current">
        </div>
      </div>
    </div>
  </div>
</p-panel>
<p-panel header=" Address VAT Registration ">
  <div class="col-md-12">
    <div class="d-flex">
      <div class="flex-md-column col-md-10">
        <div class="form-group">
          <label>Address</label>
          <button (click)="copyOwnr('VAT')" > <i class="fa fa-copy">  Duplicate Address from Current </i> </button>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.add_c">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-2">
        <div class="form-group">
          <label>Address Code</label>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip_c" readonly>
            <app-search-un app-search-un [inuURL]="urlAddress"
                           [servicetype]="'POST'" [objforpost]="dataAddress"
                           title="ZIP CODE;Address; ;POST CODE;" [widthcol]="'100;300;0;100;'"
                           (col1)="setZip($event,'C')"
                           (col2)="setZip_desc($event,'C')"
                           (col4)="setPost($event,'C')"
            ></app-search-un>
          </div>
        </div>

      </div>
      <div class="flex-md-column col-md-8">
        <div class="form-group">
          <label>&nbsp;</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip_c_desc" readonly>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group">
          <label>Post Code</label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.post_cd_c" readonly>
        </div>
      </div>
    </div>
  </div>
</p-panel>
<p-panel header=" Office">
  <div class="col-md-12">
    <div class="d-flex">
      <div class="flex-md-column col-md-6">
        <div class="form-group">
          <label>Address</label>
          <button (click)="copyOwnr('OFFICE')" > <i class="fa fa-copy">  Duplicate Address from Current </i> </button>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.add_o">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-2">
        <div class="form-group">
          <label>Address Code</label>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip_o" readonly>
            <app-search-un app-search-un [inuURL]="urlAddress"
                           [servicetype]="'POST'" [objforpost]="dataAddress"
                           title="ZIP CODE;Address; ;POST CODE;" [widthcol]="'100;300;0;100;'"
                           (col1)="setZip($event,'O')"
                           (col2)="setZip_desc($event,'O')"
                           (col4)="setPost($event,'O')"
            ></app-search-un>
          </div>
        </div>

      </div>
      <div class="flex-md-column col-md-8">
        <div class="form-group">
          <label>&nbsp;</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip_o_desc" readonly>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Post Code</label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.post_cd_o" readonly>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-10">
        <div class="form-group">
          <label>Nearby Place </label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.near_o">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-3 ">
        <div class="form-group">
          <label>Tel. </label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.tel_o">
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="form-group">
          <label>Fax No.</label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.fax_office">
        </div>
      </div>
    </div>
  </div>
</p-panel>
<p-panel header=" Mail">
  <div class="col-md-12">
    <div class="d-flex">
      <div class="flex-md-column col-md-6">
        <div class="form-group">
          <label>Address</label>
          <button (click)="copyOwnr('MAIL')" > <i class="fa fa-copy">  Duplicate Address from Current </i> </button>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.add_m">
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="flex-md-column col-md-2">

        <div class="form-group">
          <label>Address Code</label>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip_m" readonly>
            <app-search-un app-search-un [inuURL]="urlAddress"
                           [servicetype]="'POST'" [objforpost]="dataAddress"
                           title="ZIP CODE;Address; ;POST CODE;" [widthcol]="'100;300;0;100;'"
                           (col1)="setZip($event,'M')"
                           (col2)="setZip_desc($event,'M')"
                           (col4)="setPost($event,'M')"
            ></app-search-un>
          </div>
        </div>


      </div>
      <div class="flex-md-column col-md-8">
        <div class="form-group">
          <label>&nbsp;</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.zip_m_desc" readonly>
        </div>
      </div>
      <div class="d-flex">
        <div class="form-group">
          <label>Post Code</label>
          <input type="text" class="form-control " [(ngModel)]="caEntityDetail.post_cd_m" readonly>
        </div>
      </div>
    </div>
  </div>
</p-panel>
<p-panel header=" Tel.">
  <div class="col-md-12">
    <div class="d-flex">
      <div class="flex-md-column col-md-3">
        <div class="form-group">
          <label>Tel.1 </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.mobile_phone">
        </div>
      </div>
      <div class="flex-md-column col-md-3">
        <div class="form-group">
          <label>Tel.2</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.mobile_phone2">
        </div>
      </div>
      <div class="flex-md-column col-md-3">
        <div class="form-group">
          <label>Tel.3</label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.mobile_phone3">
        </div>
      </div>
      <div class="flex-md-column col-md-3">
        <div class="form-group">
          <label>Email Address </label>
          <input type="text" class="form-control" [(ngModel)]="caEntityDetail.email_address"  >
        </div>
      </div>
    </div>
  </div>
</p-panel>


